body {
	background: #f7f9fa url(../img/color1/bg.jpg) repeat-x 0px 42px;
}
body.printPage {
	background: none;
}
a {color: #324c5c;}
a:hover{color: #006ca9; text-decoration: underline;}
.btn a, .btn input{
	text-shadow: -1px -1px 1px #00629b;
	background: #008bc1;
	background: -moz-linear-gradient(top,  #008bc1 0%, #005296 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008bc1), color-stop(100%,#005296));
	background: -webkit-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: -o-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: -ms-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: linear-gradient(to bottom,  #008bc1 0%,#005296 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008bc1', endColorstr='#005296',GradientType=0 );
}
#top .btn a{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00008bc1', endColorstr='#00005296',GradientType=0 );
}
.btn a:hover, .btn input:hover{
	color: #fff;
	text-decoration: none;
}
.btn.alt a,#order_cart_header.active a, .btn.alt button, .btn.alt input[type="submit"], .btn_a.alt button{
	text-shadow: -1px -1px 1px #677d00;
	background: #bad000;
	background: -moz-linear-gradient(top,  #bad000 0%, #5d8f00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bad000), color-stop(100%,#5d8f00));
	background: -webkit-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: -o-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: -ms-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: linear-gradient(to bottom,  #bad000 0%,#5d8f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad000', endColorstr='#5d8f00',GradientType=0 );
}
#order_cart_header a{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F9FA', endColorstr='#F7F9FA',GradientType=0 );
}
#order_cart_header.active a{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad000', endColorstr='#5d8f00',GradientType=0 );
}
#order_cart_header.active a:hover, .btn.alt a:hover, .btn.alt button:hover, .btn_a.alt button:hover, .btn.alt input[type="submit"]:hover{
	box-shadow: inset 0px 0px 4px 1px #b8ce67;
}
.btn.alt a:active,
#order_cart_header.active a:active,
.btn.alt button:active, .btn_a.alt button:active, .btn.alt input[type="submit"]:active,
#sort2 .compareList a:active,
#tovar .compareList a:active{
	box-shadow: inset 0px 2px 4px 0px #547a00;
	background: #5d8f00;
	background: -moz-linear-gradient(top,  #5d8f00 0%, #bad000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d8f00), color-stop(100%,#bad000));
	background: -webkit-linear-gradient(top,  #5d8f00 0%,#bad000 100%);
	background: -o-linear-gradient(top,  #5d8f00 0%,#bad000 100%);
	background: -ms-linear-gradient(top,  #5d8f00 0%,#bad000 100%);
	background: linear-gradient(to bottom,  #5d8f00 0%,#bad000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d8f00', endColorstr='#bad000',GradientType=0 );
}
.btn.darrow a .b,
.btn.darrow a b{
	border-left: 1px solid #005595;
	box-shadow: inset 1px 0px 0px 0px #218dbf;
}
.btn.buy a b{
	border-right: 1px solid #005595;
	box-shadow: inset -1px 0px 0px 0px #218dbf;
}
.btn.call a{
	border: 1px solid #d0d6db;
	text-shadow: none;
	background: #fdfefe;
	background: -moz-linear-gradient(top,  #fdfefe 0%, #eceef2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#eceef2));
	background: -webkit-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: -o-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: -ms-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: linear-gradient(to bottom,  #fdfefe 0%,#eceef2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#eceef2',GradientType=0 );
}
.btn.call a:hover{
	border: 1px solid #a5e3fc;
	box-shadow: 0px 0px 0px 1px #dcf2fb;
	color: #333;
}
.btn.call a:active{
	border: 1px solid #bbc2c9;
	background: #e9ecef;
	box-shadow: inset 0px 2px 5px #b3bbc2;
}
.btn.call a b,
.btn.call a .b{
	border-right: 1px solid #fff;
	box-shadow: inset -1px 0px 0px 0px #d0d6db;
	background: url(../img/color1/call.png) no-repeat center center;
}
.btn.call a .c{
	border-right: 1px solid #fff;
	box-shadow: inset -1px 0px 0px 0px #d0d6db;
	background: url(../img/color1/email.jpg) no-repeat center center;
	    background-size: 22px;
}
.btn a:hover{
	box-shadow: inset 0px 0px 4px 1px #00bde5;
}
.btn a:active{
	background: #005296;
	background: -moz-linear-gradient(top,  #005296 0%, #008bc1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005296), color-stop(100%,#008bc1));
	background: -webkit-linear-gradient(top,  #005296 0%,#008bc1 100%);
	background: -o-linear-gradient(top,  #005296 0%,#008bc1 100%);
	background: -ms-linear-gradient(top,  #005296 0%,#008bc1 100%);
	background: linear-gradient(to bottom,  #005296 0%,#008bc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005296', endColorstr='#008bc1',GradientType=0 );
}
.window.catalog {
	background: -moz-linear-gradient(top,  rgba(0,96,161,0.95) 0%, rgba(0,96,161,0.95) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,96,161,0.95)), color-stop(100%,rgba(0,96,161,0.95)));
	background: -webkit-linear-gradient(top,  rgba(0,96,161,0.95) 0%,rgba(0,96,161,0.95) 100%);
	background: -o-linear-gradient(top,  rgba(0,96,161,0.95) 0%,rgba(0,96,161,0.95) 100%);
	background: -ms-linear-gradient(top,  rgba(0,96,161,0.95) 0%,rgba(0,96,161,0.95) 100%);
	background: linear-gradient(to bottom,  rgba(0,96,161,0.95) 0%,rgba(0,96,161,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f20060a1', endColorstr='#f20060a1',GradientType=0 );
}
.window.catalog .angle {
	border-color: transparent transparent #0060a1 transparent;
}
.window.catalog ul li.title {
	background: #004f8a;
}
.window.enter .title,
.window.wait .title,
.window.call .title,
.window2.compareList .title,
.windowBasket .title{
	text-shadow: -1px -1px 1px #00629b;
	background: #008bc1;
	background: -moz-linear-gradient(top,  #008bc1 0%, #005296 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008bc1), color-stop(100%,#005296));
	background: -webkit-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: -o-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: -ms-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: linear-gradient(to bottom,  #008bc1 0%,#005296 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008bc1', endColorstr='#005296',GradientType=0 );
}
header #search button {
	background:url(../img/color1/search.png) no-repeat center center;
}
#slides .slide .box .title {
	color: #006ca9;
}
#slides .slidesNext,
#slides .slidesPrevious {
	background: #028ec2;
	background: -moz-linear-gradient(top,  #028ec2 0%, #00559a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#028ec2), color-stop(100%,#00559a));
	background: -webkit-linear-gradient(top,  #028ec2 0%,#00559a 100%);
	background: -o-linear-gradient(top,  #028ec2 0%,#00559a 100%);
	background: -ms-linear-gradient(top,  #028ec2 0%,#00559a 100%);
	background: linear-gradient(to bottom,  #028ec2 0%,#00559a 100%);
}
.ie7 #slides .slidesNext {
	background: #028ec2 url(../img/slideArrows.png) no-repeat 12px 9px;
}
.ie7 #slides .slidesPrevious {
	background: #028ec2 url(../img/slideArrows.png) no-repeat 12px -42px;
}
#slides .slidesNext:hover,
#slides .slidesPrevious:hover {
	box-shadow: inset 0px 1px 4px 1px #26b1da;
}
#slides .slidesNext:active,
#slides .slidesPrevious:active{
	box-shadow: inset 0px 1px 4px 1px #025997;
}
#slides .slidesPagination li:hover a,
#slides .slidesPagination li.slidesCurrent a{
	background: #1f95c5;
	background: -moz-linear-gradient(top,  #1f95c5 1%, #00518f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1f95c5), color-stop(100%,#00518f));
	background: -webkit-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: -o-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: -ms-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: linear-gradient(to bottom,  #1f95c5 1%,#00518f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f95c5', endColorstr='#00518f',GradientType=0 );
}
h2.news{background: url(../img/color1/news.png) no-repeat 0px center;}
h2.brands{background: url(../img/color1/brands.png) no-repeat 0px center;}
h2.articles{background: url(../img/color1/articles.png) no-repeat 0px center;}
.pm:hover {
	border: 1px solid #a5e3fc;
	box-shadow: 0px 0px 0px 1px #dcf2fb;
}
.pm .p{background: url(../img/color1/pm.png) no-repeat 8px 4px;}
.pm .m{background: url(../img/color1/pm.png) no-repeat 8px -15px;}
.pm .p:active{
	background: #e4e7ea url(../img/color1/pm.png) no-repeat 8px 4px;
	box-shadow: inset 0px 1px 3px 0px #959faa;
}
.pm .m:active{
	background: #e4e7ea url(../img/color1/pm.png) no-repeat 8px -15px;
	box-shadow: inset 0px 1px 3px 0px #959faa;
	border-top: 1px solid #959faa;
}
.items .cart {background: url(../img/color1/cartHover.png) no-repeat -1px -1px;}
.items .cart:hover,.items .cart.active {background: url(../img/color1/cartHover.png) no-repeat -1px -43px;}
.items .cart:active{background: url(../img/color1/cartHover.png) no-repeat -1px -85px !important;}
div.news article .date,
h1 .date, span.date{background: #9eb823;}
.bigIcons li:after{
	background-image:url(../img/color1/bigIcons.png);
	background-repeat: no-repeat;
}
.sort span a:hover,
.category span a:hover,
#pagination span a:hover,
#view span a:hover,
#sort2 span a:hover,
#comparator_inner > .left .options div a:hover,
.viewBlock span a:hover,
#content > a.more:hover {
	border: 1px solid  #a5e3fc;
}
.sort span a:active,
.category span a:active,
#pagination span a:active,
#view span a:active,
#sort2 span a:active,
#comparator_inner > .left .options div a:active,
 .viewBlock span a:active,
 #content > a.more:active {
	border: 1px solid #bbc2c9;
	background: #e9ecef;
	box-shadow: inset 0px 2px 5px #b3bbc2;
}
.sort span.current a,
.category span.current a,
#pagination span.current a,
#view span.current a,
#sort2 span.current a,
#comparator_inner > .left .options div.current a,
.viewBlock span.current a{
	color: #347092;
	background: #d6e9f0;
	box-shadow: inset 0px 1px 4px 0px #a9c6d1;
}
#pagination span.prev a:active{
	background: #e9ecef url(../img/pagination.png) no-repeat 8px 7px;
}
#pagination span.next a:active{
	background: #e9ecef url(../img/pagination.png) no-repeat -31px 7px;
}
.ie9 .sort span.current a,
.ie9 .category span.current a,
.ie9 #pagination span.current a,
.ie9 #view span.current a,
.ie9 #sort2 span.current a,
.ie9 #comparator_inner > .left .options div.current a,
.ie8 .sort span.current a,
.ie8 .category span.current a,
.ie8 #pagination span.current a,
.ie8 #view span.current a,
.ie8 #sort2 span.current a,
.ie8 #comparator_inner > .left .options div.current a,
.ie7 .sort span.current a,
.ie7 .category span.current a,
.ie7 #pagination span.current a,
.ie7 #view span.current a,
.ie7 #sort2 span.current a,
.ie7 #comparator_inner > .left .options div.current a,
.ie7 .viewBlock span.current a,
.ie8 .viewBlock span.current a,
.ie9 .viewBlock span.current a {
	border: 1px solid #008bc1;
	color: #005397;
}
.window.catalog > ul > li > ul a {
	color: #66ccff;
}
.window2.compareList article .close{
	width: 16px;
	height: 16px;
	top: 3px;
	right: 3px;
	background:url(../img/color1/close.png);
}
.items.basket .close{
	width: 16px;
	height: 16px;
	top: 0;
	right: -20px;
	background:url(../img/color1/close.png);
}
#view span.view1 a{background: url(../img/color1/view.png) no-repeat 5px 7px;}
#view span.view2 a{background: url(../img/color1/view.png) no-repeat -21px 7px;}
#view span.view3 a{background: url(../img/color1/view.png) no-repeat -43px 7px;}
#view span.view1.current a{background: #d6e9f0 url(../img/color1/view.png) no-repeat 5px -14px;}
#view span.view2.current a{background: #d6e9f0 url(../img/color1/view.png) no-repeat -21px -14px;}
#view span.view3.current a{background: #d6e9f0 url(../img/color1/view.png) no-repeat -43px -14px;}
.btn.wait{
	background: #999999;
	background: -moz-linear-gradient(top,  #999999 1%, #5a5a5a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#999999), color-stop(100%,#5a5a5a));
	background: -webkit-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
	background: -o-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
	background: -ms-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
	background: linear-gradient(to bottom,  #999999 1%,#5a5a5a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#5a5a5a',GradientType=0 );

}
.btn.wait a{
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');

}
.btn.wait:hover, .btn.wait.active{
	border: none;
	box-shadow: none;
	background: #e16a4c;
	background: -moz-linear-gradient(top,  #e16a4c 1%, #b92a1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e16a4c), color-stop(100%,#b92a1e));
	background: -webkit-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
	background: -o-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
	background: -ms-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
	background: linear-gradient(to bottom,  #e16a4c 1%,#b92a1e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e16a4c', endColorstr='#b92a1e',GradientType=0 );
}
.btn.wait:active{
	border: none;
	box-shadow: none;
	background: #b92a1e;
	background: -moz-linear-gradient(top,  #b92a1e 0%, #e16a4c 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b92a1e), color-stop(99%,#e16a4c));
	background: -webkit-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
	background: -o-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
	background: -ms-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
	background: linear-gradient(to bottom,  #b92a1e 0%,#e16a4c 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b92a1e', endColorstr='#e16a4c',GradientType=0 );
	box-shadow: inset 0px 3px 5px 0px #862e19;

}
.btn.wait a:active{
	border: none;
	background: url(../img/wait.png) no-repeat 23px 5px;
	box-shadow: none;
}
.btn.wait:hover a, .btn.wait.active a{
	border: none;
	box-shadow: none;
}
ul.simple {list-style-image: url(../img/color1/listStyle.png);}
div.filter {
	border: 1px solid #c1c9cf;
	background: #e0e8ed;
}
#sort2 .compareList.active,
#tovar .compareList.active{
	border: 1px solid #8fb338;
	background: #bad000;
	background: -moz-linear-gradient(top,  #bad000 0%, #5d8f00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bad000), color-stop(100%,#5d8f00));
	background: -webkit-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: -o-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: -ms-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: linear-gradient(to bottom,  #bad000 0%,#5d8f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad000', endColorstr='#5d8f00',GradientType=0 );
}
#tovar .box .big .discount{background: #0e90c3;}
#tovar .box .big .hit{background: #80a800;}
#tovar .box .big .new{background: #cf4d37;}
#tovar .box .big .discount b{background:url(../img/color1/label2.png)}
#tovar .box .big .hit b{background:url(../img/color1/label1.png)}
#tovar .box .big .new b{background:url(../img/color1/label3.png)}
#reviews .mark b{background:url(../img/color1/mark.png) no-repeat 0px -39px;}
#reviews .mark b.f{background:url(../img/color1/mark.png) no-repeat 0px 0px;}
#reviews .info span.name,
#reviews .info span.name a{
	color: #629300;
}
.radio {background:url(../img/color1/radio.png) no-repeat -42px -3px;}
.radio.checked {background:url(../img/color1/radio.png) no-repeat 0px -3px;}
table.view3 td span.no{background: url(../img/color1/count.png) no-repeat 0px 4px;}
table.view3 td span.low{background: url(../img/color1/count.png) no-repeat 0px -54px;}
table.view3 td span.medium{background: url(../img/color1/count.png) no-repeat 0px -150px;}
table.view3 td span.high{background: url(../img/color1/count.png) no-repeat 0px -226px;}
.files span.file1 a{background: url(../img/color1/fileIco.png) no-repeat 0px center;}
.files span.file2 a{background: url(../img/color1/fileIco2.png) no-repeat 0px center;}
header #basket .title .add, #add_in_basket {
	background: url(../img/color1/blue.png) no-repeat 0px 0px;
}

/*NEW*/
div > a.viewP2 {
	background: #c24e00;
	background: #c24e00; /* Old browsers */
	background: -moz-linear-gradient(top,  #c24e00 0%, #952d00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c24e00), color-stop(100%,#952d00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c24e00 0%,#952d00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c24e00 0%,#952d00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c24e00 0%,#952d00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c24e00 0%,#952d00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c24e00', endColorstr='#952d00',GradientType=0 ); /* IE6-9 */
	text-shadow: -1px -1px 1px #973900;
}
div > a.viewP2:hover {
	box-shadow: inset 0px 0px 4px 1px #964400;
}
div > a.viewP2:active {
	background: #952d00; /* Old browsers */
	background: -moz-linear-gradient(top,  #952d00 0%, #c24e00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#952d00), color-stop(100%,#c24e00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #952d00 0%,#c24e00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #952d00 0%,#c24e00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #952d00 0%,#c24e00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #952d00 0%,#c24e00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#952d00', endColorstr='#c24e00',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0px 0px 4px 1px #964400;
}

.btn.buy a.viewP2 b {
	background: url("../img/buyP2.png") 50% 50% no-repeat transparent;
	border-right: 1px solid #954000;
	box-shadow: inset -1px 0px 0px 0px #bf5321;
}

span.nal {color: #629300!important;}
.podzakaz {color: #c13600!important;}
span.nenal {color: #CC6666!important;}
.title2 .articul {
	color: #929494;
	font: 12px/18px "Display";
}
