body,
a,
p,
h1,
h2,
h3,
aside.right .title,
div.news article p,
.bigIcons li a,
ul.brands li a,
.sort span a,
.items .title,
#slides .slide .box .title,
.menu span a,
#reg a, #reg_ext a,
div.news article .title,
.window.catalog > ul > li.title > a,
.window.catalog > ul > li > a,
.window.enter .title, .window.call .title, .window2.compareList .title,
.window.enter label, .window.call label,
.btn a, .btn button, .btn_a button, .btn input,
.tel,
.styled-form input[type="submit"], .styled-form input[type="button"],
#sort2 .compareList a, #tovar .compareList a,
#sort2 .how span a,
.window2.compareList .info td,
table.feature th,
.items.view3 td,
header #logo span,
.bigIcons li span,
header #basket .inf,
.input input, input.input,
.window.enter .input input, .window.call .input input,
.styled-form input[type="text"], .styled-form input[type="password"], .styled-form textarea,
header .vcard .time
{
    font-family: "Roboto", arial !important;
}
body .menu span{
    margin-right: 5px !important;
}
body header .call{
    margin-left: 12px;
}
body header .call a{
    padding: 0px 10px 0px 40px !important;
}
body .watch div.btn{
    margin: 15px 0;
}
body .filter h3{
    font-size: 12px;
}
body .filter .acc{
    padding: 0 5px;
}
body #tovar .box2{
    width: 360px;
}
body .btn.alt.right a.qorder{
    padding: 0 5px;
}
body header #logo span{
    width: 260px;
    margin-right: 45px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #0078b5;
}
body{
    background: #FFF !important;
}
body footer .menu span{
    background: none;
}
#tabs_wrapper table.items.basket.view3 .count{
    margin-right: 2px;
}
body .vcard .tel,
header .vcard .time span,
header .vcard .time
{
    color: #000;
}
body .vcard .tel span{
    color: #000;
    font-size: 16px;
}