/* general */
td > ul >li >a
{
font-size:10px !important;

}
td > ul >li
{
margin-left:10px;
text-align:left;
list-style:none;
}

body {
    font: 14px "Display";
    color: #666;
}

p {
    font: 14px/19px "Display";
    color: #666;
    margin: 20px 0;
}

.container {
    width: 930px;
    margin: 0 auto;
}

.printPage .container {
    width: 930px;
    margin: 0;
}

.right {
    float: right;
}

.left {
    float: left;
}

.btn,
btn_a {
    position: relative;
}

.btn a,
.btn button,
.btn_a button,
.btn input {
    font: 15px/38px "DisplayMedium";
    color: #fff;
    text-transform: uppercase;
    display: block;
    height: 38px;
    border-radius: 2px;
    padding: 0px 13px;
    text-decoration: none;
    border: none;
}

.btn.darrow a {
    padding: 0px 50px 0px 13px;
}

.btn.darrow a .b,
.btn.darrow a b {
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(../img/dArrow.png) no-repeat center center;
}
.btn.darrow a .b,
.btn.darrow a b {
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(../img/dArrow.png) no-repeat center center;
}

.btn.buy a {
    padding: 0px 13px 0px 50px;
}

.btn.buy a b {
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../img/buy.png) no-repeat center center;
}

.btn.call a {
    padding: 0px 13px 0px 50px;
    color: #333333;
    height: 36px;
}

.btn.call a .b,
.btn.call a b {
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.relative {
    position: relative;
    z-index: 100;
}

.input input,
input.input {
    border: 1px solid #d3d9dd;
    border-radius: 2px;
    background: #fefefe;
    box-shadow: inset 0px 1px 5px 0px #dbdfe4;
    font: italic 14px "Display";
    color: #616161;
    padding: 0px 10px;
}

a {
    font-family: "Display";
    font-size: 14px;
    line-height: 18px;
    color: #486f86;
}

ul.simple {
    padding-left: 25px;
}

ul.simple li {
    line-height: 19px;
}


/* top */

#top {
    height: 42px;
    border-bottom: 1px solid #c6cfd2;
    position: relative;
    z-index: 501;
    background: rgb(253, 254, 254);
    background: -moz-linear-gradient(top, rgba(253, 254, 254, 1) 0%, rgba(234, 239, 243, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(253, 254, 254, 1)), color-stop(100%, rgba(234, 239, 243, 1)));
    background: -webkit-linear-gradient(top, rgba(253, 254, 254, 1) 0%, rgba(234, 239, 243, 1) 100%);
    background: -o-linear-gradient(top, rgba(253, 254, 254, 1) 0%, rgba(234, 239, 243, 1) 100%);
    background: -ms-linear-gradient(top, rgba(253, 254, 254, 1) 0%, rgba(234, 239, 243, 1) 100%);
    background: linear-gradient(to bottom, rgba(253, 254, 254, 1) 0%, rgba(234, 239, 243, 1) 100%);
}

.menu span {
    margin-right: 16px;
    padding-right: 12px;
    /*background: url(../img/color1/rArrow.png) no-repeat right 4px;*/
}

footer .menu span {
    background: url(../img/color1/rArrow.png) no-repeat right 3px;
}

.menu span a {
    font: 14px/42px "Display";
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.menu span a:hover {
    text-decoration: underline;
    color: #006ca9;
}
.menu.left a.selected {
    color: #006ca9;

}
#reg,
#reg_ext {
    height: 28px;
    margin-top: 6px;
    padding-left: 30px;
    border-left: 1px dotted #c0c3c5;
    background: url(../img/ico_reg.png) no-repeat 15px center;
}

#reg_ext {
    width: 100px
}

#enter {
    height: 28px;
    margin-top: 6px;
    padding-left: 30px;
    padding-right: 15px;
    border-left: 1px dotted #c0c3c5;
    background: url(../img/ico_enter.png) no-repeat 15px center;
}

#reg a,
#reg_ext a {
    margin-top: 8px;
    display: block;
    font: 12px "Display";
    color: #222222;
}

#enter a {
    margin-top: 8px;
    display: block;
    font: 12px "Display";
    color: #222222;
    text-decoration: none;
    border-bottom: 1px dotted #222;
    background: none;
    height: auto;
    padding: 0px;
    text-shadow: none;
    text-transform: none;
    background: none;
}

.ie9 #enter a {
    background: #fafbfc;
    background: -ms-linear-gradient(top, #fafbfc 0%, #fafbfc 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #fafbfc 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fafbfc', endColorstr='#fafbfc', GradientType=0);
}

#enter a:hover {
    border-bottom: none;
    box-shadow: none;
}

.window {
    z-index: 120;
}

.window.enter,
.window2.compareList {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 270px;
    box-shadow: 0px 2px 7px 0px #babcbe;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.window.call
{
    position: absolute;
    top: 40px;
    right: 216px;
    width: 270px;
    box-shadow: 0px 2px 7px 0px #babcbe;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.window2.compareList {
    top: 100px;
    left: 50%;
    margin-left: -375px;
    width: 750px;
}

#comparator_inner > .left {
    padding: 20px 0px 20px 20px;
    width: 200px;
}

#comparator_inner > .left .options {
    height: 178px;
    width: 175px;
    margin-left: 25px;
    margin-top: 30px;
}

.ie7 #comparator_inner > .left .options {
    padding-bottom: 20px;
}

#comparator_inner > .left .options div {
    display: block;
    float: left;
    margin: 0 5px 10px 0px;
    height: 30px;
}

#comparator_inner > .left .options div a {
    display: block;
    padding: 0px 10px;
    font: 14px/30px "Display";
    color: #333333;
    text-decoration: none;
    border: 1px solid #d3d8dc;
    border-radius: 15px;
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfc), color-stop(100%, #e9ecf0));
    background: -webkit-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -o-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #e9ecf0 100%);
}

.ie9 #comparator_innert > .left .options div a {
    background: #fafbfc;
    background: -ms-linear-gradient(top, #fafbfc 0%, #fafbfc 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #fafbfc 100%);
}

.window2.compareList .info {
    border-top: 1px solid #dde1e5;
    width: 100%;
}

.window2.compareList .info tr {}

.window2.compareList .info td {
    margin: 0px;
    font: 14px/18px "Display";
    color: #4f4d4d;
    border-bottom: 1px solid #dde1e5;
    vertical-align: middle;
    padding: 10px 0px;
}

.window2.compareList .info td > div {
    height: 36px !important;
    overflow: hidden;
}

.window2.compareList .info td b {
    font: 16px/18px "DisplayBold";
}

.window2.compareList .right .info td b {
    font: 18px/18px "DisplayBold";
    color: #333333;
}

#comparator_inner > .right {
    padding: 20px 20px 20px 0px;
    width: 510px;
    position: relative;
}

.window2.compareList article {
    float: left;
    width: 177px;
}

.window2.compareList article .img {
    border: 1px solid #d0d6db;
    margin-right: 35px;
    position: relative;
}

.window2.compareList article .img img {
    display: block;
    max-width: 140px;
}

.window2.compareList article .name {
    margin: 3px 0px;
    height: 36px;
    overflow: hidden;
    display: block;
    margin-right: 35px;
}

.window2.compareList article:last-child .img,
.window2.compareList article:last-child .name {
    margin-right: 0px;
}

.window2.compareList article:last-child {
    width: 143px;
}

.window2.compareList .right .info {
    margin-top: 37px;
    border-collapse: separate;
}

.window.enter .title,
.window.call .title,
.window2.compareList .title {
    border-radius: 2px 2px 0 0;
    height: 38px;
    font: 15px/38px "DisplayMedium";
    color: #f7f9fa;
    text-transform: uppercase;
    padding-left: 12px;
    width: 258px;
}

.window2.compareList .title {
    width: 738px;
}

.window.enter form,
.window.call form {
    padding: 0px 15px 0px;
}

.window.enter label,
.window.call label {
    display: block;
    margin: 15px 0px;
    height: 27px;
    font: 14px/27px "Display";
    color: #333;
}

.ie7 .window.enter label.input input,
.ie7 .window.call label.input input {
    position: relative;
    top: -30px;
}

.window.enter label.check,
.window.call label.check {
    font-size: 12px;
    line-height: normal;
    color: #3a414a;
    margin: 0px;
    margin-left: 75px;
}

.window.enter #remind,
.window.call #remind {
    font: 12px "Display";
    color: #486f86;
    margin: 0px;
    margin-left: 75px;
    display: block;
    padding-bottom: 10px;
}

.window.enter .btn {
    margin: 0px;
    margin-left: 75px;
}

.window.enter .input input,
.window.call .input input {
    display: block;
    height: 25px;
    float: right;
    width: 160px;
    padding: 0;
    margin: 0;
}

.window.wait {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 270px;
    box-shadow: 0px 2px 7px 0px #babcbe;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.view3 .window.wait {
    top: 35px;
}

.window.wait .title {
    border-radius: 2px 2px 0 0;
    height: 38px !important;
    font: 15px/38px "DisplayMedium" !important;
    color: #f7f9fa;
    text-transform: uppercase;
    padding-left: 12px;
    width: 258px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.window .btn.alt,
.window .btn_a.alt {
    margin: 10px 0px 15px 75px;
}

article:hover .window.wait .title {
    color: #f7f9fa;
}

.window.wait form {
    padding: 0px 15px 0px;
}

.window.wait label {
    display: block;
    margin: 15px 0px;
    height: 27px;
    font: 14px/27px "Display";
    color: #333;
}

.ie7 .window.wait label.input input {
    position: relative;
    top: -30px;
}

.window.wait label.check {
    font-size: 12px;
    line-height: normal;
    color: #3a414a;
}

.window.wait #remind {
    font: 12px "Display";
    color: #486f86;
}

.window.wait .input input {
    display: block;
    height: 25px;
    float: right;
    width: 160px;
    padding: 0;
    margin: 0;
}

#path {
    margin: 30px 0px;
    font: 13px "Display";
    color: #333333;
}

#path.alt {
    margin: 10px 0px 10px;
}

#path a {
    font-size: 13px;
}

#path span:after {
    content: " /";
}

#path span.current:after {
    content: " ";
}

.category {
    padding: 15px 0px 15px 0px;
}

.category span {
    display: block;
    float: left;
    margin: 0 5px 10px 0px;
}

.ie9 .category span {
    background: #fafbfc;
    background: -ms-linear-gradient(top, #fafbfc 0%, #fafbfc 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #fafbfc 100%);
}

.category span a {
    display: block;
    padding: 0px 10px;
    font: 14px/30px "Display";
    color: #333333;
    text-decoration: none;
    height: 30px;
    border: 1px solid #d3d8dc;
    border-radius: 15px;
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfc), color-stop(100%, #e9ecf0));
    background: -webkit-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -o-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #e9ecf0 100%);
}


/* header */

header {
    padding-top: 25px;
    margin-bottom: 15px !important;
    position: relative;
    z-index: 500;
}

header #logo {
    width: 450px;
}

header #logo span {
    display: block;
    float: right;
    width: 195px;
    font: 18px "Display";
    color: #333;
    margin-top: 25px;
    margin-right: 110px;
	margin-right: 10px;
	font-size: 26px;
	width: 265px;
}

header .buttons {
    padding-top: 30px;
}

#order_cart_header a {
    border: 1px solid #d3d8dc;
    background: #f7f9fa;
    border-radius: 2px;
    color: #999;
    text-shadow: none;
}

#order_cart_header.active a {
    color: #fff !important;
}

#order_cart_header a:hover {
    background: none;
    box-shadow: none;
}

#order_cart_header a:active {
    background: none;
    box-shadow: none;
}

.window.catalog {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 900px;
    padding: 25px 15px 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 0px #77848d;
}

.window.catalog .angle {
    display: block;
    position: absolute;
    top: -16px;
    left: 165px;
    border-style: solid;
    border-width: 8px;
    width: 0;
    height: 0;
}

.close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../img/close.png);
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.window.catalog > ul {
    float: left;
    margin-right: 12px;
    list-style: none;
    margin-bottom: 20px;
    width: 288px;
}

.window.catalog > ul > li {
    padding-left: 15px;
    padding-bottom: 10px;
}

.window.catalog > ul > li > a {
    font: 15px/20px "Display";
    color: #fff;
}

.window.catalog > ul > li.title {
    display: block;
    padding: 0 10px;
    border-radius: 18px;
    height: 35px;
    margin-bottom: 10px;
    width: auto;
}

.window.catalog > ul > li > ul {
    padding-left: 25px;
    list-style: none;
}

.window.catalog > ul > li > ul a {
    font: 14px/24px "Display";
}

.window.catalog > ul > li.title > a {
    font: 17px/35px "DisplayMedium";
    text-decoration: none;
    padding: 0;
}

header .vcard {
    margin-right: 0px;
}

header .vcard p {
    margin: 8px 0px;
}

.tel {
    font: 22px "Display";
    color: #232323;
}
.tel a{
    text-decoration: none;
    font: 22px "Display";
    color: #232323;
    cursor: pointer;
}

.tel span {
    color: #99a7ad;
}

header .vcard .time {
    font: 14px/18px "Display";
    color: #333333;
    padding-left: 20px;
    background: url(../img/clock.png) no-repeat left center;
}

header .vcard .time span {
    color: #7a858a;
}

header .vcard .email {
    padding-left: 20px;
    background: url(../img/email.png) no-repeat left center;
}

header #basket {
}

header #basket .title a {
    text-decoration: none;
    border-bottom: 1px dotted #232323;
    font: 18px "DisplayMedium";
    color: #232323;
    text-transform: uppercase;
}

header #basket .title a:hover {
    border: none;
}

header #basket .title .add,
#add_in_basket {
    height: 27px;
    width: 104px;
    padding-left: 5px;
    font: 12px/27px Arial;
    color: #fff;
    position: absolute;
    top: 0px;
    right: -30px;
    text-align: center;
	z-index:999;
}

header #basket .title {
    /*margin-bottom: 15px;*/
}

header #basket .inf.left {
    width: 100px;
}

header #basket .inf {
    font: 1px "Display";
    color: #8a969c;
}

header #basket .inf span {
    display: block;
    font: 18px "DisplayBold";
    color: #333333;
    margin-top: 2px;
}

header #search,
.search-page-form {
    display: block;
    /*width: 290px;*/
    width: 530px;
    margin-left: 15px;
    position: relative;
}
header #search form {
	position:relative;
	display:block;
	width:100%;
}
header #search input,
.search-page-form input {
    width: 100%;
	display:inline-block;
    height: 58px;
    line-height: 58px;
}

header #search button,
.search-page-form input[type="submit"] {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 38px;
    height: 35px;
    background: none;
    border: none;
}

.search-page-form input[type="submit"] {
    background: url(../img/color1/search.png) no-repeat center center;
}

header .call {

}

header .call a {
    padding: 0px 30px 0px 67px !important;
}

header .alt a {
    padding: 0px 25px;
    margin: 0px;
}


/* slides */

#slides {
    position: relative;
    margin-bottom: 25px;
	width: 1001px;
}

#slides.container{
	width: 1001px;
	overflow: hidden;
}

#slides .slide {
    position: relative;
}

#slides .slide .box {
    position: absolute;
    bottom: 20px;
    right: 65px;
    padding: 15px 20px 60px;
    width: 280px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.75)), color-stop(100%, rgba(255, 255, 255, 0.75)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#bfffffff', GradientType=0);
    border-radius: 3px;
    box-shadow: 0px 2px 6px 0px #cbcac5;
}

#slides .slide .box .title {
    font: 23px "DisplayMedium";
    text-decoration: none;
}

#slides .slide .box .text {
    font: 17px "Display";
    color: #333;
    margin: 10px 0;
}

#slides .slide .box .price {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font: 30px "DisplayBold";
    color: #333;
}

#slides .slide .box .btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#slides .slidesNext,
#slides .slidesPrevious {
    position: absolute;
    top: 176px;
    right: 0;
    width: 32px;
    height: 0px;
    padding-top: 32px;
    overflow: hidden;
    border: 6px solid #f7f9fa;
    border-radius: 32px;
    z-index: 10;
}

.ie9 #slides .slidesNext,
.ie9 #slides .slidesPrevious {
    border-radius: 0px;
}

#slides .slidesPrevious {
    /*left: -22px;*/
    left: 0;
}

#slides .slidesNext:after,
#slides .slidesPrevious:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(../img/slideArrows.png) no-repeat center 9px;
    z-index: 15;
}

#slides .slidesPrevious:after {
    background: url(../img/slideArrows.png) no-repeat center -42px;
}

.ie7 #slides .slidesNext:after,
.ie7 #slides .slidesPrevious:after {
    display: none;
}

#slides .slidesPagination {
    position: absolute;
    bottom: 15px;
    /*left: 15px;*/
    left: 50%;
    z-index: 10;
}

#slides .slidesPagination li {
    float: left;
    list-style: none;
    margin-right: 4px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #b7c1c5;
    background: -moz-linear-gradient(top, #b7c1c5 0%, #e4e6e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b7c1c5), color-stop(100%, #e4e6e8));
    background: -webkit-linear-gradient(top, #b7c1c5 0%, #e4e6e8 100%);
    background: -o-linear-gradient(top, #b7c1c5 0%, #e4e6e8 100%);
    background: -ms-linear-gradient(top, #b7c1c5 0%, #e4e6e8 100%);
    background: linear-gradient(to bottom, #b7c1c5 0%, #e4e6e8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b7c1c5', endColorstr='#e4e6e8', GradientType=0);
}

#slides .slidesPagination li a {
    display: block;
    overflow: hidden;
    padding-top: 8px;
    width: 8px;
    height: 0px;
    border-radius: 8px;
    margin-top: 2px;
    margin-left: 2px;
}


/* section */

.line {
    border-top: 1px solid #dde1e5;
    border-bottom: 1px solid #fff;
}

section {
    position: relative;
    z-index: 300;
}

aside.left {
    width: 130px;
    margin-right: 25px;
}

aside.right {
   /* width: 130px;*/
    width: 220px;
}

aside.filter {
    width: 170px;
}

aside.big {
    width: 160px;
}

#content {
    width: 620px;
    margin: 0 auto;
}

#content.big {
    width: 700px;
}

#content.big2 {
    width: 744px;
}

h1 {
    font: 23px "DisplayMedium";
    color: #333;
}

h2 {
    font: 21px "DisplayMedium";
    color: #333;
}

h1.ma,
h2.ma {
    margin-top: 20px;
}

h2.news {
    padding-left: 30px;
}

h2.brands {
    padding-left: 30px;
}

h2.articles {
    padding-left: 30px;
}

.items.inbrand article {
	min-height:auto;
}
.items article {
    width: 132px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 25px;
    float: left;
	min-height: 440px;
}

#content.big .items article {
    margin-right: 40px;
}

.items.view2 article {
    width: 100%;
    margin: 20px 0;
    float: none;
    position: relative;
}

.items.view2 a.more {
    font-size: 13px;
    margin-top: 12px;
}

.items.view2 article .price span {
    font: 13px "Display";
    display: block;
    margin-bottom: 10px;
}

.items.view2 article .price .old {
    font: 14px "Display";
    display: block;
    color: #a56060;
    margin-bottom: 35px;
    text-decoration: line-through;
    margin-top: 10px;
}

.items.view2 article .body {
    width: 375px;
    margin: 0px 180px 0px 145px;
}

.items.view2 article .altBody {
    width: 130px;
}

#content.big .items article label {
    display: block;
    margin-bottom: 5px;
}

.items article.last {
    margin-right: 0px !important;
}

.items .img {
    display: table-cell;
    width: 130px;
    height: 140px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d0d6db;
    background: #fff;
}

.items .title {
    display: block;
    font: 14px/18px "Display";
    margin-top: 10px;
    margin-bottom: 10px;
    height: 94px;
    overflow: hidden;
}

.items.view2 .title {
    font: 20px/24px "Display";
    height: auto;
}

.items .price {
    font: 24px "DisplayBold";
    color: #333;
}

.items .price + .clear {
    padding-top: 10px;
}
.items .productBlock .clear {
    padding-top: 10px;
}

.items .price.wait {
    display: block;
    margin: 1px 0px 0;
    font: 13px/14px "Display";
    color: #666666;
}

.pm {
    width: 25px;
    height: 34px;
    border-radius: 2px;
    border: 1px solid #d0d6db;
    background: #fdfefe;
    background: -moz-linear-gradient(top, #fdfefe 0%, #eceef2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfefe), color-stop(100%, #eceef2));
    background: -webkit-linear-gradient(top, #fdfefe 0%, #eceef2 100%);
    background: -o-linear-gradient(top, #fdfefe 0%, #eceef2 100%);
    background: -ms-linear-gradient(top, #fdfefe 0%, #eceef2 100%);
    background: linear-gradient(to bottom, #fdfefe 0%, #eceef2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#eceef2', GradientType=0);
}

.pm .p {
    display: block;
    height: 17px;
    border-bottom: 1px solid #d0d6db;
}

.pm .m {
    display: block;
    height: 15px;
    border-top: 1px solid #fff;
}

.count {
    margin-right: 8px;
    width: 35px;
    height: 34px;
    padding: 0px;
    border: 1px solid #d0d6db;
    box-shadow: inset 0px 1px 1px 0px #e8e6e7;
    text-align: center;
    font: 18px/34px Arial;
    color: #333;
}

.items .cart {
    display: block;
    width: 54px;
    height: 36px;
}

.items .have {
    width: 65px;
    font: 12px/18px Arial;
}

.btn.wait {
    border-radius: 2px;
    display: block;
}

.btn.wait a {
    background: none;
    padding: 0px 30px 0px 48px;
    text-shadow: -1px -1px 0px #6f6f6f;
    background: url(../img/wait.png) no-repeat 23px 5px;
}

ul.brands {
    list-style: none;
    margin-top: 25px;
    height: 730px;
    display: block;
    overflow-y: auto;
}

ul.brands li {
    /*padding: 12px 0;*/
    padding: 1px 0;
    border-bottom: 1px solid #dde1e5;
    border-top: 1px solid #fff;
}

ul.brands li:first-child {
    border-top: none;
    padding-top: 0px;
}

ul.brands li:last-child {
    border-bottom: none;
}

ul.brands li a {
    font: 17px "Display";
    color: #333;
}

ul.brands li:hover a {
	text-decoration: none;
}

div.news {
    margin-top: 25px;
}

div.news article {
    border-bottom: 1px solid #dde1e5;
    border-top: 1px solid #fff;
    padding: 20px 0;
}

div.news article:first-child {
    border-top: none;
    padding-top: 0px;
}

div.news article:last-child {
    border-bottom: none;
}

div.news article .date,
h1 .date,
span.date {
    font: 13px "DisplayMedium";
    color: #fff;
    padding: 0px 5px;
}

h1 .date {
    padding: 3px 5px;
    margin-right: 10px;
    position: relative;
    top: -1px;
}

img.img.left {
    margin: 15px 15px 15px 0px;
}

img.img.right {
    margin: 15px 0px 15px 15px;
}

div.news article .title {
    display: block;
    /*font: 14px "Display";*/
    font: 20px/24px "Display";
    ;
    margin: 8px 0px;
}

div.news article p {
    font: 14px/18px "Display";
    color: #666666;
    margin: 0px;
}

div.articles article {
    border-bottom: 1px solid #dde1e5;
    border-top: 1px solid #fff;
    padding: 20px 0;
}

div.articles article.first {
    border-top: none;
}

div.articles article:last-child {
    border-bottom: none;
}

.sort {
    margin-right: 160px;
}

.sort span {
    float: left;
}

.sort span a {
    height: 30px;
    padding: 0 10px;
    border: 1px solid #d3d8dc;
    display: block;
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfc), color-stop(100%, #e9ecf0));
    background: -webkit-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -o-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #e9ecf0 100%);
    font: 14px/30px "Display";
    color: #333333;
    text-decoration: none;
}

.sort span.first a {
    border-radius: 15px 0px 0px 15px;
}

.sort span.last a {
    border-radius: 0px 15px 15px 0px;
}

#pagination {
    padding: 10px 0;
}

#pagination span {
    display: block;
    float: left;
    margin-right: 7px;
}

#pagination span.none a {
    background: none;
    border: none;
}

#pagination span a {
    font: 13px/23px "Display";
    color: #4d4d4d;
    width: 23px;
    height: 23px;
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #d3d8dc;
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfc), color-stop(100%, #e9ecf0));
    background: -webkit-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -o-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #e9ecf0 100%);
    border-radius: 2px;
}

#sort2 {
    margin-top: 10px;
    position: relative;
}

.com {
    position: relative;
    z-index: 900 !important;
}

#shadow {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, rgba(0, 0, 0, 0.7) 99%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(51%, rgba(0, 0, 0, 0.7)), color-stop(99%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, rgba(0, 0, 0, 0.7) 99%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, rgba(0, 0, 0, 0.7) 99%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, rgba(0, 0, 0, 0.7) 99%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, rgba(0, 0, 0, 0.7) 99%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000', GradientType=0);
    z-index: 600;
}

#sort2 .how span {
    display: block;
    float: left;
    margin-right: 7px;
}

#sort2 .how span a {
    font: 13px/23px "Display";
    color: #4d4d4d;
    padding: 0px 15px 0px 5px;
    height: 23px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: url(../img/dArrow2.png) no-repeat right center;
    position: relative;
    border: 1px solid #d3d8dc;
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfc), color-stop(100%, #e9ecf0));
    background: -webkit-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -o-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #e9ecf0 100%);
    border-radius: 2px;
}

#sort2 .how span a:after {
    display: block;
    position: absolute;
    top: 0px;
    right: 5px;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/dArrow2.png) no-repeat right center;
}

#sort2 .how span.rev a:after {
    background: url(../img/dArrow2rev.png) no-repeat right center;
}


/*
#sort2 .how span.desc a {background:url(../img/dArrow.png) no-repeat right center;}
#sort2 .how span.desc a:after {background:url(../img/dArrow.png) no-repeat right center;}
*/

#sort2 .compareList,
#tovar .compareList {
    display: block;
    margin-right: 7px;
    border: 1px solid #d3d8dc;
    background: #f7f9fa;
    border-radius: 2px;
}

#tovar .compareList {margin-right:0; padding:0 5px;}

#sort2 .compareList a,
#tovar .compareList a,
#tovar .compareList label.add {
    font: 13px/23px "Display";
    color: #999999;
    padding: 0px 10px;
    height: 23px;
    display: block;
    text-decoration: none;
    text-align: center;
}

#tovar .compareList label.add {font:17px/23px "Display" !important; color:#999 !important; cursor:pointer;}

#sort2 .compareList.active a,
#tovar .compareList.active a {
    color: #fff;
}

#sort2 .text {
    font: 13px/25px "Display";
    color: #333333;
    margin-right: 8px;
    margin-left: 20px;
}

#sort2 .text:first-child {
    margin-left: 0px;
}

#pagination span.prev a {
    background: url(../img/pagination.png) no-repeat 8px 7px;
}

#pagination span.next a {
    background: url(../img/pagination.png) no-repeat -31px 7px;
}

#view {
    padding: 10px 0;
}

#view span {
    display: block;
    float: left;
}

#view span a {
    font: 13px/23px "Display";
    color: #4d4d4d;
    width: 23px;
    height: 23px;
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #d3d8dc;
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfc), color-stop(100%, #e9ecf0));
    background: -webkit-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -o-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #e9ecf0 100%);
}

#view span.view1 {
    border-radius: 2px 0px 0px 2px;
}

#view span.view3 {
    border-radius: 0px 2px 2px 0px;
}

.items.basket td {
    vertical-align: top !important;
    background: none !important;
    border: none !important;
}

.items.basket td.price {
    font-size: 30px !important;
    padding-right: 25px;
}

.items.basket .img {
    margin: 0px 10px 0px 0px;
}

.items.basket .tovar {
    width: 70%;
}

.items.basket .tovar .relative {
    width: 450px;
}

.items.basket .tovar .relative .btn a {
    margin-top: 0px;
    padding: 0px 13px;
}

.items.basket div.title2 {
    font: 18px/24px "Display";
    display: block;
    height: 96px;
    margin-top: -2px;
}

.itogo {
    margin: 15px 0px;
    height: 20px;
}

.itogo .text {
    font: 20px/20px "DisplayBold";
    color: #666;
    margin-right: 95px;
}

.itogo .price {
    font: 30px/20px "DisplayBold";
    color: #333;
    margin-right: 45px;
}

.buyBtn {
    margin: 15px 0px;
}

.buyBtn label {
    position: relative;
    top: 8px;
}

.buyBtn .btn.alt {
    margin-right: 10px;
}

.ordering {
    margin-top: 15px;
}

.ordering h2 {
    margin-bottom: 10px;
}

.ordering > div.left {
    width: 50%;
}

.ordering > div.right {
    width: 45%;
}

.ordering > div.left > div {
    margin: 13px 0px;
}

.ordering > div.left label {
    margin-right: 15px;
}

.ordering > div.left .main {
    width: 100px;
    margin-right: 5px;
    display: block;
    float: left;
}

.ordering > div.left input[type=text] {
    width: 330px;
    font-style: normal;
}

.ordering > div.right .comm {
    font: 12px/14px Verdana;
    color: #333;
}

.ordering > div.right .comm p {
    font: 11px/14px Verdana;
    color: #333;
    margin: 18px 0px;
}

.ordering > div.right textarea {
    width: 395px;
    height: 138px;
}

.items.view3 {
    width: 100%;
    margin: 20px 0;
}

.items.view3 th {
    padding: 8px 10px;
    text-align: left;
    font: 14px/14px "displayMedium";
    color: #333333;
    border: 1px solid #b3c0ca;
    background: #e7edf1;
    background: -moz-linear-gradient(top, #e7edf1 1%, #d7e1e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #e7edf1), color-stop(100%, #d7e1e8));
    background: -webkit-linear-gradient(top, #e7edf1 1%, #d7e1e8 100%);
    background: -o-linear-gradient(top, #e7edf1 1%, #d7e1e8 100%);
    background: -ms-linear-gradient(top, #e7edf1 1%, #d7e1e8 100%);
    background: linear-gradient(to bottom, #e7edf1 1%, #d7e1e8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e7edf1', endColorstr='#d7e1e8', GradientType=0);
}

.items.view3 td {
    padding: 8px 10px;
    text-align: left;
    font: 14px "displayMedium";
    color: #333333;
    border: 1px solid #b3c0ca;
    background: #fff;
    vertical-align: middle;
}

.items.view3.nal td {
    padding: 12px 10px;
    font: 14px "displayMedium";
    color: #666666 !important;
}

.items.view3 td.name {
    border-right: none;
}

.items.view3 td.price {
    border-left: none;
    white-space: nowrap;
    font: 18px "DisplayBold";
    vertical-align: middle;
}

.items.view3 td.price .old {
    text-decoration: line-through;
    font: 14px "Display";
    color: #a56060;
}

.items.view3 td.info {
    vertical-align: middle;
    white-space: nowrap;
}

.items.view3 td.info .buy {
    text-decoration: none;
    border-bottom: 1px dotted #486f86;
    color: #486f86;
}

.items.view3 td.info .wait.btn {
    background: none;
    border: none;
    box-shadow: none;
    height: auto;
    text-decoration: none;
    border-bottom: 1px dotted #cd4934;
    color: #486f86;
    padding: 0;
}

.items.view3 td.info .wait.btn a {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    font: 14px "displayMedium";
    color: #cd4934;
    height: 17px;
    text-shadow: none;
    text-transform: none;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#fdfefe', GradientType=0);
}

.items.view3 td.info .relative:hover .wait.btn {
    border: none;
}

.items.view3 td.info .compare {
    text-decoration: none;
    border-bottom: 1px dotted #808080;
    color: #808080;
    margin-left: 10px;
}

.items.view3 td.info .buy:hover,
.items.view3 td.info .compare:hover {
    border: none;
}

.filter {
    border-radius: 2px;
}

div.filter h3,
div.filter .h3 {
    font: 13px/32px "DisplayBold";
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    border-bottom: 1px solid #c2cdd5;
}

div.watch h3 {
    font: 13px "DisplayBold";
    text-transform: uppercase;
    color: #333333;
    margin-left: 15px;
}

.filter .acc {
    border-bottom: 1px solid #c2cdd5;
    padding: 0px 8px 0px 12px;
}

.filter .acc > a {
    font: 14px/20px "DisplayBold";
    padding: 6px 0px 6px;
    color: #333333;
    text-decoration: none;
    display: block;
}

.filter .acc > a {
    background: url(../img/Arrows.png) no-repeat right -34px;
}

.filter .acc > a.current {
    background: url(../img/Arrows.png) no-repeat right 13px;
}

.filter .acc .mark {
    font: 11px "display";
    color: #333333;
    margin: 0 0 20px;
}

.filter .acc .mark.center {
    float: left;
    margin-left: 45px;
}

.filter .made label {
    display: block;
    margin: 10px 0px;
}

.filter .btn {
    margin: 15px;
    text-align: center;
}

.watch {
    padding-top: 15px;
    margin-top: 15px;
    border: 1px solid #c8cfd5;
    border-radius: 2px;
    background: #fff;
    overflow: hidden;
}

.watch article {
    padding: 15px;
    float: left;
    width: 33%;
    box-sizing: border-box;
}

.watch article .buy {
    margin: 15px 0px 0px;
}

.watch article .buy a {
    padding: 0 0px 0 35px;
}

.watch article .img {
    display: block;
    width: 130px;
    height: 140px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d0d6db;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
}

.watch article .title {
    height: 52px;
    overflow: hidden;
    display: block;
}

.watch article .img img {}

.print a {
    display: block;
    background: url(../img/print.png) no-repeat;
    width: 27px;
    height: 27px;
}

#tovar {
    padding: 22px 0px 10px;
}

#tovar .box {
    width: 375px;
    height: 290px;
    margin-bottom: 10px;
}

#tovar .box .img {
    display: block;
    padding: 1px;
    background: #fff;
    border-radius: 2px;
}

#tovar .box .img:hover,
#tovar .box .img.current {
    border: 2px solid #b8ce00;
    padding: 0px;
}

#tovar .box .big {
    position: relative;
    display: table-cell;
    width: 290px;
    height: 290px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d0d6db;
    background: #fff;
}

#tovar .box .big:hover {
    border: 2px solid #b8ce00;
    padding: 0px;
}

#tovar .box .big .labels {
    position: absolute;
    top: 7px;
    left: 7px;
}

#tovar .box .big .labels>div {
    float: left;
    margin-right: 14px;
    height: 19px;
    padding: 0px 3px 0px 5px;
    font: 13px/18px "Display";
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px 0px 0px 2px;
    position: relative;
}

#tovar .box .big .labels>div b {
    position: absolute;
    display: block;
    height: 19px;
    width: 8px;
    top: 0px;
    right: -8px;
}
#tovar .box.left{
    height: 340px;
}

#tovar .box .images .img:last-child img {
    margin-bottom: 0px;
}

#tovar .box2 {
    width: 350px;
    margin-bottom: 10px;
}

#tovar .box2 p {
    margin: 0px;
}

#tovar .box2 .title {
    /*height: 103px;*/
    height: auto;
}

#tovar .box2 .line {margin:25px 0;}

#tovar .box2 .articul {
    font: 12px/18px "Display";
    color: #929494;
}

#tovar .box2 .compareBlock {
/*     height: 38px; */
}

#tovar .box2 .info1 {overflow:hidden; margin-bottom:10px;}

#tovar .box2 .info1 .nal {
    font: 13px/19px "Display";
    margin-right: 15px;
    position: relative;
    top: 5px;
}

#tovar .box2 .info1 .nal.yes {
    color: #629300;
}

#tovar .box2 .info1 .nal.no {
    color: #cc6666;
}

#tovar .box2 .compareBlock label {
    font: 13px/19px "Display";
    color: #333;
/*    position: relative;
    top: 5px;*/
}

#tovar .box2 .priceBlock {
/*     height: 55px; */
	overflow:hidden;
    margin: 30px 0px;
}

#tovar .box2 .priceBlock .price {
    float: left;
    font: 14px/19px "Display";
    color: #333;
    margin-right: 25px;
}

#tovar .box2 .priceBlock .price.old {
    color: #999;
    margin-right: 0px;
}

#tovar .box2 .priceBlock .price span {
    display: block;
    font: 30px "DisplayBold";
}

#tovar .box2 .priceBlock .price.old span,
#tovar .box2 .priceBlock .price.rozn span {
    font-size: 18px;
    margin-top: 12px;
}

#tovar .box2 .priceBlock .countBlock {
/*     margin-right: 15px; */
    margin-top: 1px;
    width: 72px;
}

#tovar .box2 .actionBlock {
    margin-top: 5px;
}

#tovar .box2 .actionBlock .btn.buy {
/*     margin: 0px 5px 0px 0px; */
	margin:0;
}

#tovar .box2 .actionBlock .btn.alt {
    margin: 0px;
}

.viewBlock {
    margin: 5px 0px 2px;
}

.viewBlock span {
    display: block;
    float: left;
    margin-right: 0px;
}

.viewBlock span a {
    font: 13px/23px "Display";
    color: #333;
    padding: 0px 5px 0px;
    height: 23px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: url(../img/dArrow2.png) no-repeat right center;
    position: relative;
    border: 1px solid #d3d8dc;
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfc), color-stop(100%, #e9ecf0));
    background: -webkit-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -o-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #e9ecf0 100%);
    border-radius: 2px;
}

#content > a.more {
    font: 13px/23px "Display";
    color: #333;
    padding: 0px 15px 0px;
    height: 23px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: url(../img/dArrow2.png) no-repeat right center;
    position: relative;
    border: 1px solid #d3d8dc;
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfc), color-stop(100%, #e9ecf0));
    background: -webkit-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -o-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #e9ecf0 100%);
    border-radius: 15px;
}

.viewBlock span.first a {
    border-radius: 2px 0px 0px 2px;
}

.viewBlock span.last a {
    border-radius: 0px 2px 2px 0px;
}

.viewBlock span.current a {
    color: #333 !important;
}

table.feature {
    width: 100%;
    margin: 20px 0px 25px;
}

table.feature td,
table.feature th {
    border: 1px solid #d0d6db;
    text-align: left;
    font: 14px/18px "Display";
    color: #666666;
    padding: 10px;
}

table.feature th {
    font: 14px/18px "DisplayMedium";
}

table.feature tr.fill td,
table.feature tr.fill th {
    background: #fff;
}

.catalog_element table.feature {}
.catalog_element table.feature td,
.catalog_element table.feature th {
	background:transparent !important;
    border:0;
}

.catalog_element table.feature tr:nth-child(odd) {background:#f9f9f9;}

#reviews {}

#reviews .mark b {
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    margin-right: 2px;
}

#reviews .mark {
    margin-top: 5px;
    margin-right: 5px;
}

#reviews .title {
    font: 18px "DisplayMedium";
    color: #333333;
}

#reviews p {
    margin: 10px 0px;
}

#reviews article {
    margin: 15px 0px 20px;
}

#reviews .info span {
    font: 13px/19px "Display";
    margin-right: 5px;
}

#reviews .info span.name,
#reviews .info span.name a {
    font: 13px/19px "DisplayBold";
    text-decoration: none;
}

#reviews form {
    background: #e0e8ed;
    border: 1px solid #c1c9cf;
    border-radius: 2px;
    padding: 20px 20px 15px;
    color: #333;
    margin-bottom: 25px;
}

#reviews form h3 {
    font: 14px "DisplayBold";
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#reviews form span {
    color: #cc3333;
}

#reviews form label,
#reviews form div.left,
#reviews form div.right {
    margin: 8px 0px;
}

#reviews form .input {
    width: 233px;
    margin-left: 15px;
    line-height: 23px;
    height: 23px;
    font-style: normal;
}

#reviews form textarea {
    border: 1px solid #d3d9dd;
    border-radius: 2px;
    background: #fefefe;
    box-shadow: inset 0px 1px 5px 0px #dbdfe4;
    font: 14px "Display";
    color: #616161;
    padding: 10px;
    resize: none;
    width: 592px;
    height: 112px;
    position: relative;
    top: 5px;
}

#reviews form div.left label {
    margin-left: 12px;
}

#reviews form div.captcha img {
    display: block;
    border: 1px solid #c0c0c0;
    margin-left: 2px;
}

#reviews form input.captcha {
    width: 140px;
    position: relative;
    top: 5px;
}

#reviews form .btn {
    position: relative;
    top: 10px;
}

table.view3 td span.no,
table.view3 td span.low,
table.view3 td span.medium,
table.view3 td span.high {
    padding-left: 25px;
    height: 20px;
}

.radio {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

.files {
    margin-top: 10px;
}

.files span a {
    display: block;
    padding: 7px 0px;
    padding-left: 28px;
}

.tovarAside div.made {
    margin: 35px 0px 15px;
    font: 18px "DisplayMedium";
    color: #333333;
}

.tovarAside img.made {
    padding: 5px;
    background: #fff;
    border: 1px solid #d0d6db;
}

.tovarAside div.courier {
    margin: 15px 0px 0;
    font: 18px/24px "DisplayMedium";
    color: #333333;
}

.tovarAside div.courier span {
    background: url(../img/courier.png);
    width: 32px;
    height: 24px;
    display: block;
    float: left;
    margin-right: 15px;
}


/* about */

#about {
    border-top: 1px solid #c5cbd0;
    border-bottom: 1px solid #c5cbd0;
    background: #e4eaef;
    margin-top: 40px;
}

#about .container {
    padding: 30px 0;
}

#about .text {
    width: 400px;
}

#about div.articles {
    width: 140px;
}

.bigIcons {
   /* width: 165px;*/
    margin-left: 105px;
    list-style: none;
    margin-right: 40px;
}

.bigIcons li {
    position: relative;
    display: table-cell;
    padding-right: 154px;
    vertical-align: top;
    width: 33%;
}
/*.bigIcons li {
    border-bottom: 1px solid #dde1e5;
    border-top: 1px solid #fff;
    padding: 20px 0;
    position: relative;
}
*/
.bigIcons li:first-child {
    border-top: none;
}

.bigIcons li:last-child {
    border-bottom: none;
}

.bigIcons li a {
    display: block;
    font: 18px "DisplayMedium";
    color: #333333;
    margin-bottom: 4px;
}

.bigIcons li a:hover {
    text-decoration: none;
}

.bigIcons li span {
    display: block;
    font: 14px "Display";
    color: #666;
}

.bigIcons li:after {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 15px;
    left: -100px;
}

.bigIcons li.ico1 {
    padding-top: 0px;
}

.bigIcons li.ico1:after {
    top: 0px;
}

.bigIcons li.ico1:after {
    background-position: 0px 0px;
}

.bigIcons li.ico2:after {
    background-position: 0px -112px;
}

.bigIcons li.ico3:after {
    background-position: 0px -224px;
}


/* footer */

footer {
    /*padding-top: 20px;
    padding-bottom: 30px;*/
	padding:0;
    font-size: 13px !important;
}

footer .tel {
    margin-top: 10px;
    float: left;
}

footer #copy {
    margin-top: 10px;
    float: right;
    width: 40%;
    margin-right: 40px;
}

footer #copy * {
    font-size: 13px !important;
    line-height: 26px !important;
}

footer #astdesign {
    position: relative;
    margin-top: 20px;
    margin-right: 35px;
}

footer #astdesign * {
    font-size: 13px !important;
}

footer #astdesign .img {
    position: absolute;
    top: 20px;
    left: -40px;
}


/* Рђ СЌС‚Рѕ РїСЂР°РІРёР»Р° РґР»СЏ СЃРєСЂРёРїС‚Р°:  */

.slider {
    width: 145px;
    margin: 20px auto 15px;
}

.formCost input {
    width: 45px;
    padding: 0px;
    text-align: center;
    font-style: normal;
}

.ui-slider {
    position: relative;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 6px;
    height: 18px;
    cursor: pointer;
    background: url(../img/range.png) no-repeat 1px -1px;
}

.ui-slider .ui-slider-handle:last-child {
    background: url(../img/range.png) no-repeat 1px -40px;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    overflow: hidden;
    background: url(../img/slider.png) no-repeat;
    background: -moz-linear-gradient(top, rgba(117, 160, 0, 0.7) 0%, rgba(117, 160, 0, 0.7) 1%, rgba(117, 160, 0, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(117, 160, 0, 0.7)), color-stop(1%, rgba(117, 160, 0, 0.7)), color-stop(100%, rgba(117, 160, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(117, 160, 0, 0.7) 0%, rgba(117, 160, 0, 0.7) 1%, rgba(117, 160, 0, 0.7) 100%);
    background: -o-linear-gradient(top, rgba(117, 160, 0, 0.7) 0%, rgba(117, 160, 0, 0.7) 1%, rgba(117, 160, 0, 0.7) 100%);
    background: -ms-linear-gradient(top, rgba(117, 160, 0, 0.7) 0%, rgba(117, 160, 0, 0.7) 1%, rgba(117, 160, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(117, 160, 0, 0.7) 0%, rgba(117, 160, 0, 0.7) 1%, rgba(117, 160, 0, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b375a000', endColorstr='#b375a000', GradientType=0);
}

.ui-slider-horizontal {
    height: 3px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range {
    top: -5px;
    height: 13px;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-widget-content {
    border: 1px solid #D4D4D4;
    background: #fff;
}

.ui-widget-header {
    border: 1px solid #D4D4D4;
    background: #F00;
}

#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 600;
    width: 100%;
    height: 500px;
}

#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 601;
    text-align: center;
    line-height: 0;
}

#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

#lightbox-secNav {
    display: none;
}


/*NEW*/

#tabs_wrapper .con_tab {
    display: none
}

#tabs_wrapper .con_tab.active {
    display: block;
}

.btn input {
    min-width: 138px
}

.error {
    outline: 1px solid red;
}

div.title-search-result {
    z-index: 100000!important
}

.watch div.btn.active {
    margin: 15px 0px;
}

.tableview.compare.active {
    font-weight: bold;
}

#comparator_inner > p {
    text-align: center;
    margin: 100px 0px;
}

#qorder {
    left: 50%;
    margin-left: -135px;
    top: 100px;
    width: 270px;
	margin-top:-250px;
}

.window.enter div.bx-auth-lbl,
.bx-auth-serv-icons {
    text-align: left;
    margin-top: 0px;
}

.bx-auth-serv-icons {
    margin-bottom: 5px;
}

aside.right .title {
    font: 16px/20px "Display";
}

.img_ext {
    border: 1px solid #D0D6DB;
    margin: 0 7px 7px 0
}

div.news article.nodate .title {
    margin-top: 0
}

#comparator,
.window,
.window2,
#qorder {
    display: none
}

#content > h1 {
    padding-bottom: 15px
}

#content p {
    margin-top: 0;
}

.styled-form input[type="text"],
.styled-form input[type="password"],
.styled-form textarea {
    border: 1px solid #d3d9dd;
    border-radius: 2px;
    background: #fefefe;
    box-shadow: inset 0px 1px 5px 0px #dbdfe4;
    font: italic 14px "Display";
    color: #616161;
    padding: 5px 10px;
}

.styled-form input[type="submit"],
.styled-form input[type="button"] {
    font: 15px/38px "DisplayMedium";
    color: #fff;
    text-transform: uppercase;
    display: block;
    height: 38px;
    border-radius: 2px;
    padding: 0px 13px;
    text-decoration: none;
    border: none;
    text-shadow: -1px -1px 1px #677d00;
    background: #bad000;
    background: -moz-linear-gradient(top, #bad000 0%, #5d8f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bad000), color-stop(100%, #5d8f00));
    background: -webkit-linear-gradient(top, #bad000 0%, #5d8f00 100%);
    background: -o-linear-gradient(top, #bad000 0%, #5d8f00 100%);
    background: -ms-linear-gradient(top, #bad000 0%, #5d8f00 100%);
    background: linear-gradient(to bottom, #bad000 0%, #5d8f00 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bad000', endColorstr='#5d8f00', GradientType=0);
}

.styled-form input[type="submit"]:active,
.styled-form input[type="button"]:active {
    box-shadow: inset 0px 2px 4px 0px #547a00;
    background: #5d8f00;
    background: -moz-linear-gradient(top, #5d8f00 0%, #bad000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d8f00), color-stop(100%, #bad000));
    background: -webkit-linear-gradient(top, #5d8f00 0%, #bad000 100%);
    background: -o-linear-gradient(top, #5d8f00 0%, #bad000 100%);
    background: -ms-linear-gradient(top, #5d8f00 0%, #bad000 100%);
    background: linear-gradient(to bottom, #5d8f00 0%, #bad000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5d8f00', endColorstr='#bad000', GradientType=0);
}

ul.lsnn {
    margin: 5px 0;
}

ul.lsnn li {
    margin-left: 20px;
}


/*
hovers
*/

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

#popup_form_notify_success small,
small.success {
    display: block;
    margin: 7px
}

td.price {
    text-align: right!important
}

.basketitem td.price {
    padding-right: 25px
}

.items.view3 td {
    line-height: 25px
}

.tableview.add2basket.active {
    color: green;
    border-bottom: 1px dotted green;
}


/*РўСѓСЂС‡РµРЅРєРѕ РРІР°РЅ*/

.shadow {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000', GradientType=0);
}

.windowBasket {
    display: none;
    position: absolute;
    box-shadow: 0px 2px 7px 0px #babcbe;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    top: 100px;
    left: 50%;
    margin-left: -460px;
    width: 880px;
    padding: 0px 20px 20px;
    z-index: 1000001;
}

.windowBasket .title {
    border-radius: 2px 2px 0 0;
    height: 38px;
    font: 15px/38px "DisplayMedium";
    color: #f7f9fa;
    text-transform: uppercase;
    padding-left: 12px;
    width: 920px;
    margin-left: -20px;
}

.ie8 aside.filter .btn input {
    width: 138px;
    min-width: 0px !important;
}

.ie8 #comparator_inner .left table,
.ie9 #comparator_inner .left table {
    position: relative;
    top: -1px;
}


/*Z*/

.tovarAside div.service {
    margin: 15px 0px 20px 0;
    font: 14px/16px "DisplayMedium";
    color: #333333;
}

.tovarAside div.service span {
    background: url(../img/service.png);
    width: 32px;
    min-height: 29px;
    display: block;
    float: left;
    margin-right: 15px;
}

.p20 {
    display: block;
    margin-right: 20px !important;
}

.inbrand article {
    margin-right: 70px;
}

.inbrand a.title {
    height: auto;
}

/*#goToUp {
    width: 80px;
    height: 90px;
    display: none;
    margin-bottom: 7px;
    background: url(/img/color1/ups.png) no-repeat center center;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}*/


/*24.06.2016*/

.access {
    border: 1px solid #dde1e5;
    height: 625px;
    overflow-x: auto;
}

.access .title {
    font-size: 13px !important;
    text-align: center;
    display: block;
    border-bottom: 1px solid #dde1e5;
    padding: 5px;
}

.access-item {
    padding: 10px;
    border-bottom: 2px solid #dde1e5;
}

.access-item-title {
    font-size: 12px;
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.access-price {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.access-item img {
    margin: 10px 0;
}

.access-add-to-cart {
    background: #008bc1;
    background: -moz-linear-gradient(top, #008bc1 0%, #005296 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008bc1), color-stop(100%, #005296));
    background: -webkit-linear-gradient(top, #008bc1 0%, #005296 100%);
    background: -o-linear-gradient(top, #008bc1 0%, #005296 100%);
    background: -ms-linear-gradient(top, #008bc1 0%, #005296 100%);
    background: linear-gradient(to bottom, #008bc1 0%, #005296 100%);
    color: white;
    display: block;
    cursor: pointer;
    padding: 4px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    width: 80px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
}

.access-add-to-cart:hover {
    box-shadow: inset 0px 0px 4px 1px #00bde5;
    color: white;
    text-decoration: none;
}

.access-add-to-cart:active {
    background: #005296;
    background: -moz-linear-gradient(top, #005296 0%, #008bc1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005296), color-stop(100%, #008bc1));
    background: -webkit-linear-gradient(top, #005296 0%, #008bc1 100%);
    background: -o-linear-gradient(top, #005296 0%, #008bc1 100%);
    background: -ms-linear-gradient(top, #005296 0%, #008bc1 100%);
    background: linear-gradient(to bottom, #005296 0%, #008bc1 100%);
}

.overlay {
            background-color: rgba(0, 0, 0, 0.0);
            bottom: 0;
            cursor: default;
            left: 0;
            opacity: 0;
            position: fixed;
            right: 0;
            top: 0;
            visibility: hidden;
            z-index: 5;
            -webkit-transition: opacity .5s;
            transition: opacity .5s;
        }

        .overlay-black {
            background-color: rgba(0, 0, 0, 0.3);
            bottom: 0;
            cursor: default;
            left: 0;
            opacity: 0;
            position: fixed;
            right: 0;
            top: 0;
            visibility: hidden;
            z-index: 5;
            -webkit-transition: opacity .5s;
            transition: opacity .5s;
        }

        .online-link {
            background: #008bc1;
            background: -moz-linear-gradient(top, #008bc1 0%, #005296 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008bc1), color-stop(100%, #005296));
            background: -webkit-linear-gradient(top, #008bc1 0%, #005296 100%);
            background: -o-linear-gradient(top, #008bc1 0%, #005296 100%);
            background: -ms-linear-gradient(top, #008bc1 0%, #005296 100%);
            background: linear-gradient(to bottom, #008bc1 0%, #005296 100%);
            color: white;
            display: inline-block;
            cursor: pointer;
            padding: 10px;
            color: #fff;
            text-transform: uppercase;
            border-radius: 2px;
        }

        .online-link:hover {
            box-shadow: inset 0px 0px 4px 1px #00bde5;
        }

        .online-link:active {
            background: #005296;
            background: -moz-linear-gradient(top, #005296 0%, #008bc1 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005296), color-stop(100%, #008bc1));
            background: -webkit-linear-gradient(top, #005296 0%, #008bc1 100%);
            background: -o-linear-gradient(top, #005296 0%, #008bc1 100%);
            background: -ms-linear-gradient(top, #005296 0%, #008bc1 100%);
            background: linear-gradient(to bottom, #005296 0%, #008bc1 100%);
        }

        .popup-online {
            position: fixed;
            width: 930px;
            top: 0;
            background: -moz-linear-gradient(top, rgba(0, 96, 161, 0.95) 0%, rgba(0, 96, 161, 0.95) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 96, 161, 0.95)), color-stop(100%, rgba(0, 96, 161, 0.95)));
            background: -webkit-linear-gradient(top, rgba(0, 96, 161, 0.95) 0%, rgba(0, 96, 161, 0.95) 100%);
            background: -o-linear-gradient(top, rgba(0, 96, 161, 0.95) 0%, rgba(0, 96, 161, 0.95) 100%);
            background: -ms-linear-gradient(top, rgba(0, 96, 161, 0.95) 0%, rgba(0, 96, 161, 0.95) 100%);
            background: linear-gradient(to bottom, rgba(0, 96, 161, 0.95) 0%, rgba(0, 96, 161, 0.95) 100%);
            padding: 15px 50px;
            color: white;
            box-sizing: border-box;
            opacity: 0;
            visibility: hidden;
            z-index: 999;
            left: 50%;
            margin-left: -465px;
        }
        .popup-line .errortext {
            margin-left: 187px;
        }
        .popup-online .title {
            text-align: center;
            display: block;
            padding: 20px 0;
            font-size: 30px;
        }

        .popup-online .popup-line {
            margin-bottom: 10px;
        }

        .popup-online .popup-line span {
            width: 160px;
            text-align: right;
            display: inline-block;
            margin-right: 20px;
            font-size: 16px;
        }

        .popup-online textarea {
            font-family: Arial;
            width: 510px;
            margin-right: 95px;
            vertical-align: top;
            padding: 10px;
            resize: vertical;
            min-height: 70px;
            font-size: 16px;
        }

        .popup-online input[type="text"] {
            font-size: 18px;
            width: 250px;
            padding: 8px 10px;
        }

        .popup-online .popup-line.captcha img {
            display: inline-block;
            width: 120px;
            vertical-align: middle;
        }

        .popup-online input[type="submit"] {
            font-size: 18px;
            outline: none;
            background-color: #0a5a90;
            border: 1px solid #5da1d0;
            color: #fff;
            padding: 7px 24px;
            margin-right: 306px;
            margin-bottom: 20px;
            cursor: pointer;
            border-radius: 3px;
        }

        .popup-online input[type="submit"]:hover {
            background: #07609c;
        }

        .popup-online input[type="submit"]:active {
            background: #0c71b5;
        }

        .popup-online .close {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            background: url(/img/close1.png);
            width: 14px;
            height: 14px;
            cursor: pointer;
        }
.container {  width: 1280px;}#content.big {  /*width: 1040px;*/ width: 770px;}
.items article {  width: 215px;}
/*.productBlock .big img {  width: 205px;}*/
.productBlock .big img {  width: 190px;}
.productBlock a {  font-size: 17px !important; /* line-height: 24px !important;*/}

.category  table a{  font-size: 18px;}
.category  table img {  max-width: 205px !important;  max-height: 205px !important; /* width: 205px !important;*/}
 #path a{  font-size: 16px !important;}  #path .current{  font-size: 16px !important;}h1 {  font-size: 32px;}
 .buttons a {  font-size: 21px;}.btn.darrow a {  padding: 10px 60px 10px 23px !important;}
 .btn.call a {  padding: 10px 10px 10px 53px !important;}
 #order_cart_header a {  padding: 10px 20px 10px 20px !important;}
header .call {    height: 50px;    z-index: 10;}
.call  a {  padding: }
header #search button,
.search-page-form input[type="submit"] {    display: block;    position: absolute;    top: 1px;    /*right: -100px; */   width: 58px;    height: 55px;    background: none;    border: none;    background-size: 100%;}#content {  width:780px;}aside.right {    width: 220px;}aside.left {    width: 170px;    margin-right: 45px;}.slidesControl img {  width: 1001px;}
.btn.call a b,.btn.call a .b,.btn.darrow a b, .btn.darrow a .b {    height: 58px;}#logo img {  width: 100px;}
header #logo span {   }
header #logo span {  }
.vcard .time {  }.window.catalog {    width: 1250px !important;      z-index:999;        top: 70px !important;}.buttons {  z-index: 10px;}.buttons .relative:nth-child(2),
.btn.call a {  z-index: 5 !important;  }.right.filter {  width: 220px;}#content.big2 {    width: 1005px;}
#tovar .box2 {    width: 600px;    margin-bottom: 10px;}


.brands_h2 a{
        background: url(../img/color1/brands.png) no-repeat 0px center;
    padding-left: 30px;
    font: 21px "DisplayMedium";
    color: #333;
    text-decoration: none;
}

.news_h2{
        background: url(../img/color1/news.png) no-repeat 0px center;
        padding-left: 30px;
    font: 21px "DisplayMedium";
    color: #333;
}

.article_h2{
    background: url(../img/color1/articles.png) no-repeat 0px center;
            padding-left: 30px;
    font: 21px "DisplayMedium";
    color: #333;
}
.h2{
    font: 21px "DisplayMedium";
    color: #333;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.print-me {
    display: block;
    background: url(../img/print.png) no-repeat;
    width: 27px;
    height: 27px;
    left: 305px;
    top: 22px;
    position: absolute;
    cursor: pointer;
}
.altBody.left {
    width: 210px !important;
}
#tovar {
    position: relative;
}
ul.category-popup-item-menu li ul{
    display: none;
}
ul.category-popup-item-menu li:hover ul{
    display: block;
}


.seo-text{
    margin: 15px 0;
}

.seo-text h2{
    margin: 20px 0;
}

.seo-text ul,
.seo-text ol{
    list-style-position: inside;
    margin: 20px 0;

}
.hide {
    display: none;
}

.text-toggle-this {
    margin-left: 25px;
    display: none;
}
.toggle-n {
    color: #324c5c;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}
div#info-21 {
    display: block;
}
table.table-price {
    border-collapse: collapse;
}

table.table-price td {
    border: 1px solid #dedede;
    padding: 5px;
}
.alt.btn.cat.right a {
    width: 60px;
    height: 25px;
	line-height:25px;
}
.l-map {
    display: inline-block;
    vertical-align: top;
}

.r-addr {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    color: #333333;
    font-size: 18px; /* Text style for "Адрес: , ," */
     /* Text style for "ТВК "ЭКСПО" */
    font-weight: 100;
    line-height: 28px;
}

.aad.bold {
    font-weight: 700;
}

.pph.bold {
    font-weight: 900;
    margin-top: 20px;
}

.pph-ad a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.pph-ad a:nth-child(odd) {
    margin-right: 35px;
}

.eemail.bold {
    font-weight: 900;
    margin-top: 20px;
}

a.mmail-a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.l-img {
    display: inline-block;
    vertical-align: top;
    width: 501px;
}

.r-firma {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

.l-img img {
    display: inline-block;
    vertical-align: top;
}

.l-img img:nth-child(odd) {
    margin-right: 20px;
}

.ffirma.bold {
    margin-top: 25px;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 20px;
}

.down-cont {
    margin-top: 15px;
}

.ff-bl-rek {
    color: #333333;
    font-size: 18px;
    font-weight: 100;
}

.ff-bl-rek > div {
    height: 33px;
    line-height: 32px;
    padding-left: 10px;
}

.ff-bl-rek > div:nth-child(odd) {
    background-color: #e8e8e8;
}

.ff-bl-rek > div span:nth-child(odd) {
    margin-right: 4px;
}
#top {
    position: fixed;
    width: 100%;
}

header.container {
    padding-top: 43px;
}

#sitemap li ul{
    margin-left: 15px;
}


.box-img {
    float: right;
    margin-top: -80px;
}

.delivery {
    color: #333333;
    font-size: 18px;
    font-weight: 100;
}

.delivery.txt1 {
    margin-top: 45px;
}

.box-img {}

.bold {
    font-weight: 900;
}

.delivery.txt3 {
    margin-top: 60px;
}

.delivery.txt2 {
    margin-top: 60px;
}

.w-time {
    padding-left: 55px;
    background: url(/delivery/img/clock.png) no-repeat 15px center;
}

.del-pay {
    padding-left: 55px;
    background: url(/delivery/img/money.png) no-repeat 15px center;
}

.delivery p {
    color: #333333;
    font-size: 18px;
    margin-bottom: 45px;
}

.delivery.txt4 {
    margin-top: 35px;
}

.delivery.txt5 {
    margin-top: 45px;
}

.del-ves {
    padding-left: 55px;
    background: url(/delivery/img/ves.png) no-repeat 15px 0px;
    line-height: 32px;
}

.delivery.txt6 {
    margin-top: 45px;
}

.del-samovyvoz {
    padding-left: 55px;
    background: url(/delivery/img/sam.png) no-repeat 15px center;
}

.del-addr {
    padding-left: 55px;
    background: url(/delivery/img/point.png) no-repeat 15px 4px;
    margin-top: 25px;
}

.delivery.txt7 {
    margin-top: 45px;
}

.del-oplata {
    padding-left: 55px;
    background: url(/delivery/img/money-doll.png) no-repeat 15px 0px;
}
.rate-star-single {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(/reviews/img/nostar.png) no-repeat center center;
}
.rate-star-single.checkedStar {
    background: url(/reviews/img/star.png) no-repeat center;
}
pre.hide{
    width: 100%;
    height: 350px;
    overflow: auto;
}

.r-single-review {
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    background-color: #e8e8e8;
    padding: 25px;
    position: relative;
}

.r-name {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.r-quotes {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 50px;
    background: url(/reviews/img/quotes.png) no-repeat top left;
}

.r-cloud {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(/reviews/img/cloud.png) no-repeat;
    top: -15px;
    left: 50%;
    margin-left: -15px;
}
.r-str-answer {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
    background: url(/reviews/img/reply.png) no-repeat center;
}

.r-answer-text {
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
    margin-left: 15px;
}

.r-answer {
    padding-left: 50px;
    padding-top: 25px;
}
.r-a-t {
    margin-top: 15px;
}
.r-reviews {
    width: 920px;
}

.r-form {
    float: right;
    width: 333px;
}

.r-form input {
    border: 1px solid #d3d9dd;
    border-radius: 2px;
    background: #fefefe;
    box-shadow: inset 0px 1px 5px 0px #dbdfe4;
    font: italic 14px "Display";
    color: #616161;
    padding: 5px 10px;
    width: 100%;
}

.r-form textarea {
    border: 1px solid #d3d9dd;
    border-radius: 2px;
    background: #fefefe;
    box-shadow: inset 0px 1px 5px 0px #dbdfe4;
    font: italic 14px "Display";
    color: #616161;
    padding: 5px 10px;
    width: 100%;
    height: 100px;
}

.block-rate-s-t {
    display: inline-block;
    vertical-align: top;
}

.block-form.rate-stars {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

button#feedbackSubmit {
    background-image: linear-gradient(to top, #5e9000 0%, #b6cd00 100%);
    border: 0;
    width: 168px;
    height: 40px;
    border-radius: 2px;
    margin-top: 15px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}
span.req {
    color: red;
}

.st-captcha {
    margin-top: 15px;
}

.block-rate-s-t {
    margin-top: 15px;
}

.block-form.rate-stars {
    margin-top: 13px;
}
.r-rate {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.rate-star-r {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(/reviews/img/nostar.png) no-repeat center center;
}

.rate-star-r.checkedStar {
    background: url(/reviews/img/star.png) no-repeat center center;
}

div.bx-auth-services .b {
	vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    color: #646464
}
.tel a.email_bottom {font-size: 14px;color: #324c5c;text-decoration: underline;}
.tel a.email_bottom:hover {    color: #006ca9;}
footer nav.menu.left {margin-left: 120px; display: none;}

.sert-about{
    width: 300px;
}

.left_block{
	width: 263px;
	float: left;
}

.left_block .catalog_left{
	margin: -17px 0 0 0;
}

.left_block .catalog_left .category-item-title{
	background-color: #ecf0f1;
    margin: 1px 0 2px 0;
	position: relative;
}

.left_block .catalog_left .category-item-title:hover, .left_block .catalog_left .category-item-sublist.open .category-item-title, .left_block .catalog_left .category-item-sublist.current .category-item-title{
	background-color: #005a9c;
}

.left_block .catalog_left .category-item-title:hover a, .left_block .catalog_left .category-item-sublist.open .category-item-title a, .left_block .catalog_left .category-item-sublist.current .category-item-title a{
	color: #ffffff;
}

.left_block .catalog_left .category-item-title a{
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    color: #2e2e2e;
    line-height: 33px;
    text-decoration: none;
    padding: 0 0 0 11px;
}

.left_block .catalog_left .category-item-title a.am-nav-btn{
	position: absolute;
    width: 10px;
    height: 15px;
    background: url(/img/pl.png) center no-repeat;
    right: 6px;
    top: 9px;
    cursor: pointer;
}

.left_block .catalog_left .category-item-title a.am-nav-btn.open, .left_block .catalog_left .category-item-title.current a.am-nav-btn{
	background: url(/img/min.png) center no-repeat;
}

.left_block .catalog_left .category-item-menu{
	display: none;
}

.left_block .catalog_left .category-item-sublist.open .category-item-menu, .left_block .catalog_left .category-item-sublist.current .category-item-menu{
	display: block;
	background-color: #ecf0f1;
    /*padding: 0 0 0 15px;*/
    margin: 0 0 -1px 0;
}

.left_block .catalog_left .category-item-menu li{
	list-style: none;
}


.left_block .catalog_left .category-item-menu li a{
	color: #2e2e2e;
	font-family: Arial;
	font-size: 13px;
	font-weight: 400;
	line-height: 28px;
	text-decoration: none;
}

.left_block .catalog_left .category-item-menu li ul{
    display: none;
}


.left_block .catalog_left .category-item-menu li:hover ul{
    display: inline-block;
    position: absolute;
    left: 263px;
    width: 263px;
    z-index: 999;
    background-color: #ecf0f1;
    margin: 0 0 -1px 0;
}

.left_block .catalog_left .category-item-menu li:hover{
    background-color: #005a9c;
    cursor: pointer;
}
/*.left_block .catalog_left .category-item-menu li:hover a,
.left_block .catalog_left .category-item-menu li ul li:hover a{
    color: white;
}*/

.third-level:hover > a,
.second-level:hover > a{
    color: white !important;
}



.third-level a,
li.second-level ul li.third-level a{
    color: #2e2e2e;
}

.third-level,
.second-level{
    padding: 0 0 0 15px;
}

.active-top-menu{
    background-color: #005a9c;
}

.active-top-menu a{
        color: white !important;
}


.left_block aside.left{
	width: 260px;
    margin: 30px 0 0 0;
}

.right_block{
	width: 1001px;
	float: right;
}

.right_block aside.left{
	display: none;
}


.right_block ol {
	padding: 0 0 0 15px;
}

.header-adress{
    font: 14px/18px "Display";
    color: #333333;
}

#toTop {
    width: 40px;
    height: 40px;
    background-image: url(/img/up.png);
    background-size: 40px 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display:none;
}
iframe#jivo_container {
	top:100px !important;
}
div#jivo-iframe-container.jivo-iframe-container-right.jivo-state-widget {
	top:200px !important;
}
.logo-container {
	position:relative;
	width:450px;
	float:left;
}
.calls {
	position:relative;
	margin:15px 0 0 0;
}
.vopros_top {
	margin-left:10px;
}
header #basket {
    width: 216px;
    position: relative;
	margin-right:9px;

    border: 1px solid #d0d6db;
    text-shadow: none;
    background: #fdfefe;
    background: -moz-linear-gradient(top, #fdfefe 0%, #eceef2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#eceef2));
    background: -webkit-linear-gradient(top, #fdfefe 0%,#eceef2 100%);
    background: -o-linear-gradient(top, #fdfefe 0%,#eceef2 100%);
    background: -ms-linear-gradient(top, #fdfefe 0%,#eceef2 100%);
    background: linear-gradient(to bottom, #fdfefe 0%,#eceef2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#eceef2',GradientType=0 );
	z-index:10;
    padding: 0px;
    color: #333333;
    height: 58px;
}
header #basket:hover{
	border: 1px solid #a5e3fc;
	box-shadow: 0px 0px 0px 1px #dcf2fb;
	color: #333;
}
header #basket:active{
	border: 1px solid #bbc2c9;
	background: #e9ecef;
	box-shadow: inset 0px 2px 5px #b3bbc2;
}
#order_cart_header a {
	cursor:pointer;
}
#basket .title {
	position:relative;
	width:100%;
	display:block;
	margin:0;
	height:26px;
}
header #basket .title a {
	line-height:26px;
	margin:2px 0 0 12px;
	display:inline-block;
}
header #basket .clear {
	position:relative;
	width:200px;
	float:left;
	line-height:26px;
	margin:5px 5px 0 12px;
}
header #basket .clear .inf:nth-child(2) {
	padding-left:9px;
	width:90px;
}
.catalog_element .productBlock a.add2basketq, .catalog_element  .productBlock a.qorder , .watch .productBlock a.blockview {
	line-height:38px !important;
}
.btn.call a.delay {
	padding:5px 20px !important;
	text-align:center;
	line-height:30px;
	height:30px;
	margin-top:10px !important;
}
.items .productBlock div > a.viewP2 {
	line-height:38px !important;
}
.section-list-item {
	width: 240px;
	padding:0 5px;
	text-align:center;
	margin:0;
	padding-bottom:30px;
	vertical-align:top;
}
.section-list-item:nth-child(3n) {
}
.section-list-item:nth-child(3n+1) {

}
.section-list-item:nth-child(3n+2) {
	padding:0 12px;
}
.section-list-imgblock {
    height: 220px;
	width: 240px;
    display: table-cell;
    vertical-align: middle;
	position:relative;
	text-decoration:none;
	background:rgb(255,255,255);
	border: 1px solid #d0d6db;
}
.section-list-imgblock img{
	max-width:100%;
	position:relative;
	vertical-align:middle;
	max-height:109px;
	text-align:center;
}
.section-list-titleblock {
	font-weight:bold;
	display:block;
	position:relative;
	padding:10px 0;
}
.subsection-linkblock {
	position:relative;
}
.category  table a.subsection-link {
	position:relative;
	display:block;
	font-size: 14px;
	line-height: 18px;
	padding:0 0 6px 0;
	text-align:left;
}

.f-menu {
    width: 26%;
    float: right;
    margin-top: 15px;
}
.f-menu article {
    margin-bottom: 5px;
}
