.button-prices-more{
    cursor: pointer;
    font-weight: bold;
    width: 30%;
    margin: 10px auto;
    border: 1px solid #cdc7b5;
    border-radius: 3px;
}

.section-list-item {
    white-space: normal;
    width: 100%;
}
.section-list-item .series-img-block {
/*    max-width: 370px;
    max-height: 276px;*/
    float: left;
    margin-top: 4%;
}
.section-list-item img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.section-list-item .product-text {
    color: #999999;
    font-size: 14px;
    line-height: 140%;
    width: 65%;
}

.section-list-item .table-view {
    width: 100%;
    padding: 30px;
    color: #555555;
    font-size: 14px;
    margin-top: 4%;
}
.section-list-item .table-view tr td, .section-list-item .table-view tr th {
    padding: 6px 10px;
    text-align: left;
    border-bottom: solid 1px #d3cdbc;
}
.section-list-item .table-view tr td a, .section-list-item .table-view tr th a {
    color: rgb(192, 57, 43);
    text-decoration: none;
}
.section-list-item .table-view tr td.center, .section-list-item .table-view tr th.center {
    text-align: center;
}

.section-list-item sup {
    vertical-align:super;
    font-size: 10px;
}
