.whatsapp-block .container_new, .subscribe-block .container_new {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.whatsapp-block {
    box-sizing: content-box;
    text-align: center;
    padding: 20px 0;
    background: #d6d6d6;
    margin-bottom: 50px;
}
.whatsapp-block .whatsapp-title{
    color: #565656;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.whatsapp-block .b-textfield__input.whatsapp-input {
    width: 100%;
    text-transform: uppercase;
    color: #b0ed93;
    background: #3b8d3b;
    height: 50px;
    padding: 12px;
    margin-left: 20px;
    font-size: 18px;
}
.whatsapp-block  .w-icon {
    height: 25px;
    margin-right: 10px;
    margin-bottom: -5px;
}

@media screen and (min-width: 1170px){
    .whatsapp-block .container_new {
        width: 730px;
    }
    .whatsapp-block .container_new {
        text-align: right;
    }
}

@media screen and (max-width: 712px){
    .whatsapp-block .whatsapp-title {
        display: block;
    }
}

@media (max-width: 600px) {
    .news_detail_wrapp .whatsapp-block img.w-icon {
        width: auto;
    }
}

@media screen and (max-width: 467px){
    .whatsapp-block .whatsapp-title {
        width: 100%;
        float: left;
    }
    .whatsapp-block .b-textfield__input.whatsapp-input {
        margin-left: 0px;
    }
}