.menu span {
    padding-bottom: 20px;
}
.menu span ul.submenu {
    display: none;
    position: absolute;
    background:#fff;
    border-bottom: 1px solid black;
    padding: 0 0 0 10px;
}

.menu span:hover ul.submenu, .menu span ul.submenu:hover{
    display: block;
}