.row .item_block.col-4.item-none {
    display: none;
}

.catalog_block .catalog_item_wrapp .catalog_item:hover .item_info {
    height: auto !important;
}

.dop-item {
    text-align: center;
    margin-bottom: 30px;
}

.dop-item span.btn-all2 {
    display: inline-block;
    cursor: pointer;
    background: 0 0;
    vertical-align: top;
    font-size: 14px;
    color: #333;
    opacity: 1;
    font-weight: 600;
    /* width: 130px; */
    margin: 0;
    margin-right: 10px;
    padding: 11px 18px 14px 18px;
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-color: #e5e5e5;
    background: #f7f7f7;
    position: relative;
}

.akssesuari .catalog_item .price_matrix_wrapper .price.discount, .akssesuari .catalog_item .sale_block{
	display:none;
}


@media all and (max-width: 600px) {
    .block_list_new .catalog_item .image_wrapper_block{
		display: none;
	}
}


.item_info .footer_button {
    display: inline;
}

.catalog_block .catalog_item_wrapp .catalog_item.item_wrap .cost.prices {
    margin-bottom: 10px;
}
