.our-works, .our-works * {
  box-sizing: border-box; }
.our-works-categories {
  margin: 0 -.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .our-works-categories > div {
    padding: 0 .5rem; }
    .our-works-categories > div > a {
      display: flex;
      font: 14px/30px "Display";
      color: #333333;
      height: 2rem;
      border: 1px solid #d3d8dc;
      border-radius: 15px;
      background: linear-gradient(to bottom, #fafbfc 0%, #e9ecf0 100%);
      padding: 0 1rem;
      text-decoration: none;
      transition: all .25s; }
      .our-works-categories > div > a:hover {
        opacity: .9;
        color: #006ca9;
        background: linear-gradient(to bottom, #f4f6f8 0%, #e3e7ec 100%);
        border: 1px solid #cdd3d7; }
.our-works-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem; }
  .our-works-list__item {
    padding: 0 1rem;
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    margin-bottom: 2rem;
    height: 230px; }
    .our-works-list__item img {
      transition: all .25s;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .our-works-list__item-wrapper {
      position: relative;
      overflow: hidden;
      line-height: 0;
      height: 100%; }
      .our-works-list__item-wrapper > div {
        position: absolute;
        bottom: -100%;
        line-height: 1.25;
        padding: 1rem;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        transition: all .25s; }
      .our-works-list__item-wrapper:hover > div {
        bottom: 0; }
    .our-works-list__item:hover img {
      transform: scale(1.1); }
.our-works-item {
  display: flex;
  margin: 0 -1rem;
  padding-top: 2rem;
  margin-bottom: 2rem; }
  .our-works-item__gallery {
    flex: 0 0 calc(100% / 2);
    max-width: calc(100% / 2);
    padding: 0 1rem; }
    .our-works-item__gallery-main-slider {
      margin-bottom: 1rem; }
      .our-works-item__gallery-main-slider-item {
        display: block;
        cursor: pointer; }
        .our-works-item__gallery-main-slider-item img {
          max-width: 100%;
          height: auto; }
    .our-works-item__gallery-add-slider-item {
      cursor: pointer;
      display: block;
      padding: 0 .25rem; }
      .our-works-item__gallery-add-slider-item div {
        transition: all .25s;
        border: 2px #c5cbd0 solid; }
        .our-works-item__gallery-add-slider-item div:hover {
          opacity: .9; }
        .slick-current .our-works-item__gallery-add-slider-item div {
          border-color: #008bc1; }
        .our-works-item__gallery-add-slider-item div img {
          max-width: 100%;
          height: auto;
          padding: 2px;
          background: #fff; }
  .our-works-item__content p {
    margin: 0 0 1rem;
    line-height: 1.5; }
  .our-works-item__content-button {
    align-items: center;
    line-height: 1;
    display: inline-flex;
    height: 2.5rem;
    padding: 0 2rem;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #00629b;
    background: linear-gradient(to bottom, #008bc1 0%, #005296 100%);
    font: 17px/38px "DisplayMedium";
    color: #fff;
    text-decoration: none;
    transition: .25s all;
    border-radius: 2px;
    margin-bottom: 2rem; }
    .our-works-item__content-button:hover {
      color: #fff;
      opacity: .8;
      text-decoration: none; }
.our-works-products {
  display: flex;
  margin: 0 -1rem;
  flex-wrap: wrap;
  margin-top: 1rem; }
  .our-works-products__item {
    flex: 0 0 calc(100% / 4);
    max-width: calc(100% / 4);
    padding: 0 1rem;
    margin-bottom: 2rem; }
    .our-works-products__item-img {
      transition: .25s all;
      border: 1px #c5cbd0 solid;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      background: #fff;
      margin-bottom: .25rem; }
      .our-works-products__item-img img {
        flex: 1;
        max-width: 100%;
        max-height: 100%; }
    .our-works-products__item:hover .our-works-products__item-img {
      border-color: #008bc1; }
    .our-works-products__item-title {
      font-size: 16px;
      margin-bottom: .25rem; }
    .our-works-products__item-price {
      color: #333;
      font: 30px "DisplayBold"; }
    .our-works-products__item-link {
      text-decoration: none; }
      .our-works-products__item-link:hover {
        text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
