.our-works {

  &, * {
    box-sizing: border-box;
  }

  &-categories {
    margin: 0 -.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    > div {
      padding: 0 .5rem;

      > a {
        display: flex;
        font: 14px/30px "Display";
        color: #333333;
        height: 2rem;
        border: 1px solid #d3d8dc;
        border-radius: 15px;
        background: linear-gradient(to bottom, #fafbfc 0%,#e9ecf0 100%);
        padding: 0 1rem;
        text-decoration: none;
        transition: all .25s;

        &:hover {
          opacity: .9;
          color: #006ca9;
          background: linear-gradient(to bottom, darken(#fafbfc,2) 0%,darken(#e9ecf0, 2) 100%);

          border: 1px solid darken(#d3d8dc, 2);
        }
      }
    }

  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    &__item {
      padding: 0 1rem;
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
      margin-bottom: 2rem;
      height: 230px;

      img {
        transition: all .25s;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-wrapper {
        position: relative;
        overflow: hidden;
        line-height: 0;
        height: 100%;


        & > div {
          position: absolute;
          bottom: -100%;
          line-height: 1.25;
          padding: 1rem;
          background: transparentize(#000, .5);
          color: #fff;
          transition: all .25s;
        }

        &:hover {
          & > div {
            bottom: 0;
          }
        }
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &-item {
    display: flex;
    margin: 0 -1rem;
    padding-top: 2rem;
    margin-bottom: 2rem;

    &__gallery {
      flex: 0 0 calc(100% / 2);
      max-width: calc(100% / 2);
      padding: 0 1rem;

      &-main-slider {
        margin-bottom: 1rem;

        &-item {
          display: block;
          cursor: pointer;

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      &-add-slider {
        &-item {
          cursor: pointer;
          display: block;
          padding: 0 .25rem;

          div {
            transition: all .25s;
            border: 2px #c5cbd0 solid;

            &:hover {
              opacity: .9;
            }

            .slick-current & {
              border-color: #008bc1;
            }

            img {
              max-width: 100%;
              height: auto;
              padding: 2px;
              background: #fff;
            }
          }
        }
      }
    }

    &__content {
      p {
        margin: 0 0 1rem;
        line-height: 1.5;
      }

      &-button {
        align-items: center;
        line-height: 1;
        display: inline-flex;
        height: 2.5rem;
        padding: 0 2rem;
        text-transform: uppercase;
        text-shadow: -1px -1px 1px #00629b;
        background: linear-gradient(to bottom, #008bc1 0%,#005296 100%);
        font: 17px/38px "DisplayMedium";
        color: #fff;
        text-decoration: none;
        transition: .25s all;
        border-radius: 2px;
        margin-bottom: 2rem;

        &:hover {
          color: #fff;
          opacity: .8;
          text-decoration: none;
        }
      }
    }
  }

  &-products {
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
    margin-top: 1rem;

    &__item {
      flex: 0 0 calc(100% / 4);
      max-width: calc(100% / 4);
      padding: 0 1rem;
      margin-bottom: 2rem;

      &-img {
        transition: .25s all;
        border: 1px #c5cbd0 solid;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        background: #fff;
        margin-bottom: .25rem;

        img {
          flex: 1;
          max-width: 100%;
          max-height: 100%;
        }
      }

      &:hover {
        .our-works-products__item {
          &-img {
            border-color: #008bc1;
          }
        }
      }

      &-title {
        font-size: 16px;
        margin-bottom: .25rem;
      }

      &-price {
        color: #333;
        font: 30px "DisplayBold";
      }

      &-link {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}