.popupbox-video{
	width: auto;
    height: 143px;
	display: block;
}
.popupbox-video img.play-y{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	width: 50px !important;
    cursor: pointer;
}
