.admver{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.admver form{
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    background: #f2f2f2;
    padding: 21px 39px;
    border: 1px solid #c3c1c1;
    border-radius: 5px;
}
.admver form i{
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.admver form p{
    width: 100%;
    background: #1e78ac;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 0;
}
.admver form input{
    width: 100%;
    height: 30px;
    margin: 17px 0 8px 0;
}
