/* drift.css */
@keyframes drift-fadeZoomIn{0%{transform:scale(1.5);opacity:0}100%{transform:scale(1);opacity:1}}@keyframes drift-fadeZoomOut{0%{transform:scale(1);opacity:1}15%{transform:scale(1.1);opacity:1}100%{transform:scale(.5);opacity:0}}@keyframes drift-loader-rotate{0%{transform:translate(-50%,-50%) rotate(0)}50%{transform:translate(-50%,-50%) rotate(-180deg)}100%{transform:translate(-50%,-50%) rotate(-360deg)}}@keyframes drift-loader-before{0%{transform:scale(1)}10%{transform:scale(1.2) translateX(6px)}25%{transform:scale(1.3) translateX(8px)}40%{transform:scale(1.2) translateX(6px)}50%{transform:scale(1)}60%{transform:scale(.8) translateX(6px)}75%{transform:scale(.7) translateX(8px)}90%{transform:scale(.8) translateX(6px)}100%{transform:scale(1)}}@keyframes drift-loader-after{0%{transform:scale(1)}10%{transform:scale(1.2) translateX(-6px)}25%{transform:scale(1.3) translateX(-8px)}40%{transform:scale(1.2) translateX(-6px)}50%{transform:scale(1)}60%{transform:scale(.8) translateX(-6px)}75%{transform:scale(.7) translateX(-8px)}90%{transform:scale(.8) translateX(-6px)}100%{transform:scale(1)}}@-webkit-keyframes drift-fadeZoomIn{0%{-webkit-transform:scale(1.5);opacity:0}100%{-webkit-transform:scale(1);opacity:1}}@-webkit-keyframes drift-fadeZoomOut{0%{-webkit-transform:scale(1);opacity:1}15%{-webkit-transform:scale(1.1);opacity:1}100%{-webkit-transform:scale(.5);opacity:0}}@-webkit-keyframes drift-loader-rotate{0%{-webkit-transform:translate(-50%,-50%) rotate(0)}50%{-webkit-transform:translate(-50%,-50%) rotate(-180deg)}100%{-webkit-transform:translate(-50%,-50%) rotate(-360deg)}}@-webkit-keyframes drift-loader-before{0%{-webkit-transform:scale(1)}10%{-webkit-transform:scale(1.2) translateX(6px)}25%{-webkit-transform:scale(1.3) translateX(8px)}40%{-webkit-transform:scale(1.2) translateX(6px)}50%{-webkit-transform:scale(1)}60%{-webkit-transform:scale(.8) translateX(6px)}75%{-webkit-transform:scale(.7) translateX(8px)}90%{-webkit-transform:scale(.8) translateX(6px)}100%{-webkit-transform:scale(1)}}@-webkit-keyframes drift-loader-after{0%{-webkit-transform:scale(1)}10%{-webkit-transform:scale(1.2) translateX(-6px)}25%{-webkit-transform:scale(1.3) translateX(-8px)}40%{-webkit-transform:scale(1.2) translateX(-6px)}50%{-webkit-transform:scale(1)}60%{-webkit-transform:scale(.8) translateX(-6px)}75%{-webkit-transform:scale(.7) translateX(-8px)}90%{-webkit-transform:scale(.8) translateX(-6px)}100%{-webkit-transform:scale(1)}}.drift-zoom-pane{background:rgba(0,0,0,.5);transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0)}.drift-zoom-pane.drift-opening{animation:drift-fadeZoomIn 180ms ease-out;-webkit-animation:drift-fadeZoomIn 180ms ease-out}.drift-zoom-pane.drift-closing{animation:drift-fadeZoomOut 210ms ease-in;-webkit-animation:drift-fadeZoomOut 210ms ease-in}.drift-zoom-pane.drift-inline{position:absolute;width:150px;height:150px;border-radius:75px;box-shadow:0 6px 18px rgba(0,0,0,.3);z-index:999}.drift-loading .drift-zoom-pane-loader{display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);width:66px;height:20px;animation:drift-loader-rotate 1800ms infinite linear;-webkit-animation:drift-loader-rotate 1800ms infinite linear;z-index:999}.drift-zoom-pane-loader:before,.drift-zoom-pane-loader:after{content:"";display:block;width:20px;height:20px;position:absolute;top:50%;margin-top:-10px;border-radius:20px;background:rgba(255,255,255,.9);z-index:999}.drift-zoom-pane-loader:before{left:0;animation:drift-loader-before 1800ms infinite linear;-webkit-animation:drift-loader-before 1800ms infinite linear}.drift-zoom-pane-loader:after{right:0;animation:drift-loader-after 1800ms infinite linear;-webkit-animation:drift-loader-after 1800ms infinite linear;animation-delay:-900ms;-webkit-animation-delay:-900ms}.drift-bounding-box{background-color:rgba(0,0,0,.4)}


.product-status-icon {
    height: 32px;
    width: 32px;
    margin-top: 3px;
    position: absolute;
    left: -12px;
    z-index: 10;
}
.catalog_detail .product-status-icon {
    left: 0;
}
.product-status-icon:nth-child(1) {
    top: 0;
}
.product-status-icon:nth-child(2) {
    top: 36px;
}
.product-status-icon:nth-child(3) {
    top: 72px;
}
.product-status-percent {
	background: url(/bitrix/templates/aspro_optimus/images/percent.png) no-repeat top left;
	background-size: cover;
}
.product-status-new {
	background: url(/bitrix/templates/aspro_optimus/images/new.png) no-repeat top left;
	background-size: cover;
}
.product-status-hit {
	background: url(/bitrix/templates/aspro_optimus/images/hit.png) no-repeat top left;
	background-size: cover;
}

.product-status-montaj {
	background: url(/bitrix/templates/aspro_optimus/images/wrench.png) no-repeat top left;
	background-size: cover;
}

.product-status-delivery {
	background: url(/bitrix/templates/aspro_optimus/images/delivery-truck.png) no-repeat top left;
	background-size: cover;
}

.product-status-gift {
	background: url(/bitrix/templates/aspro_optimus/images/gift.png) no-repeat top left;
	background-size: cover;
}

.characteristics-list-block {
    margin-top: 30px !important;
    font: 13px/20px Ubuntu, Arial, Helvetica, sans-serif !important;
    text-align: left;
}

.aku-product-brand-block {
    color: #000;
    font-size: 13px;
    padding-left: 7px;
}

.politika_konfidencial {
    margin: 0 0 10px 0;
    font-size: 12px;
}
.politika_konfidencial a {
    color: #1b6c9a !important;
    font-size: 12px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.sections_block_on_first {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    justify-content: center;
}
.sections_block_on_first-item {
    border: 1px solid #eaebec;
    text-align: center;
}
.sections_block_on_first-item {
    margin: 0 0 12px 12px;
    position: relative;
}
.sections_block_on_first-item {
    width: 175px;
    height: 175px;
    max-height: 240px;
    padding: 20px 20px 12px 20px;
    overflow: hidden;
}
.sections_block_on_first-item {
    background: #fff !important;
    box-shadow: none;
    transition: all 0.2s ease;
}

.sections_block_on_first-image_wrapper {
    position: relative;
}
.sections_block_on_first-image_wrapper {
    margin: 0px auto;
}

.sections_block_on_first-image_wrapper a {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.sections_block_on_first-image_wrapper a {
    position: relative;
}
.sections_block_on_first-image_wrapper, .sections_block_on_first-image_wrapper a {
    max-width: 170px;
    min-width: 70px;
    height: 80px;
    margin: 30px auto 5px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    zoom: 1;
    display: block;
}

.sections_block_on_first-image_wrapper img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

.sections_block_on_first-item:hover {
    border: 0px solid transparent;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 14px rgba(0,0,0,0.10);
    -o-box-shadow: 0px 0px 14px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 0px 14px rgba(0,0,0,0.10);
    height: auto !important;
    border: 1px solid #fff;
}

.top_blocks {
    position: relative;
}

.neighbouring_slider_wrapp {
    height: 300px;
}

.neighbouring_slider_wrapp .subcat_wrapp {
    padding-left: 0 !important;
}

.reviews-list .item .item-title {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.reviews-form {
    margin-bottom: 80px;
}
.reviews-form .feedback_buttons {
    margin-top: 20px;
}
.reviews-form .submit {
    padding: 10px 20px;
    font-size: 14px;
}

.hide_on_main {
    display: none !important;
}

.menu_top_block_hide {
    display: block !important;
}

.bx_filter_vertical .bx_filter_block.limited_block {
    max-height: 120px;
}

.product-item-big-card.basket_product_gift {
    max-width: 180px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.detail_text.product_banner_image img {
    max-width: 100%;
    width: 100%;
}
.country_of_origin_flag {
    height: 15px;
    width: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    background-size: cover;
}
.hide-element {
    display: none;
}
.products-cities-list {
    color: #888;
    font-size: 12px;
}
ul.products-cities-list li::before {
    content: "\25CF";
    padding-left: 10px;
    padding-right: 4px;
}