#header {
	padding: 0;
}

body #header .basket_fly {
	top: 284px;
}

.header img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.header {
    font-size: 14px;
}

.header .wrapper_inner {
    background-color: #f6f6f7;
    font-size: 14px;
}

.top-header__content {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu {
    list-style: none;
}

.top-menu__item {
    display: inline-block;
    margin-right: 8px;
}

.top-menu__item:last-child {
    margin-right: 0;
}

.top-menu__item::before {
    display: none;
}

.top-menu__link {
    color: #4a4a4a;
    font-size: 14px;
}

.top-header2 .top-menu__link {
    color: #000;
}

.top-right {
    display: flex;
    justify-content: space-between;
}

.top-adress {
    color: #4a4a4a;
    font-size: 14px;
    margin-right: 20px;
}

.top-mail {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.top-mail img {
    margin-right: 6px;
}

.middle-header {
    padding: 15px 0;
    background: #fff;
}

.logo {
    margin-right: 20px;
}

.logo img{
    display: block;
}

.middle-header .wrapper_inner {
    background: #fff;
}

.middle-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle-header__left {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
}

.middle-header__right {
    display: flex;
}

.phones {
    text-align: right;
    line-height: 16px;
    height: 100px;
    margin-right: 20px;
}

.phones ~ .phones {
    margin-right: 0;
}

.reg-mos {
    display: block;
    margin-bottom: 10px;
}

.h-phone {
    height: 55px;
}

.middle-wa {
    position: relative;
}

.middle-wa img {
    position: absolute;
    left: 0;
    top: -6px;
}

.middle-wa span {
    font-size: 16px;
    color: #1e72a2;
    border-bottom: 1px dashed;
    padding-bottom: 3px;
}

.top-phone {
    font-size: 22px;
    color: #005799;
}

.top-phone ~ .top-phone {
    display: block;
    margin-top: 9px;
}

.stitle_form {
    position: relative;
}

#title-searchs-input {
    border-radius: 4px;
    background-color: #fff;
}

.button.icon.btn-search {
    width: 17px;
    background: url(/img/header/icon_search.png) no-repeat !important;
    position: absolute;
    top: 9px;
    right: 8px;
}

.descr-header {
    color: #4a4a4a;
}

.mainmenu-block {
    background: #1e72a2;
}

.mobview, .dopmenuview {
    display: none;
}

.mainmenu-block .wrapper_inner{
    background: #1e72a2;
    z-index: 1;
}

.mainmenu__item {
    display: inline-block;
}

.mainmenu__item:before {
    display: none;
}

.mainmenu__link {
    position: relative;
    display: block;
    padding: 15px 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.catalogLink {
    padding-left: 40px;
}

.mainmenu__link:hover,
.mainmenu__item.active > a {
    background-color: #2284bc;
    color: #fff;
}

.mainmenu__link img {
    height: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
}


.mainmenu {
    position: relative;
}

.mainmenu__item:nth-child(n + 2):hover .submenu {
    display: block;
}

/*
.submenu li.has-child  {
    display: block; 
    align-items: center;
    margin-bottom: 13px;
    width: 29%;
    margin-right: 3%;
    float: left;
}

.submenu li.has-childul.submenu3 {
    display: inline-block;
}
.submenu li.has-child .submenu3 li.menu_item1 {
    display: block;
    align-items: center;
    margin-bottom: 13px;
    width: 100%;
    margin-right: 3%;
}*/

.left-aside {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 75%;
    padding: 30px 20px 20px;
    background: #f6f6f7;
    height: 100%;
    transition: all .8s;
    left: -200%;
}

.submenu2-brands {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 25px 40px 40px;
    background: #ddf3ff;
    z-index: 10;
}

.submenu2-brands .submenu2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.mainmenu__item:hover .submenu2-brands {
    display: block;
}

.submenu2 > li {
    width: 23%;
    margin-bottom: 20px;
    margin-right: 2%;
}

.submenu2 li:before {
    display: none;
}

.submenu2 > li > a {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.mainmenu__item > .submenu2-brands a,
.mainmenu-block .submenu li span {
	font-size: 18px;
}

.mainmenu__item > .submenu2-brands .submenu3 > li a {
	font-size: 16px;
}

.mainmenu-block .submenu li:before {
    display: none;
}

.mainmenu-block .submenu li {
    display: inline-flex;
    align-items: center;
    margin-bottom: 13px;
    width: 30%;
    margin-right: 4%;
}

.mainmenu-block .submenu li:nth-child(3n + 3) {
    margin-right: 0;
}

.mainmenu-block .submenu li img {
    margin-right: 10px;
}

.mainmenu-block .submenu li a {
	font-weight: normal;
    color: #074467;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	margin-bottom: 0;
}

.mainmenu-block .submenu li span {
    color: #074467;
    font-weight: 500;
}

.brands-menu {
    margin: 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands-menu__item {
    display: block;
    max-width: 10%;
}

@media screen and (max-width: 1360px) {

    .middle-wa img {
        left: 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {

    .logo img {
        max-width: 300px;
    }

    .top-phone {
        font-size: 16px;
    }

    .middle-wa span {
        font-size: 14px;
    }

    .top-right {
        flex-direction: column;
    }

    .phones {
        min-width: 150px;
    }

    .mainmenu__link {
        padding: 15px 2px;
    }

    .catalogLink {
        padding-left: 20px;
    }

    .mainmenu__link img {
        left: 0;
    }
}

@media screen and (max-width: 1024px) {

    .top-header__content {
        flex-direction: column;
    }

    .top-menu {
        margin-bottom: 5px;
    }

    .middle-header__content {
        flex-direction: column;
    }

    .middle-header__left {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .middle-header__right {
        width: 100%;
        justify-content: space-around;
    }
	
    .submenu2-brands {
        display: none !important;
    }

}

@media screen and (max-width: 767px) {

	#header .basket_fly .opener {
		width: 100%;
		left: 0;
		border-radius: 0;
		position: static;
	}

	#header .basket_fly .opener>div {
		width: 25%;
		float: right;
		height: 46px;
	}

.basket_sort, .basket_fly #header .middle-h-row #basket_form {
    display: none;
}

	#header {
		padding-top: 46px;
	}

    .left-aside.active {
        left: 0;
    }

    .left-asideClose {
        position: absolute;
        right: 30px;
        font-size: 20px;
        font-weight: bold;
        display: block;
        width: 25px;
        height: 25px;
        text-align: center;
        background: #1e72a2;
        color: #fff;
    }
    
    .dop-menu__item {
        margin-bottom: 10px;
    }
    
    .dop-menu__item:before {
        display: none;
    }

    .top-menu {
        display: none;
    }

    .mobview {
        display: block;
        padding: 10px 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }

    .descr-header {
        position: relative;
        padding-left: 39px;
		font-size: 11px;
    }

    .mobview:hover, .mainmenu__link:hover {
        color: #fff;
    }

    .mobview img {
        height: 10px;
    }

    ul.mainmenu {
        display: none;
        margin-bottom: 10px;
    }

    .mainmenu__item {
        display: block;
    }

    .mainmenu__link {
        padding: 7px 0;
    }

    .mainmenu__link img {
        display: none;
    }

    .middle-header__left {
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .mainmenu-block .submenu, .mainmenu-block .submenu2{
        position: static;
        background: none;
        padding: 0 0px 10px 10px;
    }

    .mainmenu-block .submenu li {
        width: 100%;
    }

    .mainmenu-block .submenu li a, .mainmenu-block .submenu li span {
        color: #fff;
    }

    .mainmenu-block .submenu li img {
        display: none
    }

    .stitle_form {
        margin: 10px 0;
    }

    .dopmenuview {
        display: table;
        background: #1e72a2;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 15px;
    }
	
	.submenu-hover {
        position: static;
    }

	.mainmenu-block .submenu li {
		margin-bottom: 5px;
	}
	
	.submenu2 > li {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.mainmenu__item > .submenu2-brands a, .mainmenu-block .submenu li span {
		font-size: 15px;
		color: #fff;
	}

	.submenu2-brands {
		display: block !important;
		position: static;
		background: none;
		padding: 0;
	}

	.brands-menu {
		display: none;
	}

	.middle-header .wrapper_inner {
		position: static;
	}

	body #header .basket_fly {
		top: 0;
		height: 46px;
		width: 100%;
		left: 0;
		right: auto;
		position: absolute;
		box-shadow: none;
		min-height: inherit;
	}

	.cart_empty {
		display: none;
	}
}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
    body #header .basket_fly {
        top: 0;
        height: 46px;
        width: 100%;
        left: 0;
        right: auto;
        position: absolute;
        box-shadow: none;
        min-height: inherit;
    }
}

.middle-header .basket_wrapp .wraps_icon_block {
    width: 17px;
    height: 16px;
    position: relative;
    float: left;
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
    float: none;
    top: 39%;
    margin: 0 6px 0 0;
}

@media (max-width: 950px) {
body .top_slider_wrapp .flexslider .slides>li {
    background-size: 100% 100%;
    /* background-size: cover; */
}
}

@media (max-width: 380px) {
    .top-phone {
        font-size: 18px;
    }
    .middle-wa img {
        left: -6px;
    }
}

/*
.mainmenu-block .b-header-menu__brands-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mainmenu-block .b-header-menu__brands-line .b-header-menu__brands-item {
    height: 50px;
    width: 72px;
    margin-right: 36px;
    position: relative;
}
.mainmenu-block .b-header-menu__brands-line .b-header-menu__brands-item-img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.mainmenu-block .submenu li.has-brand {
    display: inline-table;
}*/