/* table layout */

.b-param-table {
	margin-top: 10px;
	margin-bottom: 10px;
}

.b-param-table__cell {
	padding: 1px 8px;
}

.b-param-table__input {
	width: 100%;
	box-sizing: border-box;
}

.b-param-table__footer {
	margin-top: 10px;
}

.b-param-table__warning > td {
	padding-top: 6px;
	padding-bottom: 6px;
}

.b-param-table__warning.is--empty {
	display: none;
}

.width--param-source-cell {
	width: 200px;
}

.width--param-field-cell {
	width: 350px;
}

/* hidden tags */

.js-params--show-hidden-tags {
	display: inline-block;
	position: relative;
}

.js-params--show-hidden-tags a {
	border-bottom: 1px dotted;
	text-decoration: none;
}

.js-params--hidden-tags {
	background-color: #000;
	bottom: 100%;
	display: none;
	font-size: 14px;
	left: 50%;
	padding: 6px 0;
	position: absolute;
	transform: translateX(-50%);
}

.js-params--show-hidden-tags:hover .js-params--hidden-tags {
	display: block;
}

.js-params--hidden-tags a {
	background: transparent;
	border: 0;
	color: #fff;
	display: block;
	font-family: "Courier New", monospace;
	padding: 2px 16px 3px;
	text-decoration: none;
}

.js-params--hidden-tags a:hover {
	background-color: #333;
}