.overlay {
    background-color: rgba(0, 0, 0, 0.0);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 5;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.link-catalog-and-window {
    position: relative;
}

.window.catalog {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 900px;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 0px #77848d;
    background: white;
    /*visibility: hidden;*/
    opacity: 1;
    z-index: 6;
}

.window.catalog .close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(/img/close.png);
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.window.catalog .category-popup-item-wrap {
    display: inline-block;
    vertical-align: top;
    width: 265px;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 170px;
    position: relative;
}

.window.catalog .category-popup-item-wrap:hover .category-popup-item {
    border-color: #c5c4c4;
    background: #fff;
    z-index: 100;
}

.window.catalog .category-popup-item-wrap:hover .category-popup-item-sublist {
    height: auto;
}

.window.catalog .category-popup-item {
    position: absolute;
    top: 0;
    right: -15px;
    padding: 15px;
    border: 1px solid #fff;
}

.window.catalog .category-popup-item img {
    float: left;
    width: 50px;
    height: 50px;
}

.window.catalog .category-popup-item-sublist {
    margin-left: 65px;
    height: 160px;
    overflow: hidden;
}

.window.catalog .category-popup-item-title a {
    font-size: 20px;
    color: #004f8a;
    margin-bottom: 10px;
    display: block;
}

.window.catalog .category-popup-item-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.window.catalog .category-popup-item-menu li {
    margin-bottom: 7px;
    color: #7ba4b4;
}

.window.catalog .category-popup-item-menu a {
    text-decoration: none;
    color: #486f86;
    margin-bottom: 5px;
    font-size: 14px;
    padding-bottom: 5px;
}
