/* Subscription */
div.subscription { /*width: 80%;*/ margin: 20px 0 0 0;}
div.subscription-title-inner { font-weight: bold; padding: 8px 12px 10px 12px; overflow: hidden; zoom: 1;}
/*div.subscription-title .r2, div.subscription-title .r0 { border-left: 1px solid; border-right: 1px solid;}*/
div.subscription-form { padding: 17px 11px 0; border: 1px solid; border-top:none; margin: 0 0 1.5em;}
table.subscription-layout { width: 100%; }
table.subscription-layout td { vertical-align: top; padding: 0 0 20px;}
table.subscription-layout td.field-name { width: 70px; text-align: right; padding-right: 7px;}
table.subscription-layout td.field-form {  }
input.subscription-email { width: 150px;}
input.subscription-textbox { width: 230px;}
div.subscription-format { white-space:nowrap; float: right; margin-right:1em;}
div.subscription-rubric { padding: 0 0 1em; overflow: hidden;}
div.subscription-rubric input { float: left; margin-right: -23px;}
div.subscription-rubric label { margin-left: 23px; display: block; padding-top: 2px;}
div.subscription-rubric span { display:block; margin-top: 0.25em; font-size: 0.85em; }
div.subscription-notes { margin: 0;}
div.subscription-utility p { font-size: 0.85em;}
div.subscription-buttons { margin-top: 1em;}

/* Subscription colors*/
div.subscription-title-inner {padding: 8px 10px;
    text-align: left;
    font: 14px/14px "displayMedium";
    color: #333333;
    border: 1px solid #b3c0ca;
    background: #e7edf1;
    background: -moz-linear-gradient(top,  #e7edf1 1%, #d7e1e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e7edf1), color-stop(100%,#d7e1e8));
    background: -webkit-linear-gradient(top,  #e7edf1 1%,#d7e1e8 100%);
    background: -o-linear-gradient(top,  #e7edf1 1%,#d7e1e8 100%);
    background: -ms-linear-gradient(top,  #e7edf1 1%,#d7e1e8 100%);
    background: linear-gradient(to bottom,  #e7edf1 1%,#d7e1e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7edf1', endColorstr='#d7e1e8',GradientType=0 );
}
div.subscription-title .r2, div.subscription-title .r0 {border-color:#b3c0ca;}
div.subscription-form { border-color: #b3c0ca;}
div.subscription-rubric span, div.subscription-format span, div.subscription-utility p { color: #787878; }



div.subscribe-edit .red {
    color:red;
}
div.subscribe-edit .green {
    color:green;
}
div.subscribe-edit .errorcolor {
    color:red;
}
div.subscribe-edit .successcolor {
    color:green;
}


