.sof-req{color:red;}
.sof-ok{color:green; font-weight:bold;}
div.errortext{
    color:red;
    margin-top: 5px;
}
div.errortext ul li{
    margin-left: 20px;
}
input[type="text"] {min-width:50%}

table.items.view3{
    margin: 0;
}
.order-checkout h2{
    margin: 15px 0 5px;
}

div.search-popup{border: 1px solid #333333;background: #FFFFFF;padding: 2px;margin: 0px; width:307px; z-index: 1000!important; }
.auth-table td{
    padding: 5px;
}
