body {
	background: #f7f9fa url(../img/color3/bg.jpg) repeat-x 0px 42px;
}
body.printPage {
	background: none;
}
a {color: #486f86;}
a:hover{color: #006ca9; text-decoration: underline;}
.btn a, .btn input{
	text-shadow: -1px -1px 1px #00629b;
	background: #008bc1;
	background: -moz-linear-gradient(top,  #008bc1 0%, #005296 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008bc1), color-stop(100%,#005296));
	background: -webkit-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: -o-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: -ms-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: linear-gradient(to bottom,  #008bc1 0%,#005296 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008bc1', endColorstr='#005296',GradientType=0 );
}
#top .btn a{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00008bc1', endColorstr='#00005296',GradientType=0 );
}
.btn a:hover, .btn input:hover{
	color: #fff;
	text-decoration: none;
}
.btn.alt a,#order_cart_header.active a, .btn.alt button, .btn.alt input[type="submit"], .btn_a.alt button, .styled-form input[type="submit"], .styled-form input[type="button"]{
	text-shadow: -1px -1px 1px #fff;
	background: #ffe000;
	background: -moz-linear-gradient(top,  #ffe000 0%, #ffb500 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe000), color-stop(100%,#ffb500));
	background: -webkit-linear-gradient(top,  #ffe000 0%,#ffb500 100%);
	background: -o-linear-gradient(top,  #ffe000 0%,#ffb500 100%);
	background: -ms-linear-gradient(top,  #ffe000 0%,#v 100%);
	background: linear-gradient(to bottom,  #ffe000 0%,#v 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe000', endColorstr='#ffb500',GradientType=0 );
	border-bottom: 1px solid #db9b00;
	color: #333 !important;
    
}
#order_cart_header a{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F9FA', endColorstr='#F7F9FA',GradientType=0 );
}
#order_cart_header.active a{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad000', endColorstr='#5d8f00',GradientType=0 );
}
#order_cart_header.active a:hover, .btn.alt a:hover, .btn.alt button:hover, .btn_a.alt button:hover, .btn.alt input[type="submit"]:hover,.styled-form input[type="submit"]:hover, .styled-form input[type="button"]:hover{
	box-shadow: inset 0px 0px 4px 1px #ffe000;
}
.styled-form input[type="submit"]:active, 
.styled-form input[type="button"]:active,
.styled-form input[type="button"]:focus,
.styled-form input[type="submit"]:focus
{
    border: none;
    outline: 0;
}
.btn.alt a:active,
#order_cart_header.active a:active,
.btn.alt button:active, .btn_a.alt button:active, .btn.alt input[type="submit"]:active,
#sort2 .compareList a:active,
#tovar .compareList a:active,
.styled-form input[type="submit"]:active, 
.styled-form input[type="button"]:active
{
	box-shadow: inset 0px 2px 4px 0px #ffb500;
	background: #ffb500;
	background: -moz-linear-gradient(top,  #ffb500 0%, #ffe000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb500), color-stop(100%,#ffe000));
	background: -webkit-linear-gradient(top,  #ffb500 0%,#bad000 100%);
	background: -o-linear-gradient(top,  #ffb500 0%,#ffe000 100%);
	background: -ms-linear-gradient(top,  #ffb500 0%,#ffe000 100%);
	background: linear-gradient(to bottom,  #ffb500 0%,#ffe000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb500', endColorstr='#ffe000',GradientType=0 );
}
.btn.darrow a b{
	border-left: 1px solid #005595;
	box-shadow: inset 1px 0px 0px 0px #218dbf;
}
.btn.buy a b{
	border-right: 1px solid #005595;
	box-shadow: inset -1px 0px 0px 0px #218dbf;
}
.btn.call a{
	border: 1px solid #d0d6db;
	text-shadow: none;
	background: #fdfefe;
	background: -moz-linear-gradient(top,  #fdfefe 0%, #eceef2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#eceef2));
	background: -webkit-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: -o-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: -ms-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: linear-gradient(to bottom,  #fdfefe 0%,#eceef2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#eceef2',GradientType=0 );
}
.btn.call a:hover{
	border: 1px solid #a5e3fc;
	box-shadow: 0px 0px 0px 1px #dcf2fb;
	color: #333;
}
.btn.call a:active{
	border: 1px solid #bbc2c9;
	background: #e9ecef;
	box-shadow: inset 0px 2px 5px #b3bbc2;
}
.btn.call a b{
	border-right: 1px solid #fff;
	box-shadow: inset -1px 0px 0px 0px #d0d6db;
	background: url(../img/color3/call.png) no-repeat center center;
}
.btn a:hover{
	box-shadow: inset 0px 0px 4px 1px #00bde5;
}
.btn a:active{
	background: #005296;
	background: -moz-linear-gradient(top,  #005296 0%, #008bc1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005296), color-stop(100%,#008bc1));
	background: -webkit-linear-gradient(top,  #005296 0%,#008bc1 100%);
	background: -o-linear-gradient(top,  #005296 0%,#008bc1 100%);
	background: -ms-linear-gradient(top,  #005296 0%,#008bc1 100%);
	background: linear-gradient(to bottom,  #005296 0%,#008bc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005296', endColorstr='#008bc1',GradientType=0 );
}
.window.catalog {
    background: -moz-linear-gradient(top,  rgba(0,96,161,0.95) 0%, rgba(0,96,161,0.95) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,96,161,0.95)), color-stop(100%,rgba(0,96,161,0.95)));
    background: -webkit-linear-gradient(top,  rgba(0,96,161,0.95) 0%,rgba(0,96,161,0.95) 100%);
    background: -o-linear-gradient(top,  rgba(0,96,161,0.95) 0%,rgba(0,96,161,0.95) 100%);
    background: -ms-linear-gradient(top,  rgba(0,96,161,0.95) 0%,rgba(0,96,161,0.95) 100%);
    background: linear-gradient(to bottom,  rgba(0,96,161,0.95) 0%,rgba(0,96,161,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f20060a1', endColorstr='#f20060a1',GradientType=0 );
}
.window.catalog .angle {
	border-color: transparent transparent #0060a1 transparent;
}
.window.catalog ul li.title {
	background: #004f8a;
}
.window.enter .title,
.window.wait .title,
.window.call .title,
.window2.compareList .title,
.windowBasket .title{
	text-shadow: -1px -1px 1px #00629b;
	background: #008bc1;
	background: -moz-linear-gradient(top,  #008bc1 0%, #005296 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008bc1), color-stop(100%,#005296));
	background: -webkit-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: -o-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: -ms-linear-gradient(top,  #008bc1 0%,#005296 100%);
	background: linear-gradient(to bottom,  #008bc1 0%,#005296 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008bc1', endColorstr='#005296',GradientType=0 );
}
header #search button,.search-page-form input[type="submit"] {
	background:url(../img/color3/search.png) no-repeat center center;
}
#slides .slide .box .title {
	color: #006ca9;
}
#slides .slidesNext,
#slides .slidesPrevious {
	background: #028ec2;
	background: -moz-linear-gradient(top,  #028ec2 0%, #00559a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#028ec2), color-stop(100%,#00559a));
	background: -webkit-linear-gradient(top,  #028ec2 0%,#00559a 100%);
	background: -o-linear-gradient(top,  #028ec2 0%,#00559a 100%);
	background: -ms-linear-gradient(top,  #028ec2 0%,#00559a 100%);
	background: linear-gradient(to bottom,  #028ec2 0%,#00559a 100%);
}
.ie7 #slides .slidesNext {
	background: #028ec2 url(../img/slideArrows.png) no-repeat 12px 9px;
}
.ie7 #slides .slidesPrevious {
	background: #028ec2 url(../img/slideArrows.png) no-repeat 12px -42px;
}
#slides .slidesNext:hover,
#slides .slidesPrevious:hover {
	box-shadow: inset 0px 1px 4px 1px #26b1da;
}
#slides .slidesNext:active,
#slides .slidesPrevious:active{
	box-shadow: inset 0px 1px 4px 1px #025997;
}
#slides .slidesPagination li:hover a,
#slides .slidesPagination li.slidesCurrent a{
	background: #1f95c5;
	background: -moz-linear-gradient(top,  #1f95c5 1%, #00518f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1f95c5), color-stop(100%,#00518f));
	background: -webkit-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: -o-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: -ms-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: linear-gradient(to bottom,  #1f95c5 1%,#00518f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f95c5', endColorstr='#00518f',GradientType=0 );
}
h2.news{background: url(../img/color3/news.png) no-repeat 0px center;}
h2.brands{background: url(../img/color3/brands.png) no-repeat 0px center;}
h2.articles{background: url(../img/color3/articles.png) no-repeat 0px center;}
.pm:hover {
	border: 1px solid #a5e3fc;
	box-shadow: 0px 0px 0px 1px #dcf2fb;
}
.pm .p{background: url(../img/color3/pm.png) no-repeat 8px 4px;}
.pm .m{background: url(../img/color3/pm.png) no-repeat 8px -15px;}
.pm .p:active{
	background: #e4e7ea url(../img/color3/pm.png) no-repeat 8px 4px;
	box-shadow: inset 0px 1px 3px 0px #959faa;
}
.pm .m:active{
	background: #e4e7ea url(../img/color3/pm.png) no-repeat 8px -15px;
	box-shadow: inset 0px 1px 3px 0px #959faa;
	border-top: 1px solid #959faa;
}
.items .cart {background: url(../img/color3/cartHover.png) no-repeat -1px -1px;}
.items .cart:hover,.items .cart.active {background: url(../img/color3/cartHover.png) no-repeat -1px -43px;}
.items .cart:active{background: url(../img/color3/cartHover.png) no-repeat -1px -85px !important;}
div.news article .date,
h1 .date, span.date{background: #ffcc00; color: #333 !important;}
.bigIcons li:after{
	background-image:url(../img/color3/bigIcons.png);
	background-repeat: no-repeat;
}
.sort span a:hover,
.category span a:hover,
#pagination span a:hover,
#view span a:hover,
#sort2 span a:hover,
#comparator_inner > .left .options div a:hover,
.viewBlock span a:hover,
#content > a.more:hover {
	border: 1px solid  #a5e3fc;
}
.sort span a:active,
.category span a:active,
#pagination span a:active,
#view span a:active,
#sort2 span a:active,
#comparator_inner > .left .options div a:active,
 .viewBlock span a:active,
 #content > a.more:active {
	border: 1px solid #bbc2c9;
	background: #e9ecef;
	box-shadow: inset 0px 2px 5px #b3bbc2;
}
.sort span.current a,
.category span.current a,
#pagination span.current a,
#view span.current a,
#sort2 span.current a,
#comparator_inner > .left .options div.current a,
.viewBlock span.current a{
	color: #347092;
	background: #d6e9f0;
	box-shadow: inset 0px 1px 4px 0px #a9c6d1;
}
#pagination span.prev a:active{
	background: #e9ecef url(../img/pagination.png) no-repeat 8px 7px;
}
#pagination span.next a:active{
	background: #e9ecef url(../img/pagination.png) no-repeat -31px 7px;
}
.ie9 .sort span.current a,
.ie9 .category span.current a,
.ie9 #pagination span.current a,
.ie9 #view span.current a,
.ie9 #sort2 span.current a,
.ie9 #comparator_inner > .left .options div.current a,
.ie8 .sort span.current a,
.ie8 .category span.current a,
.ie8 #pagination span.current a,
.ie8 #view span.current a,
.ie8 #sort2 span.current a,
.ie8 #comparator_inner > .left .options div.current a,
.ie7 .sort span.current a,
.ie7 .category span.current a,
.ie7 #pagination span.current a,
.ie7 #view span.current a,
.ie7 #sort2 span.current a,
.ie7 #comparator_inner > .left .options div.current a,
.ie7 .viewBlock span.current a,
.ie8 .viewBlock span.current a,
.ie9 .viewBlock span.current a {
	border: 1px solid #008bc1;
	color: #005397;
}
.window.catalog > ul > li > ul a {
	color: #66ccff;
}
.window2.compareList article .close{
	width: 16px;
	height: 16px;
	top: 3px;
	right: 3px;
	background:url(../img/color3/close.png);
}
.items.basket .close{
	width: 16px;
	height: 16px;
	top: 10px;
	right: 5px;
	background:url(../img/color3/close.png);
}
#view span.view1 a{background: url(../img/color3/view.png) no-repeat 5px 7px;}
#view span.view2 a{background: url(../img/color3/view.png) no-repeat -21px 7px;}
#view span.view3 a{background: url(../img/color3/view.png) no-repeat -43px 7px;}
#view span.view1.current a{background: #d6e9f0 url(../img/color3/view.png) no-repeat 5px -14px;}
#view span.view2.current a{background: #d6e9f0 url(../img/color3/view.png) no-repeat -21px -14px;}
#view span.view3.current a{background: #d6e9f0 url(../img/color3/view.png) no-repeat -43px -14px;}
.btn.wait{
	background: #999999;
	background: -moz-linear-gradient(top,  #999999 1%, #5a5a5a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#999999), color-stop(100%,#5a5a5a));
	background: -webkit-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
	background: -o-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
	background: -ms-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
	background: linear-gradient(to bottom,  #999999 1%,#5a5a5a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#5a5a5a',GradientType=0 );

}
.btn.wait a{
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');

}
.btn.wait:hover, .btn.wait.active{
	border: none;
	box-shadow: none;
	background: #e16a4c;
	background: -moz-linear-gradient(top,  #e16a4c 1%, #b92a1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e16a4c), color-stop(100%,#b92a1e));
	background: -webkit-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
	background: -o-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
	background: -ms-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
	background: linear-gradient(to bottom,  #e16a4c 1%,#b92a1e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e16a4c', endColorstr='#b92a1e',GradientType=0 );
}
.btn.wait:active{
	border: none;
	box-shadow: none;
	background: #b92a1e;
	background: -moz-linear-gradient(top,  #b92a1e 0%, #e16a4c 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b92a1e), color-stop(99%,#e16a4c));
	background: -webkit-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
	background: -o-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
	background: -ms-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
	background: linear-gradient(to bottom,  #b92a1e 0%,#e16a4c 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b92a1e', endColorstr='#e16a4c',GradientType=0 );
	box-shadow: inset 0px 3px 5px 0px #862e19;

}
.btn.wait a:active{
	border: none;
	background: url(../img/wait.png) no-repeat 23px 5px;
	box-shadow: none;
}
.btn.wait:hover a, .btn.wait.active a{
	border: none;
	box-shadow: none;
}
ul.simple {list-style-image: url(../img/color3/listStyle.png);}
div.filter {
	border: 1px solid #c1c9cf;
	background: #e0e8ed;
}
#sort2 .compareList.active,
#tovar .compareList.active{
	border: 1px solid #db9a00;
	background: #ffe000;
	background: -moz-linear-gradient(top,  #ffe000 0%, #ffb500 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe000), color-stop(100%,#ffb500));
	background: -webkit-linear-gradient(top,  #ffe000 0%,#ffb500 100%);
	background: -o-linear-gradient(top,  #ffe000 0%,#ffb500 100%);
	background: -ms-linear-gradient(top,  #ffe000 0%,#v 100%);
	background: linear-gradient(to bottom,  #ffe000 0%,#v 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe000', endColorstr='#ffb500',GradientType=0 );
	border-bottom: 1px solid #db9b00;
}
#sort2 .compareList.active a,
#tovar .compareList.active a{
	color: #333 !important;
	text-shadow: -1px -1px 1px #fff;
}
#tovar .box .big .discount{background: #0e90c3;}
#tovar .box .big .hit{background: #ffcc00; color: #333 !important;}
#tovar .box .big .new{background: #cf4d37;}
#tovar .box .big .discount b{background:url(../img/color3/label2.png)}
#tovar .box .big .hit b{background:url(../img/color3/label1.png)}
#tovar .box .big .new b{background:url(../img/color3/label3.png)}
#reviews .mark b{background:url(../img/color3/mark.png) no-repeat 0px -39px;}
#reviews .mark b.f{background:url(../img/color3/mark.png) no-repeat 0px 0px;}
#reviews .info span.name,
#reviews .info span.name a{
	color: #feb300;
}
.radio {background:url(../img/color3/radio.png) no-repeat -42px -3px;}
.radio.checked {background:url(../img/color3/radio.png) no-repeat 0px -3px;}
table.view3 td span.no{background: url(../img/color3/count.png) no-repeat 0px 4px;}
table.view3 td span.low{background: url(../img/color3/count.png) no-repeat 0px -54px;}
table.view3 td span.medium{background: url(../img/color3/count.png) no-repeat 0px -150px;}
table.view3 td span.high{background: url(../img/color3/count.png) no-repeat 0px -226px;}
.files span.file1 a{background: url(../img/color3/fileIco.png) no-repeat 0px center;}
.files span.file2 a{background: url(../img/color3/fileIco2.png) no-repeat 0px center;}
header #basket .title .add, #add_in_basket {
	background: url(../img/color3/blue.png) no-repeat 0px 0px;
}
#about {
	background: #e4eaef;
	border-top: 1px solid #c5cbd0;
	border-bottom: 1px solid #c5cbd0;
	margin-top: 40px;
}
.ui-slider .ui-slider-range {
	background: url(../img/slider.png) no-repeat;
	background: -moz-linear-gradient(top,  rgba(255,204,0,0.7) 0%, rgba(255,204,0,0.7) 1%, rgba(255,204,0,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,204,0,0.7)), color-stop(1%,rgba(255,204,0,0.7)), color-stop(100%,rgba(255,204,0,0.7)));
	background: -webkit-linear-gradient(top,  rgba(255,204,0,0.7) 0%,rgba(255,204,0,0.7) 1%,rgba(255,204,0,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(255,204,0,0.7) 0%,rgba(255,204,0,0.7) 1%,rgba(255,204,0,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(255,204,0,0.7) 0%,rgba(255,204,0,0.7) 1%,rgba(255,204,0,0.7) 100%);
	background: linear-gradient(to bottom,  rgba(255,204,0,0.7) 0%,rgba(255,204,0,0.7) 1%,rgba(255,204,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b375a000', endColorstr='#b375a000',GradientType=0 );
}
#tovar .box .img:hover,
#tovar .box .img.current{
	border: 2px solid #ffcc00;
}
#reg, #reg_ext{background: url(../img/color3/ico_reg.png) no-repeat 15px center;}

body .btn.catalog + ul > li:hover > a {
    background: #008BC1;
    border-top: 1px solid #005296;
}
body .window.catalog {    
    border-color: #008BC1;
}
body .window.catalog.alt ul li > span:hover {
    color: #005296;
}
body .window.catalog.alt ul li > div a:hover{
    color: #005296;
}