body {
    background: #f7f9fa url(../img/color1/bg.jpg) repeat-x 0px 42px
}
section {
    /*background: #fff;*/
    width: 930px !important;
    padding: 0px 30px 0px;    
}
#slides {
    background: none;
    width: 930px !important;
    margin-bottom: 0px;
    padding: 0px 30px 25px;    
}
#slides .slidesPagination{
    bottom: 40px;
    left: 45px;
}
#slides .slidesNext{
    right: 8px;
}
#slides .slidesPrevious {
    left: 8px;
}
body.printPage {background: none;}
a {color: #e08a02;}
header a {color: #8d7232;}
.btn a, .btn input{
    text-shadow: 0px 1px 1px #ad7c15;
background: #f9bb15;
background: -moz-linear-gradient(top,  #f9bb15 0%, #f55f00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bb15), color-stop(100%,#f55f00));
background: -webkit-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -o-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -ms-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: linear-gradient(to bottom,  #f9bb15 0%,#f55f00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bb15', endColorstr='#f55f00',GradientType=0 );

}
.items article .title {
    color: #e08a02;
}
.btn.catalog a{
    text-shadow: 0px 1px 1px #2a2a2a;background: #474747;
background: -moz-linear-gradient(top,  #474747 1%, #2a2a2a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#474747), color-stop(100%,#2a2a2a));
background: -webkit-linear-gradient(top,  #474747 1%,#2a2a2a 100%);
background: -o-linear-gradient(top,  #474747 1%,#2a2a2a 100%);
background: -ms-linear-gradient(top,  #474747 1%,#2a2a2a 100%);
background: linear-gradient(to bottom,  #474747 1%,#2a2a2a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#2a2a2a',GradientType=0 );
}
.btn.catalog a:active{
    background: -moz-linear-gradient(top,  #2a2a2a 1%, #474747 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2a2a2a), color-stop(100%,#474747));
    background: -webkit-linear-gradient(top,  #2a2a2a 1%,#474747 100%);
    background: -o-linear-gradient(top,  #2a2a2a 1%,#474747 100%);
    background: -ms-linear-gradient(top,  #2a2a2a 1%,#474747 100%);
    background: linear-gradient(to bottom,  #2a2a2a 1%,#474747 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#474747',GradientType=0 );
}
.btn.catalog a b{    
    border-left: 1px solid #252b2e !important;
    box-shadow: inset 1px 0px 0px 0px #4b4b4b !important;
}
.menu span {background: url(../img/color2/rArrow.png) no-repeat right 4px;}
footer {/*background: #fff;*/ width: 990px !important;}
footer .menu {margin-left: 35px;}
footer #copy {margin-left: 35px;}
footer .tel {margin-right: 10px;}
footer .menu span {    background: url(../img/color2/rArrow.png) no-repeat right 3px;}
#reg, #reg_ext{background:url(../img/color2/ico_reg.png) no-repeat 15px center;}
#enter{background:url(../img/color2/ico_enter.png) no-repeat 15px center;}
header .vcard .time {background:url(../img/color2/clock.png) no-repeat left center;}
header .vcard .time span {color: #8d7232;}
header .vcard .email {background:url(../img/color2/email.png) no-repeat left center;}
.tel span {color: #8d7232;}
header #basket .inf {color: #8d7232;}
.btn.buy a b{background:url(../img/color2/buy.png) no-repeat center center;}
#order_cart_header a{border: 1px solid #D3D8DC;}
#top .btn a{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00008bc1', endColorstr='#00005296',GradientType=0 );}
.btn a:hover, .btn input:hover{
    color: #fff;
    text-decoration: none;
}
.btn.alt a,#order_cart_header.active a, .btn.alt button, .btn.alt input[type="submit"], .btn_a.alt button,.styled-form input[type="submit"], .styled-form input[type="button"]{    
    text-shadow: 0px 1px 1px #ad7c15;
    background: #f9bb15;
background: -moz-linear-gradient(top,  #f9bb15 0%, #f55f00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bb15), color-stop(100%,#f55f00));
background: -webkit-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -o-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -ms-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: linear-gradient(to bottom,  #f9bb15 0%,#f55f00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bb15', endColorstr='#f55f00',GradientType=0 );


}
#order_cart_header a{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F9FA', endColorstr='#F7F9FA',GradientType=0 );
}
#order_cart_header.active a{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad000', endColorstr='#5d8f00',GradientType=0 );
}
#order_cart_header.active a:hover, .btn.alt a:hover, .btn.alt button:hover, .btn_a.alt button:hover, .btn.alt input[type="submit"]:hover,.styled-form input[type="submit"]:hover, .styled-form input[type="button"]:hover {
    box-shadow: inset 0px 0px 4px 1px #C48A00;
}
.btn.alt a:active,
#order_cart_header.active a:active,
.btn.alt button:active, .btn_a.alt button:active, .btn.alt input[type="submit"]:active,
#sort2 .compareList a:active,
#tovar .compareList a:active,
.styled-form input[type="submit"]:active,
.styled-form input[type="button"]:active
{
    box-shadow: inset 0px 2px 4px 0px #547a00;
    background: #ffa214;
    background: -moz-linear-gradient(top,  #ffa214 0%, #ffd731 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa214), color-stop(100%,#ffd731));
    background: -webkit-linear-gradient(top,  #ffa214 0%,#ffd731 100%);
    background: -o-linear-gradient(top,  #ffa214 0%,#ffd731 100%);
    background: -ms-linear-gradient(top,  #ffa214 0%,#ffd731 100%);
    background: linear-gradient(to bottom,  #ffa214 0%,#ffd731 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa214', endColorstr='#ffd731',GradientType=0 );
}
.ui-slider .ui-slider-range {
background: #f9bb15;
background: -moz-linear-gradient(top,  #f9bb15 0%, #f55f00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bb15), color-stop(100%,#f55f00));
background: -webkit-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -o-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -ms-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: linear-gradient(to bottom,  #f9bb15 0%,#f55f00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bb15', endColorstr='#f55f00',GradientType=0 );

}
.btn.darrow a b{
    border-left: 1px solid #005595;
    box-shadow: inset 1px 0px 0px 0px #218dbf;
}
.btn.buy a b{
    border-right: 1px solid #ffc63f;
    box-shadow: inset -1px 0px 0px 0px #b89e1f;
}
.btn.call a{
    border: 1px solid #d0d6db;
    text-shadow: none;
    background: #fdfefe;
    background: -moz-linear-gradient(top,  #fdfefe 0%, #eceef2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#eceef2));
    background: -webkit-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
    background: -o-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
    background: -ms-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
    background: linear-gradient(to bottom,  #fdfefe 0%,#eceef2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#eceef2',GradientType=0 );
}
.btn.call a:hover{
    border: 1px solid #FFD731;
    color: #333;
}
.btn.call a:active{
    border: 1px solid #bbc2c9;
    background: #e9ecef;
    box-shadow: inset 0px 2px 5px #b3bbc2;
}
.btn.call a b{
    border-right: 1px solid #fff;
    box-shadow: inset -1px 0px 0px 0px #d0d6db;
    background: url(../img/color2/call.png) no-repeat center center;
}
.btn a:hover{box-shadow: inset 0px 0px 4px 1px #fff;}
.btn a:active{
    background: #ffa314;
    background: -moz-linear-gradient(top,  #ffa314 0%, #ffd630 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa314), color-stop(100%,#ffd630));
    background: -webkit-linear-gradient(top,  #ffa314 0%,#ffd630 100%);
    background: -o-linear-gradient(top,  #ffa314 0%,#ffd630 100%);
    background: -ms-linear-gradient(top,  #ffa314 0%,#ffd630 100%);
    background: linear-gradient(to bottom,  #ffa314 0%,#ffd630 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa314', endColorstr='#ffd630',GradientType=0 );
}
.window.catalog {
    background: #616161;
    background: -moz-linear-gradient(top,  #616161 1%, #343434 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#616161), color-stop(100%,#343434));
    background: -webkit-linear-gradient(top,  #616161 1%,#343434 100%);
    background: -o-linear-gradient(top,  #616161 1%,#343434 100%);
    background: -ms-linear-gradient(top,  #616161 1%,#343434 100%);
    background: linear-gradient(to bottom,  #616161 1%,#343434 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#343434',GradientType=0 );
    opacity: 0.97;
}
.window.catalog .angle {
    border-color: transparent transparent #474747 transparent;
}
.window.catalog ul li.title {
    /*background: #004f8a;*/
    background: #737272;
}
.window.enter .title,
.window.wait .title,
.window.call .title,
.window2.compareList .title,
.windowBasket .title{
    text-shadow: -1px -1px 1px #AD7C15;
        background: #f9bb15;
background: -moz-linear-gradient(top,  #f9bb15 0%, #f55f00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bb15), color-stop(100%,#f55f00));
background: -webkit-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -o-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -ms-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: linear-gradient(to bottom,  #f9bb15 0%,#f55f00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bb15', endColorstr='#f55f00',GradientType=0 );
}
header #search button {
    background:url(../img/color2/search.png) no-repeat center center;
}
#slides .slide .box .title {color: #f5ad00;}
#slides .slidesNext,
#slides .slidesPrevious {
    background: #f9bb15;
background: -moz-linear-gradient(top,  #f9bb15 0%, #f55f00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bb15), color-stop(100%,#f55f00));
background: -webkit-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -o-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -ms-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: linear-gradient(to bottom,  #f9bb15 0%,#f55f00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bb15', endColorstr='#f55f00',GradientType=0 );

}
.ie7 #slides .slidesNext {
    background: #028ec2 url(../img/slideArrows.png) no-repeat 12px 9px;
}
.ie7 #slides .slidesPrevious {
    background: #028ec2 url(../img/slideArrows.png) no-repeat 12px -42px;
}
#slides .slidesNext:hover,
#slides .slidesPrevious:hover {
    box-shadow: inset 0px 1px 4px 1px #fff;
}
#slides .slidesNext:active,
#slides .slidesPrevious:active{
    box-shadow: inset 0px 1px 4px 1px #aaa;
}
#slides .slidesPagination li{background: #b8c2c6;
background: -moz-linear-gradient(top,  #b8c2c6 1%, #e5e8ea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b8c2c6), color-stop(100%,#e5e8ea));
background: -webkit-linear-gradient(top,  #b8c2c6 1%,#e5e8ea 100%);
background: -o-linear-gradient(top,  #b8c2c6 1%,#e5e8ea 100%);
background: -ms-linear-gradient(top,  #b8c2c6 1%,#e5e8ea 100%);
background: linear-gradient(to bottom,  #b8c2c6 1%,#e5e8ea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c2c6', endColorstr='#e5e8ea',GradientType=0 );

}
#slides .slidesPagination li:hover a,
#slides .slidesPagination li.slidesCurrent a{background: #ffd349;
background: -moz-linear-gradient(top,  #ffd349 0%, #f5a91a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd349), color-stop(100%,#f5a91a));
background: -webkit-linear-gradient(top,  #ffd349 0%,#f5a91a 100%);
background: -o-linear-gradient(top,  #ffd349 0%,#f5a91a 100%);
background: -ms-linear-gradient(top,  #ffd349 0%,#f5a91a 100%);
background: linear-gradient(to bottom,  #ffd349 0%,#f5a91a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd349', endColorstr='#f5a91a',GradientType=0 );

}
h2.news{background: url(../img/color2/news.png) no-repeat 0px center;}
h2.brands{background: url(../img/color2/brands.png) no-repeat 0px center;}
h2.articles{background: url(../img/color2/articles.png) no-repeat 0px center;}
.pm:hover {
    border: 1px solid #ffe6aa;
    box-shadow: 0px 0px 0px 1px #ffe6aa;
}
.pm .p{background: url(../img/color2/pm.png) no-repeat 8px 4px;}
.pm .m{background: url(../img/color2/pm.png) no-repeat 8px -15px;}
.pm .p:active{
    background: #e4e7ea url(../img/color2/pm.png) no-repeat 8px 4px;
    box-shadow: inset 0px 1px 3px 0px #959faa;
}
.pm .m:active{
    background: #e4e7ea url(../img/color2/pm.png) no-repeat 8px -15px;
    box-shadow: inset 0px 1px 3px 0px #959faa;
    border-top: 1px solid #959faa;
}
.items .cart {background: url(../img/color2/cartHover.png) no-repeat -1px -1px;}
.items .cart:hover,.items .cart.active {background: url(../img/color2/cartHover.png) no-repeat -1px -43px;}
.items .cart:active{background: url(../img/color2/cartHover.png) no-repeat -1px -85px !important;}
div.news article .date,
h1 .date, span.date{background: #c2c2c2;}
.bigIcons li:after{
    background-image:url(../img/color2/bigIcons.png);
    background-repeat: no-repeat;
}
#about{margin-top: 0px; background: none; border: none;}
#about .container{background: #616161; width: 925px; padding: 30px 50px;}
#about p,#about li span{color: #d3d3d3;}
#about a, #about h2{color: #ffbe23;}
.sort span a:hover,
.category span a:hover,
#pagination span a:hover,
#view span a:hover,
#sort2 span a:hover,
#comparator_inner > .left .options div a:hover,
.viewBlock span a:hover,
#content > a.more:hover {
    border: 1px solid  #FFD731;
}
.sort span a:active,
.category span a:active,
#pagination span a:active,
#view span a:active,
#sort2 span a:active,
#comparator_inner > .left .options div a:active,
 .viewBlock span a:active,
 #content > a.more:active {
    border: 1px solid #bbc2c9;
    background: #e9ecef;
    box-shadow: inset 0px 2px 5px #b3bbc2;
}
.sort span.current a,
.category span.current a,
#pagination span.current a,
#sort2 span.current a,
#view span.current a,
#comparator_inner > .left .options div.current a,
.viewBlock span.current a{
    color: #fff;
    border: 1px solid #fab500;
    background: #f9bb15;
background: -moz-linear-gradient(top,  #f9bb15 0%, #f55f00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bb15), color-stop(100%,#f55f00));
background: -webkit-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -o-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -ms-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: linear-gradient(to bottom,  #f9bb15 0%,#f55f00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bb15', endColorstr='#f55f00',GradientType=0 );
}
#view span.current a{
    box-shadow: inset 0px 1px 4px 0px #fab500;
}
#pagination span.prev a:active{
    background: #e9ecef url(../img/pagination.png) no-repeat 8px 7px;
}
#pagination span.next a:active{
    background: #e9ecef url(../img/pagination.png) no-repeat -31px 7px;
}
.ie9 .sort span.current a,
.ie9 .category span.current a,
.ie9 #pagination span.current a,
.ie9 #view span.current a,
.ie9 #sort2 span.current a,
.ie9 #comparator_inner > .left .options div.current a,
.ie8 .sort span.current a,
.ie8 .category span.current a,
.ie8 #pagination span.current a,
.ie8 #view span.current a,
.ie8 #sort2 span.current a,
.ie8 #comparator_inner > .left .options div.current a,
.ie7 .sort span.current a,
.ie7 .category span.current a,
.ie7 #pagination span.current a,
.ie7 #view span.current a,
.ie7 #sort2 span.current a,
.ie7 #comparator_inner > .left .options div.current a,
.ie7 .viewBlock span.current a,
.ie8 .viewBlock span.current a,
.ie9 .viewBlock span.current a {
    border: 1px solid #008bc1;
    color: #005397;
}
.window.catalog > ul > li > ul a {
    color: #E08A02;
}
.window2.compareList article .close{
    width: 16px;
    height: 16px;
    top: 3px;
    right: 3px;
    background:url(../img/color2/close.png);
}
.items.basket .close{
    width: 16px;
    height: 16px;
    top: 10px;
    right: 5px;
    background:url(../img/color2/close.png);
}
#view span.view1 a{background: url(../img/color2/view.png) no-repeat 5px 7px;}
#view span.view2 a{background: url(../img/color2/view.png) no-repeat -21px 7px;}
#view span.view3 a{background: url(../img/color2/view.png) no-repeat -43px 7px;}
#view span.view1.current a{background: #eef0d6 url(../img/color2/view.png) no-repeat 5px -14px;}
#view span.view2.current a{background: #eef0d6 url(../img/color2/view.png) no-repeat -20px -14px;}
#view span.view3.current a{background: #eef0d6 url(../img/color2/view.png) no-repeat -43px -14px;}
.btn.wait{
    background: #999999;
    background: -moz-linear-gradient(top,  #999999 1%, #5a5a5a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#999999), color-stop(100%,#5a5a5a));
    background: -webkit-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
    background: -o-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
    background: -ms-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
    background: linear-gradient(to bottom,  #999999 1%,#5a5a5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#5a5a5a',GradientType=0 );

}
.btn.wait a{
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');

}
.btn.wait:hover, .btn.wait.active{
    border: none;
    box-shadow: none;
    background: #e16a4c;
    background: -moz-linear-gradient(top,  #e16a4c 1%, #b92a1e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e16a4c), color-stop(100%,#b92a1e));
    background: -webkit-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
    background: -o-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
    background: -ms-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
    background: linear-gradient(to bottom,  #e16a4c 1%,#b92a1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e16a4c', endColorstr='#b92a1e',GradientType=0 );
}
.btn.wait:active{
    border: none;
    box-shadow: none;
    background: #b92a1e;
    background: -moz-linear-gradient(top,  #b92a1e 0%, #e16a4c 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b92a1e), color-stop(99%,#e16a4c));
    background: -webkit-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
    background: -o-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
    background: -ms-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
    background: linear-gradient(to bottom,  #b92a1e 0%,#e16a4c 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b92a1e', endColorstr='#e16a4c',GradientType=0 );
    box-shadow: inset 0px 3px 5px 0px #862e19;

}
.btn.wait a:active{
    border: none;
    background: url(../img/wait.png) no-repeat 23px 5px;
    box-shadow: none;
}
.btn.wait:hover a, .btn.wait.active a{
    border: none;
    box-shadow: none;
}
ul.simple {list-style-image: url(../img/color1/listStyle.png);}
div.filter {
    border: 1px solid #c1c9cf;
    background: #e0e8ed;
}
#sort2 .compareList.active,
#tovar .compareList.active{
    border: 1px solid #ffa214;
    text-shadow: 0px 1px 1px #ad7c15;
background: #f9bb15;
background: -moz-linear-gradient(top,  #f9bb15 0%, #f55f00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bb15), color-stop(100%,#f55f00));
background: -webkit-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -o-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: -ms-linear-gradient(top,  #f9bb15 0%,#f55f00 100%);
background: linear-gradient(to bottom,  #f9bb15 0%,#f55f00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bb15', endColorstr='#f55f00',GradientType=0 );

}
#tovar .box .big .discount{background: #0e90c3;}
#tovar .box .big .hit,#tovar .box .big .inscription{background: #80a800;}
#tovar .box .big .new{background: #cf4d37;}
#tovar .box .big .discount b{background:url(../img/color1/label2.png)}
#tovar .box .big .hit b,#tovar .box .big .inscription b{background:url(../img/color1/label1.png)}
#tovar .box .big .new b{background:url(../img/color1/label3.png)}
#reviews .mark b{background:url(../img/color2/mark.png) no-repeat 0px -39px;}
#reviews .mark b.f{background:url(../img/color2/mark.png) no-repeat 0px 0px;}
#tovar .box .big .inscription a{color: #FFF;}
#reviews .info span.name,
#reviews .info span.name a{
    color: #FAB500;
}
.radio {background:url(../img/color2/radio.png) no-repeat -42px -3px;}
.radio.checked {background:url(../img/color2/radio.png) no-repeat 0px -3px;}
table.view3 td span.no{background: url(../img/color2/count.png) no-repeat 0px 4px;}
table.view3 td span.low{background: url(../img/color2/count.png) no-repeat 0px -54px;}
table.view3 td span.medium{background: url(../img/color2/count.png) no-repeat 0px -150px;}
table.view3 td span.high{background: url(../img/color2/count.png) no-repeat 0px -226px;}
.files span.file1 a{background: url(../img/color2/fileIco.png) no-repeat 0px center;}
header #basket .title .add, #add_in_basket {
    background: url(../img/color2/blue.png) no-repeat 0px 0px;
}
body .mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background: #FFD630;
}
#tovar .box .img:hover,
#tovar .box .img.current{
    border: 2px solid #FAB500;
}
#tovar .box .big:hover{
    border: 2px solid #FAB500;
}
span.nal { 
    color: #629300 !important;
}
#setEview .current a{color:#FFF !important;}
.search-page-form input[type="submit"]{background:url(../img/color2/search.png) no-repeat center center;}
body .btn.catalog + ul > li:hover > a {
    background: #474747;
    border-top: 1px solid #474747;
}
body .window.catalog {    
    border-color: #474747;
}
body .window.catalog.alt ul li > span:hover {
    color: #474747;
}
body .window.catalog.alt ul li > div a:hover{
    color: #474747;
}