body {
	background: #f7f9fa url(../img/color5/bg.jpg) repeat-x center 0px;
}
a {color: #486f86;}
a:hover{color: #006ca9; text-decoration: underline;}
.btn a,
.btn input,
.window.enter .title, 
.window.wait .title,  
.window.call .title,
.window2.compareList .title,
#slides .slidesNext,
#slides .slidesPrevious{	
	text-shadow: -1px -1px 1px #00629b;	
	
	background: #57a2aa;
	background: -moz-linear-gradient(top,  #57a2aa 0%, #33616f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57a2aa), color-stop(100%,#33616f));
	background: -webkit-linear-gradient(top,  #57a2aa 0%,#33616f 100%);
	background: -o-linear-gradient(top,  #57a2aa 0%,#33616f 100%);
	background: -ms-linear-gradient(top,  #57a2aa 0%,#33616f 100%);
	background: linear-gradient(to bottom,  #57a2aa 0%,#33616f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a2aa', endColorstr='#33616f',GradientType=0 );
}
.btn a:hover,.btn input:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: inset 0px 0px 4px 1px #00e5a7;
}
.btn a:active,.btn input:active{
	background: #33616f ;
	background: -moz-linear-gradient(top,  #33616f  0%, #57a2aa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33616f ), color-stop(100%,#57a2aa));
	background: -webkit-linear-gradient(top,  #33616f  0%,#57a2aa 100%);
	background: -o-linear-gradient(top,  #33616f  0%,#57a2aa 100%);
	background: -ms-linear-gradient(top,  #33616f  0%,#57a2aa 100%);
	background: linear-gradient(to bottom,  #33616f  0%,#57a2aa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33616f ', endColorstr='#57a2aa',GradientType=0 );
}
.btn.alt a, 
.btn.alt button,
#sort2 .compareList.active,
#tovar .compareList.active,
#order_cart_header.active a,
.btn.alt input[type="submit"], .btn_a.alt button,.styled-form input[type="submit"], .styled-form input[type="button"]
{	
	text-shadow: -1px -1px 1px #9a151a;
	background: #ec2830;
	background: -moz-linear-gradient(top,  #ec2830 0%, #d41014 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec2830), color-stop(100%,#d41014));
	background: -webkit-linear-gradient(top,  #ec2830 0%,#d41014 100%);
	background: -o-linear-gradient(top,  #ec2830 0%,#d41014 100%);
	background: -ms-linear-gradient(top,  #ec2830 0%,#d41014 100%);
	background: linear-gradient(to bottom,  #ec2830 0%,#d41014 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec2830', endColorstr='#d41014',GradientType=0 );
}
#order_cart_header.active a:hover, .btn.alt a:hover, .btn.alt button:hover, .btn_a.alt button:hover, .btn.alt input[type="submit"]:hover,.styled-form input[type="submit"]:hover, .styled-form input[type="button"]:hover{box-shadow: inset 0px 0px 4px 1px #9a2525;}

.btn.alt a:active,
#order_cart_header.active a:active,
.btn.alt button:active, .btn_a.alt button:active, .btn.alt input[type="submit"]:active,
#sort2 .compareList a:active,
#tovar .compareList a:active,
.styled-form input[type="submit"]:active,
.styled-form input[type="button"]:active{
	background: #d41014;
	background: -moz-linear-gradient(top,  #d41014 0%, #ec2830 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d41014), color-stop(100%,#ec2830));
	background: -webkit-linear-gradient(top,  #d41014 0%,#ec2830 100%);
	background: -o-linear-gradient(top,  #d41014 0%,#ec2830 100%);
	background: -ms-linear-gradient(top,  #d41014 0%,#ec2830 100%);
	background: linear-gradient(to bottom,  #d41014 0%,#ec2830 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d41014', endColorstr='#ec2830',GradientType=0 );
}
.btn.darrow a b{
	border-left: 1px solid #316a7d;
	box-shadow: inset 1px 0px 0px 0px #5c9099;
}
.btn.call a{	
	border: 1px solid #d0d6db;
	text-shadow: none;
	background: #fdfefe;
	background: -moz-linear-gradient(top,  #fdfefe 0%, #eceef2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#eceef2));
	background: -webkit-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: -o-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: -ms-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: linear-gradient(to bottom,  #fdfefe 0%,#eceef2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#eceef2',GradientType=0 );
}
.btn.call a:hover,
.pm:hover,
.sort span a:hover,  
.category span a:hover,  
#pagination span a:hover, 
#view span a:hover,
#sort2 span a:hover,
.window2.compareList > .left .options div a:hover,
.viewBlock span a:hover,
#content > a.more:hover{	
	border: 1px solid #a5fcfb;
	box-shadow: 0px 0px 0px 1px #dcfbfa;
	color: #333;
}
.btn.call a:active{
	border: 1px solid #bbc2c9;
	background: #e9ecef;
	box-shadow: inset 0px 2px 5px #b3bbc2;
}
.btn.call a b{
	border-right: 1px solid #fff;
	box-shadow: inset -1px 0px 0px 0px #d0d6db;
	background: url(../img/color5/call.png) no-repeat center center;
}
.window.catalog {
	background: -moz-linear-gradient(top,  rgba(72,130,142,0.95) 0%, rgba(72,130,142,0.95) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,130,142,0.95)), color-stop(100%,rgba(72,130,142,0.95)));
	background: -webkit-linear-gradient(top,  rgba(72,130,142,0.95) 0%,rgba(72,130,142,0.95) 100%);
	background: -o-linear-gradient(top,  rgba(72,130,142,0.95) 0%,rgba(72,130,142,0.95) 100%);
	background: -ms-linear-gradient(top,  rgba(72,130,142,0.95) 0%,rgba(72,130,142,0.95) 100%);
	background: linear-gradient(to bottom,  rgba(72,130,142,0.95) 0%,rgba(72,130,142,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f248828e', endColorstr='#f248828e',GradientType=0 );
}
.window.catalog .angle {border-color: transparent transparent #48828e transparent;}
.window.catalog ul li.title {background: #346270;}
header #search button {
	background:url(../img/color5/search.png) no-repeat center center;
}
#slides .slide .box .title {
	color: #006ca9;
}
.ie7 #slides .slidesNext {
	background: #028ec2 url(../img/slideArrows.png) no-repeat 12px 9px;
}
.ie7 #slides .slidesPrevious {
	background: #028ec2 url(../img/slideArrows.png) no-repeat 12px -42px;
}
#slides .slidesNext:hover,
#slides .slidesPrevious:hover {
	box-shadow: inset 0px 1px 4px 1px #26b1da;
}
#slides .slidesNext:active,
#slides .slidesPrevious:active{
	box-shadow: inset 0px 1px 4px 1px #025997;
}
#slides .slidesPagination li:hover a,
#slides .slidesPagination li.slidesCurrent a{
	background: #1f95c5;
	background: -moz-linear-gradient(top,  #1f95c5 1%, #00518f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1f95c5), color-stop(100%,#00518f));
	background: -webkit-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: -o-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: -ms-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: linear-gradient(to bottom,  #1f95c5 1%,#00518f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f95c5', endColorstr='#00518f',GradientType=0 );
}
h2.news{background: url(../img/color5/news.png) no-repeat 0px center;}
h2.brands{background: url(../img/color5/brands.png) no-repeat 0px center;}
h2.articles{background: url(../img/color5/articles.png) no-repeat 0px center;}
.pm .p{background: url(../img/color5/pm.png) no-repeat 8px 4px;}
.pm .m{background: url(../img/color5/pm.png) no-repeat 8px -15px;}
.pm .p:active{
	background: #e4e7ea url(../img/color5/pm.png) no-repeat 8px 4px;
	box-shadow: inset 0px 1px 3px 0px #959faa;
}
.pm .m:active{
	background: #e4e7ea url(../img/color5/pm.png) no-repeat 8px -15px;
	box-shadow: inset 0px 1px 3px 0px #959faa;
	border-top: 1px solid #959faa;
}
.items .cart {background: url(../img/color5/cartHover.png) no-repeat -1px -1px;}
.items .cart:hover,.items .cart.active {background: url(../img/color5/cartHover.png) no-repeat -1px -43px;}
.items .cart:active{background: url(../img/color5/cartHover.png) no-repeat -1px -85px !important;}
div.news article .date, h1 .date {background: #71aab4;}
.bigIcons li:after{
	background-image:url(../img/color5/bigIcons.png);
	background-repeat: no-repeat;
}
.sort span a:active,  
.category span a:active,  
#pagination span a:active, 
#view span a:active,
#sort2 span a:active,
.window2.compareList > .left .options div a:active,
 .viewBlock span a:active,
 #content > a.more:active {
	border: 1px solid #bbc2c9;
	background: #e9ecef;
	box-shadow: inset 0px 2px 5px #b3bbc2;
} 
.sort span.current a,  
.category span.current a,  
#pagination span.current a,  
#view span.current a,
#sort2 span.current a,
.window2.compareList > .left .options div.current a,
#comparator_inner > .left .options div.current a,
.viewBlock span.current a{
	color: #347092;
	background: #f2f6f7;
	box-shadow: inset 0px 5px 15px -1px #9eb9c1;
}
#pagination span.prev a:active{
	background: #e9ecef url(../img/pagination.png) no-repeat 8px 7px;
}
#pagination span.next a:active{
	background: #e9ecef url(../img/pagination.png) no-repeat -31px 7px;
}
.ie9 .sort span.current a, 
.ie9 .category span.current a, 
.ie9 #pagination span.current a, 
.ie9 #view span.current a, 
.ie9 #sort2 span.current a,
.ie9 .window2.compareList > .left .options div.current a,
.ie8 .sort span.current a, 
.ie8 .category span.current a, 
.ie8 #pagination span.current a, 
.ie8 #view span.current a, 
.ie8 #sort2 span.current a,
.ie8 .window2.compareList > .left .options div.current a,
.ie7 .sort span.current a, 
.ie7 .category span.current a, 
.ie7 #pagination span.current a, 
.ie7 #view span.current a, 
.ie7 #sort2 span.current a,
.ie7 .window2.compareList > .left .options div.current a,,
.ie7 .viewBlock span.current a,
.ie8 .viewBlock span.current a,
.ie9 .viewBlock span.current a {
	border: 1px solid #57a2aa;
	color: #005397;
}
.window.catalog > ul > li > ul a {color: #FFF;}
.window2.compareList article .close{
	width: 16px;
	height: 16px;
	top: 3px;
	right: 3px;
	background:url(../img/color5/close.png);
}
.items.basket .close{
	width: 16px;
	height: 16px;
	top: 10px;
	right: 5px;
	background:url(../img/color5/close.png);
}
#view span.view1 a{background: url(../img/color5/view.png) no-repeat 5px 7px;}
#view span.view2 a{background: url(../img/color5/view.png) no-repeat -21px 7px;}
#view span.view3 a{background: url(../img/color5/view.png) no-repeat -43px 7px;}
#view span.view1.current a{background: #d6e9f0 url(../img/color5/view.png) no-repeat 5px -14px;}
#view span.view2.current a{background: #d6e9f0 url(../img/color5/view.png) no-repeat -21px -14px;}
#view span.view3.current a{background: #d6e9f0 url(../img/color5/view.png) no-repeat -43px -14px;}
.btn.wait{
	background: #999999;
	background: -moz-linear-gradient(top,  #999999 1%, #5a5a5a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#999999), color-stop(100%,#5a5a5a));
	background: -webkit-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
	background: -o-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
	background: -ms-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
	background: linear-gradient(to bottom,  #999999 1%,#5a5a5a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#5a5a5a',GradientType=0 );

}
.btn.wait a{
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');

}
.btn.wait:hover{
	border: none;
	box-shadow: none;
	background: #e16a4c;
	background: -moz-linear-gradient(top,  #e16a4c 1%, #b92a1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e16a4c), color-stop(100%,#b92a1e));
	background: -webkit-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
	background: -o-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
	background: -ms-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
	background: linear-gradient(to bottom,  #e16a4c 1%,#b92a1e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e16a4c', endColorstr='#b92a1e',GradientType=0 );
}
.btn.wait:active{
	border: none;
	box-shadow: none;
	background: #b92a1e;
	background: -moz-linear-gradient(top,  #b92a1e 0%, #e16a4c 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b92a1e), color-stop(99%,#e16a4c));
	background: -webkit-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
	background: -o-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
	background: -ms-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
	background: linear-gradient(to bottom,  #b92a1e 0%,#e16a4c 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b92a1e', endColorstr='#e16a4c',GradientType=0 );
	box-shadow: inset 0px 3px 5px 0px #862e19;

}
.btn.wait a:active{
	border: none;
	background: url(../img/wait.png) no-repeat 23px 5px;
	box-shadow: none;
}
.btn.wait:hover a{
	border: none;
	box-shadow: none;
}
ul.simple {list-style-image: url(../img/color5/listStyle.png);}
div.filter {
	border: 1px solid #c1c9cf;
	background: #e0e8ed;
}
#tovar .box .big .discount{background: #0e90c3;}
#tovar .box .big .hit{background: #80a800;}
#tovar .box .big .new{background: #cf4d37;}
#tovar .box .big .discount b{border-left-color: #0e90c3;}
#tovar .box .big .hit b{border-left-color: #80a800;}
#reviews .mark b{background:url(../img/color5/mark.png) no-repeat 0px -39px;}
#reviews .mark b.f{background:url(../img/color5/mark.png) no-repeat 0px 0px;}
#reviews .info span.name,
#reviews .info span.name a{
	color: #629300;
}
.radio {background:url(../img/color5/radio.png) no-repeat -42px -3px;}
.radio.checked {background:url(../img/color5/radio.png) no-repeat 0px -3px;}
table.view3 td span.no{background: url(../img/color5/count.png) no-repeat 0px 4px;}
table.view3 td span.low{background: url(../img/color5/count.png) no-repeat 0px -54px;}
table.view3 td span.medium{background: url(../img/color5/count.png) no-repeat 0px -150px;}
table.view3 td span.high{background: url(../img/color5/count.png) no-repeat 0px -226px;}
.files span.file1 a{background: url(../img/color5/fileIco.png) no-repeat 0px center;}
.files span.file2 a{background: url(../img/color5/fileIco2.png) no-repeat 0px center;}
.menu span {background: url(../img/color5/rArrow.png) no-repeat right 4px;}
#enter {background: url(../img/color5/ico_enter.png) no-repeat 15px center;}
#reg {background: url(../img/color5/ico_reg.png) no-repeat 15px center;}
#about {background: #fbf8f8;}
#order_cart_header a{color: #999999;}
header #logo span{color: #366573;}
.ui-slider .ui-slider-range,
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	box-shadow: inset 0px 1px 0px 0px #8bbac1,
				inset 0px -1px 0px 0px #3d717a;
	background: #6fa8b2 !important;
	background: -moz-linear-gradient(top,  #6fa8b2 0%, #4a8691 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fa8b2), color-stop(100%,#4a8691)) !important;
	background: -webkit-linear-gradient(top,  #6fa8b2 0%,#4a8691 100%) !important;
	background: -o-linear-gradient(top,  #6fa8b2 0%,#4a8691 100%) !important;
	background: -ms-linear-gradient(top,  #6fa8b2 0%,#4a8691 100%) !important;
	background: linear-gradient(to bottom,  #6fa8b2 0%,#4a8691 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fa8b2', endColorstr='#4a8691',GradientType=0 ) !important;
}
#sort2 .compareList.active, #tovar .compareList.active{border: 1px solid #fff;}
#tovar .box .img:hover img, 
#tovar .box .img.current img {border: 2px solid #4e8994;}
#reviews .info span.date{color: #666666;padding-left: 0;}
.search-page-form input[type="submit"]{background:url(../img/color5/search.png) no-repeat center center;}
body .btn.catalog + ul > li:hover > a {
    background: #57A2AA;
    border-top: 1px solid #57A2AA;
}
body .window.catalog {    
    border-color: #57A2AA;
}
body .window.catalog.alt ul li > span:hover {
    color: #57A2AA;
}
body .window.catalog.alt ul li > div a:hover{
    color: #57A2AA;
}
#tovar .box .big .discount b{background:url(../img/color1/label2.png)}
#tovar .box .big .hit b{background:url(../img/color1/label1.png)}
#tovar .box .big .new b{background:url(../img/color1/label3.png)}
#tovar .box .img:hover,
#tovar .box .img.current{
    border: none;
}
.btn.buy a b{
    border-right: 1px solid #33616F;
    box-shadow: inset -1px 0px 0px 0px #57A2AA;
}
header #basket .title .add, #add_in_basket {
    background: url(../img/color5/blue.png) no-repeat 0px 0px;
}