body {
    background: #f7f9fa url(../img/color1/bg.jpg) repeat-x 0px 42px;
}
body.printPage {
    background: none;
}
a {color: #486f86;}
a:hover{color: #b90001; text-decoration: underline;}
.btn a,
.btn input, 
.window.enter .title,
.window.wait .title,
.window.call .title,
.window2.compareList .title,
.windowBasket .title,
#slides .slidesPagination li:hover a,
#slides .slidesPagination li.slidesCurrent a{
    background: #d40003;
    background: -moz-linear-gradient(top,  #d40003 1%, #b90001 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d40003), color-stop(100%,#b90001));
    background: -webkit-linear-gradient(top,  #d40003 1%,#b90001 100%);
    background: -o-linear-gradient(top,  #d40003 1%,#b90001 100%);
    background: -ms-linear-gradient(top,  #d40003 1%,#b90001 100%);
    background: linear-gradient(to bottom,  #d40003 1%,#b90001 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d40003', endColorstr='#b90001',GradientType=0 );


}
#top .btn a{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00008bc1', endColorstr='#00005296',GradientType=0 );
}
.btn a:hover, .btn input:hover{
    color: #fff;
    text-decoration: none;
}
.btn.alt a,#order_cart_header.active a, .btn.alt button, .btn.alt input[type="submit"], .btn_a.alt button,.styled-form input[type="submit"], .styled-form input[type="button"]{
    background: #4f4f4f;
    background: -moz-linear-gradient(top,  #4f4f4f 2%, #1b1b1b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#4f4f4f), color-stop(100%,#1b1b1b));
    background: -webkit-linear-gradient(top,  #4f4f4f 2%,#1b1b1b 100%);
    background: -o-linear-gradient(top,  #4f4f4f 2%,#1b1b1b 100%);
    background: -ms-linear-gradient(top,  #4f4f4f 2%,#1b1b1b 100%);
    background: linear-gradient(to bottom,  #4f4f4f 2%,#1b1b1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#1b1b1b',GradientType=0 );

    border-bottom: 1px solid #1b1b1b;
    color: #fff !important;
}
#order_cart_header a{
    color: #999 !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F9FA', endColorstr='#F7F9FA',GradientType=0 );
}
#order_cart_header.active a{
    color: #fff !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad000', endColorstr='#5d8f00',GradientType=0 );
}
#order_cart_header.active a:hover, .btn.alt a:hover, .btn.alt button:hover, .btn_a.alt button:hover, .btn.alt input[type="submit"]:hover,.styled-form input[type="submit"]:hover, .styled-form input[type="button"]:hover{
    box-shadow: inset 0px 0px 4px 1px #616161;
}
.btn.alt a:active,
#order_cart_header.active a:active,
.btn.alt button:active, .btn_a.alt button:active, .btn.alt input[type="submit"]:active,
#sort2 .compareList a:active,
#tovar .compareList a:active,
.styled-form input[type="submit"]:active, .styled-form input[type="button"]:active
{
    box-shadow: inset 0px 0px 4px 1px #616161;
    background: #1b1b1b;
    background: -moz-linear-gradient(top,  #1b1b1b 0%, #4f4f4f 98%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b1b1b), color-stop(98%,#4f4f4f));
    background: -webkit-linear-gradient(top,  #1b1b1b 0%,#4f4f4f 98%);
    background: -o-linear-gradient(top,  #1b1b1b 0%,#4f4f4f 98%);
    background: -ms-linear-gradient(top,  #1b1b1b 0%,#4f4f4f 98%);
    background: linear-gradient(to bottom,  #1b1b1b 0%,#4f4f4f 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#4f4f4f',GradientType=0 );

}
.btn.darrow a b{
    border-left: 1px solid #c72122;
    box-shadow: inset 1px 0px 0px 0px #8c0001;
}
.btn.buy a b{
    border-right: 1px solid #c72122;
    box-shadow: inset -1px 0px 0px 0px #8c0002;
    background:url(../img/color4/buy.png) no-repeat center center;
}
.btn.call a{
    border: 1px solid #d0d6db;
    text-shadow: none;
    background: #fdfefe;
    background: -moz-linear-gradient(top,  #fdfefe 0%, #eceef2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#eceef2));
    background: -webkit-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
    background: -o-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
    background: -ms-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
    background: linear-gradient(to bottom,  #fdfefe 0%,#eceef2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#eceef2',GradientType=0 );
}
.btn.call a:hover{
    border: 1px solid #a5e3fc;
    box-shadow: 0px 0px 0px 1px #dcf2fb;
    color: #333;
}
.btn.call a:active{
    border: 1px solid #bbc2c9;
    background: #e9ecef;
    box-shadow: inset 0px 2px 5px #b3bbc2;
}
.btn.call a b{
    border-right: 1px solid #fff;
    box-shadow: inset -1px 0px 0px 0px #d0d6db;
    background: url(../img/color4/call.png) no-repeat center center;
}
.btn a:hover{
    box-shadow: inset 0px 0px 4px 1px #8c0001;
}
.btn a:active{
    background: #be0001;
    background: -moz-linear-gradient(top,  #be0001 0%, #c30001 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#be0001), color-stop(100%,#c30001));
    background: -webkit-linear-gradient(top,  #be0001 0%,#c30001 100%);
    background: -o-linear-gradient(top,  #be0001 0%,#c30001 100%);
    background: -ms-linear-gradient(top,  #be0001 0%,#c30001 100%);
    background: linear-gradient(to bottom,  #be0001 0%,#c30001 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be0001', endColorstr='#c30001',GradientType=0 );
}
.window.catalog {
    background: #d40003;
    background: -moz-linear-gradient(top,  #d40003 1%, #b90001 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d40003), color-stop(100%,#b90001));
    background: -webkit-linear-gradient(top,  #d40003 1%,#b90001 100%);
    background: -o-linear-gradient(top,  #d40003 1%,#b90001 100%);
    background: -ms-linear-gradient(top,  #d40003 1%,#b90001 100%);
    background: linear-gradient(to bottom,  #d40003 1%,#b90001 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d40003', endColorstr='#b90001',GradientType=0 );
}
.window.catalog .angle {
    border-color: transparent transparent #D40003 transparent;
}
.window.catalog ul li.title {
    background: #950103;
}
header #search button,.search-page-form input[type="submit"]{
    background:url(../img/color4/search.png) no-repeat center center;
}
#slides .slide .box .title {
    color: #b90001;
}
#slides .slidesNext,
#slides .slidesPrevious {background: #c40708;
    background: -moz-linear-gradient(top,  #c40708 0%, #970001 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c40708), color-stop(100%,#970001));
    background: -webkit-linear-gradient(top,  #c40708 0%,#970001 100%);
    background: -o-linear-gradient(top,  #c40708 0%,#970001 100%);
    background: -ms-linear-gradient(top,  #c40708 0%,#970001 100%);
    background: linear-gradient(to bottom,  #c40708 0%,#970001 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40708', endColorstr='#970001',GradientType=0 );

}
.ie7 #slides .slidesNext {
    background: #028ec2 url(../img/slideArrows.png) no-repeat 12px 9px;
}
.ie7 #slides .slidesPrevious {
    background: #028ec2 url(../img/slideArrows.png) no-repeat 12px -42px;
}
#slides .slidesNext:hover,
#slides .slidesPrevious:hover {
    box-shadow: inset 0px 1px 4px 1px #d30304;
}
#slides .slidesNext:active,
#slides .slidesPrevious:active{
    box-shadow: inset 0px 1px 4px 1px #840203;
}
h2.news{background: url(../img/color4/news.png) no-repeat 0px center;}
h2.brands{background: url(../img/color4/brands.png) no-repeat 0px center;}
h2.articles{background: url(../img/color4/articles.png) no-repeat 0px center;}
.pm:hover {
    border: 1px solid #a5e3fc;
    box-shadow: 0px 0px 0px 1px #dcf2fb;
}
.pm .p{background: url(../img/color4/pm.png) no-repeat 8px 4px;}
.pm .m{background: url(../img/color4/pm.png) no-repeat 8px -15px;}
.pm .p:active{
    background: #e4e7ea url(../img/color4/pm.png) no-repeat 8px 4px;
    box-shadow: inset 0px 1px 3px 0px #959faa;
}
.pm .m:active{
    background: #e4e7ea url(../img/color4/pm.png) no-repeat 8px -15px;
    box-shadow: inset 0px 1px 3px 0px #959faa;
    border-top: 1px solid #959faa;
}
.items .cart {background: url(../img/color4/cartHover.png) no-repeat -1px -1px;}
.items .cart:hover,.items .cart.active {background: url(../img/color4/cartHover.png) no-repeat -1px -43px;}
.items .cart:active{background: url(../img/color4/cartHover.png) no-repeat -1px -85px !important;}
div.news article .date,
h1 .date, span.date{background: #3b3b3b; color: #fff !important;}
.bigIcons li:after{
    background-image:url(../img/color4/bigIcons.png);
    background-repeat: no-repeat;
}
.sort span a:hover,
.category span a:hover,
#pagination span a:hover,
#view span a:hover,
#sort2 span a:hover,
#comparator_inner > .left .options div a:hover,
.viewBlock span a:hover,
#content > a.more:hover {
    border: 1px solid  #a5e3fc;
}
.sort span a:active,
.category span a:active,
#pagination span a:active,
#view span a:active,
#sort2 span a:active,
#comparator_inner > .left .options div a:active,
.viewBlock span a:active,
#content > a.more:active {
    border: 1px solid #bbc2c9;
    background: #e9ecef;
    box-shadow: inset 0px 2px 5px #b3bbc2;
}
.sort span.current a,
.category span.current a,
#pagination span.current a,
#view span.current a,
#sort2 span.current a,
#comparator_inner > .left .options div.current a,
.viewBlock span.current a{
    color: #5985a0;
    background: #e8e8e8;
    box-shadow: inset 0px 1px 4px 0px #d0dbdf;
}
#pagination span.prev a:active{
    background: #e9ecef url(../img/pagination.png) no-repeat 8px 7px;
}
#pagination span.next a:active{
    background: #e9ecef url(../img/pagination.png) no-repeat -31px 7px;
}
.ie9 .sort span.current a,
.ie9 .category span.current a,
.ie9 #pagination span.current a,
.ie9 #view span.current a,
.ie9 #sort2 span.current a,
.ie9 #comparator_inner > .left .options div.current a,
.ie8 .sort span.current a,
.ie8 .category span.current a,
.ie8 #pagination span.current a,
.ie8 #view span.current a,
.ie8 #sort2 span.current a,
.ie8 #comparator_inner > .left .options div.current a,
.ie7 .sort span.current a,
.ie7 .category span.current a,
.ie7 #pagination span.current a,
.ie7 #view span.current a,
.ie7 #sort2 span.current a,
.ie7 #comparator_inner > .left .options div.current a,
.ie7 .viewBlock span.current a,
.ie8 .viewBlock span.current a,
.ie9 .viewBlock span.current a {
    border: 1px solid #008bc1;
    color: #005397;
}
.window.catalog > ul > li > ul a {
    color: #FFF;
}
.window2.compareList article .close{
    width: 16px;
    height: 16px;
    top: 3px;
    right: 3px;
    background:url(../img/color4/close.png);
}
.items.basket .close{
    width: 16px;
    height: 16px;
    top: 10px;
    right: 5px;
    background:url(../img/color4/close.png);
}
#view span.view1 a{background: url(../img/color4/view.png) no-repeat 5px 7px;}
#view span.view2 a{background: url(../img/color4/view.png) no-repeat -21px 7px;}
#view span.view3 a{background: url(../img/color4/view.png) no-repeat -43px 7px;}
#view span.view1.current a{background: #d6e9f0 url(../img/color4/view.png) no-repeat 5px -14px;}
#view span.view2.current a{background: #d6e9f0 url(../img/color4/view.png) no-repeat -21px -14px;}
#view span.view3.current a{background: #d6e9f0 url(../img/color4/view.png) no-repeat -43px -14px;}
.btn.wait{
    background: #999999;
    background: -moz-linear-gradient(top,  #999999 1%, #5a5a5a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#999999), color-stop(100%,#5a5a5a));
    background: -webkit-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
    background: -o-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
    background: -ms-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
    background: linear-gradient(to bottom,  #999999 1%,#5a5a5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#5a5a5a',GradientType=0 );

}
.btn.wait a{
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');

}
.btn.wait:hover, .btn.wait.active{
    border: none;
    box-shadow: none;
    background: #e16a4c;
    background: -moz-linear-gradient(top,  #e16a4c 1%, #b92a1e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e16a4c), color-stop(100%,#b92a1e));
    background: -webkit-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
    background: -o-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
    background: -ms-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
    background: linear-gradient(to bottom,  #e16a4c 1%,#b92a1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e16a4c', endColorstr='#b92a1e',GradientType=0 );
}
.btn.wait:active{
    border: none;
    box-shadow: none;
    background: #b92a1e;
    background: -moz-linear-gradient(top,  #b92a1e 0%, #e16a4c 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b92a1e), color-stop(99%,#e16a4c));
    background: -webkit-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
    background: -o-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
    background: -ms-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
    background: linear-gradient(to bottom,  #b92a1e 0%,#e16a4c 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b92a1e', endColorstr='#e16a4c',GradientType=0 );
    box-shadow: inset 0px 3px 5px 0px #862e19;

}
.btn.wait a:active{
    border: none;
    background: url(../img/wait.png) no-repeat 23px 5px;
    box-shadow: none;
}
.btn.wait:hover a, .btn.wait.active a{
    border: none;
    box-shadow: none;
}
ul.simple {list-style-image: url(../img/color4/listStyle.png);}
div.filter {
    border: 1px solid #c1c9cf;
    background: #e0e8ed;
}
#sort2 .compareList.active,
#tovar .compareList.active{
    border: 1px solid #4f4f4f;
    background: #4f4f4f;
    background: -moz-linear-gradient(top, #4f4f4f 2%, #1b1b1b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#4f4f4f), color-stop(100%,#1b1b1b));
    background: -webkit-linear-gradient(top, #4f4f4f 2%,#1b1b1b 100%);
    background: -o-linear-gradient(top, #4f4f4f 2%,#1b1b1b 100%);
    background: -ms-linear-gradient(top, #4f4f4f 2%,#1b1b1b 100%);
    background: linear-gradient(to bottom, #4f4f4f 2%,#1b1b1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#1b1b1b',GradientType=0 );
    color: #fff !important;
    text-shadow: none !important;
}
#sort2 .compareList.active a,
#tovar .compareList.active a{
    color: #fff !important;
}
#tovar .box .big .discount{background: #0e90c3;}
#tovar .box .big .hit{background: #3b3b3b; color: #fff !important;}
#tovar .box .big .new{background: #cf4d37;}
#tovar .box .big .discount b{background:url(../img/color4/label2.png)}
#tovar .box .big .hit b{background:url(../img/color4/label1.png)}
#tovar .box .big .new b{background:url(../img/color4/label3.png)}
#reviews .mark b{background:url(../img/color4/mark.png) no-repeat 0px -39px;}
#reviews .mark b.f{background:url(../img/color4/mark.png) no-repeat 0px 0px;}
#reviews .info span.name,
#reviews .info span.name a{
    color: #c50002;
}
.radio {background:url(../img/color4/radio.png) no-repeat -42px -3px;}
.radio.checked {background:url(../img/color4/radio.png) no-repeat 0px -3px;}
table.view3 td span.no{background: url(../img/color4/count.png) no-repeat 0px 4px;}
table.view3 td span.low{background: url(../img/color4/count.png) no-repeat 0px -54px;}
table.view3 td span.medium{background: url(../img/color4/count.png) no-repeat 0px -150px;}
table.view3 td span.high{background: url(../img/color4/count.png) no-repeat 0px -226px;}
.files span.file1 a{background: url(../img/color4/fileIco.png) no-repeat 0px center;}
.files span.file2 a{background: url(../img/color4/fileIco2.png) no-repeat 0px center;}
header #basket .title .add, #add_in_basket {
    background: url(../img/color4/blue.png) no-repeat 0px 0px;
}
#about {
    background: #f8f8f8;
    border-top: 1px solid #c5cbd0;
    border-bottom: 1px solid #c5cbd0;
    margin-top: 40px;
}
.ui-slider .ui-slider-range {
    background: #d40003;
    background: -moz-linear-gradient(top,  #d40003 1%, #b90001 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d40003), color-stop(100%,#b90001));
    background: -webkit-linear-gradient(top,  #d40003 1%,#b90001 100%);
    background: -o-linear-gradient(top,  #d40003 1%,#b90001 100%);
    background: -ms-linear-gradient(top,  #d40003 1%,#b90001 100%);
    background: linear-gradient(to bottom,  #d40003 1%,#b90001 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d40003', endColorstr='#b90001',GradientType=0 );
}
#tovar .box .img:hover,
#tovar .box .img.current{
    border: 2px solid #d10002;
}
#reg{background: url(../img/color4/ico_reg.png) no-repeat 15px center;}
.menu span {
    background: url(../img/color4/rArrow.png) no-repeat right 4px;
}
#enter{background: url(../img/color4/ico_enter.png) no-repeat 15px center;}
#reg,#reg_ext{background: url(../img/color4/ico_reg.png) no-repeat 15px center;}
body .mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background: #d40003;
}