body {
    background: #f7f9fa url(../img/color6/bg.jpg) repeat-x center 0px;
}
a {color: #486f86;}
a:hover{color: #006ca9; text-decoration: underline;}
.btn a,
.btn_a a,
.window.enter .title, 
.window.wait .title,  
.window.call .title,
.window2.compareList .title,
#slides .slidesNext,
#slides .slidesPrevious,
.styled-form input[type="submit"],.styled-form input[type="button"],.btn input
{    
    text-shadow: -1px -1px 1px #be2719;    
    
    background: #e73522;
    background: -moz-linear-gradient(top,  #e73522 0%, #d61f14 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e73522), color-stop(100%,#d61f14));
    background: -webkit-linear-gradient(top,  #e73522 0%,#d61f14 100%);
    background: -o-linear-gradient(top,  #e73522 0%,#d61f14 100%);
    background: -ms-linear-gradient(top,  #e73522 0%,#d61f14 100%);
    background: linear-gradient(to bottom,  #e73522 0%,#d61f14 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73522', endColorstr='#d61f14',GradientType=0 );
}
.btn a:hover,.btn_a a:hover,
.styled-form input[type="submit"]:hover,.styled-form input[type="button"]:hover,.btn input:hover
{
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0px 0px 4px 1px #9d0000;
}
.btn a:active,.btn_a a:active,
.styled-form input[type="submit"]:active,.styled-form input[type="button"]:active,.btn input:active
{
    background: #d61f14 ;
    background: -moz-linear-gradient(top,  #d61f14  0%, #e73522 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d61f14 ), color-stop(100%,#e73522));
    background: -webkit-linear-gradient(top,  #d61f14  0%,#e73522 100%);
    background: -o-linear-gradient(top,  #d61f14  0%,#e73522 100%);
    background: -ms-linear-gradient(top,  #d61f14  0%,#e73522 100%);
    background: linear-gradient(to bottom,  #d61f14  0%,#e73522 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d61f14 ', endColorstr='#e73522',GradientType=0 );
}
.btn.darrow a b{
    border-left: 1px solid #a02318;
    box-shadow: inset 1px 0px 0px 0px #e14538;
}
.btn.alt a, .btn_a.alt a, 
.btn.alt button, .btn_a.alt button,
#sort2 .compareList.active,
#tovar .compareList.active,
#order_cart_header.active a
{    
    text-shadow: -1px -1px 1px #09447e;
    
    background: #1078c7;
    background: -moz-linear-gradient(top,  #1078c7 0%, #07327f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1078c7), color-stop(100%,#07327f));
    background: -webkit-linear-gradient(top,  #1078c7 0%,#07327f 100%);
    background: -o-linear-gradient(top,  #1078c7 0%,#07327f 100%);
    background: -ms-linear-gradient(top,  #1078c7 0%,#07327f 100%);
    background: linear-gradient(to bottom,  #1078c7 0%,#07327f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1078c7', endColorstr='#07327f',GradientType=0 );
}
#order_cart_header.active a{
    color: #FFF;
}
.btn.alt a:hover,.btn_a.alt a:hover, .btn.alt button:hover,.btn_a.alt button:hover{
    box-shadow: inset 0px 0px 4px 1px #02225c;
}
.btn.alt a:active,.btn_a.alt a:active,
.btn.alt button:active,.btn_a.alt button:active,
#sort2 .compareList a:active,
#tovar .compareList a:active,
#order_cart_header.active a:hover
{
    background: #07327f;
    background: -moz-linear-gradient(top,  #07327f 0%, #1078c7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#07327f), color-stop(100%,#1078c7));
    background: -webkit-linear-gradient(top,  #07327f 0%,#1078c7 100%);
    background: -o-linear-gradient(top,  #07327f 0%,#1078c7 100%);
    background: -ms-linear-gradient(top,  #07327f 0%,#1078c7 100%);
    background: linear-gradient(to bottom,  #07327f 0%,#1078c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07327f', endColorstr='#1078c7',GradientType=0 );
}
.btn.call a{    
    border: 1px solid #d0d6db;
    text-shadow: none;
    background: #fdfefe;
    background: -moz-linear-gradient(top,  #fdfefe 0%, #eceef2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#eceef2));
    background: -webkit-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
    background: -o-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
    background: -ms-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
    background: linear-gradient(to bottom,  #fdfefe 0%,#eceef2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#eceef2',GradientType=0 );
}
.btn.call a:hover,
.pm:hover,
.sort span a:hover,  
.category span a:hover,  
#pagination span a:hover, 
#view span a:hover,
#sort2 span a:hover,
.window2.compareList > .left .options div a:hover,
.viewBlock span a:hover,
#content > a.more:hover{    
    color: #333;
}
.btn.call a:hover{
    box-shadow: 0px 0px 0px 1px #CCC;
}
.btn.call a:active{
    border: 1px solid #bbc2c9;
    background: #e9ecef;
    box-shadow: inset 0px 2px 5px #b3bbc2;
}
.btn.call a b{
    border-right: 1px solid #fff;
    box-shadow: inset -1px 0px 0px 0px #d0d6db;
    background: url(../img/color6/call.png) no-repeat center center;
}
.window.catalog {
    background: -moz-linear-gradient(top,  rgba(177,71,65,0.95) 0%, rgba(185,76,66,0.95) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(177,71,65,0.95)), color-stop(100%,rgba(185,76,66,0.95)));
    background: -webkit-linear-gradient(top,  rgba(177,71,65,0.95) 0%,rgba(185,76,66,0.95) 100%);
    background: -o-linear-gradient(top,  rgba(177,71,65,0.95) 0%,rgba(185,76,66,0.95) 100%);
    background: -ms-linear-gradient(top,  rgba(177,71,65,0.95) 0%,rgba(185,76,66,0.95) 100%);
    background: linear-gradient(to bottom,  rgba(177,71,65,0.95) 0%,rgba(185,76,66,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f248828e', endColorstr='#f248828e',GradientType=0 );
}
.window.catalog .angle {border-color: transparent transparent #b7574f transparent;}
.window.catalog ul li.title {background: #ab0d00;}
header #search button {
    background:url(../img/color6/search.png) no-repeat center center;
}
#slides .slide .box .title {
    color: #006ca9;
}
.ie7 #slides .slidesNext {
    background: #028ec2 url(../img/slideArrows.png) no-repeat 12px 9px;
}
.ie7 #slides .slidesPrevious {
    background: #028ec2 url(../img/slideArrows.png) no-repeat 12px -42px;
}
#slides .slidesNext:hover,
#slides .slidesPrevious:hover {
}
#slides .slidesNext:active,
#slides .slidesPrevious:active{
}
#slides .slidesPagination li:hover a,
#slides .slidesPagination li.slidesCurrent a{
    background: #e84c3c;
    background: -moz-linear-gradient(top,  #e84c3c 1%, #d02014 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e84c3c), color-stop(100%,#d02014));
    background: -webkit-linear-gradient(top,  #e84c3c 1%,#d02014 100%);
    background: -o-linear-gradient(top,  #e84c3c 1%,#d02014 100%);
    background: -ms-linear-gradient(top,  #e84c3c 1%,#d02014 100%);
    background: linear-gradient(to bottom,  #e84c3c 1%,#d02014 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84c3c', endColorstr='#d02014',GradientType=0 );
}
h2.news{background: url(../img/color6/news.png) no-repeat 0px center;}
h2.brands{background: url(../img/color6/brands.png) no-repeat 0px center;}
h2.articles{background: url(../img/color6/articles.png) no-repeat 0px center;}
.pm .p{background: url(../img/color6/pm.png) no-repeat 8px 4px;}
.pm .m{background: url(../img/color6/pm.png) no-repeat 8px -15px;}
.pm .p:active{
    background: #e4e7ea url(../img/color6/pm.png) no-repeat 8px 4px;
    box-shadow: inset 0px 1px 3px 0px #959faa;
}
.pm .m:active{
    background: #e4e7ea url(../img/color6/pm.png) no-repeat 8px -15px;
    box-shadow: inset 0px 1px 3px 0px #959faa;
    border-top: 1px solid #959faa;
}
.items .cart {background: url(../img/color6/cartHover.png) no-repeat -1px -1px;}
.items .cart:hover,.items .cart.active {background: url(../img/color6/cartHover.png) no-repeat -1px -43px;}
.items .cart:active{background: url(../img/color6/cartHover.png) no-repeat -1px -85px !important;}
div.news article .date, h1 .date {background: #0c58a6;}
.bigIcons li:after{
    background-image:url(../img/color6/bigIcons.png);
    background-repeat: no-repeat;
}
.sort span a:active,  
.category span a:active,  
#pagination span a:active, 
#view span a:active,
#sort2 span a:active,
.window2.compareList > .left .options div a:active,
 .viewBlock span a:active,
 #content > a.more:active {
    border: 1px solid #bbc2c9;
    background: #e9ecef;
    box-shadow: inset 0px 2px 5px #b3bbc2;
} 
.sort span.current a,  
.category span.current a,  
#pagination span.current a,  
#view span.current a,
#sort2 span.current a,
.window2.compareList > .left .options div.current a,
#comparator_inner > .left .options div.current a,
.viewBlock span.current a{
    color: #347092;
    background: #f2f6f7;
    box-shadow: inset 0px 5px 20px -1px #d3b1af;
}
#pagination span.prev a:active{
    background: #e9ecef url(../img/pagination.png) no-repeat 8px 7px;
}
#pagination span.next a:active{
    background: #e9ecef url(../img/pagination.png) no-repeat -31px 7px;
}
.ie9 .sort span.current a, 
.ie9 .category span.current a, 
.ie9 #pagination span.current a, 
.ie9 #view span.current a, 
.ie9 #sort2 span.current a,
.ie9 .window2.compareList > .left .options div.current a,
.ie8 .sort span.current a, 
.ie8 .category span.current a, 
.ie8 #pagination span.current a, 
.ie8 #view span.current a, 
.ie8 #sort2 span.current a,
.ie8 .window2.compareList > .left .options div.current a,
.ie7 .sort span.current a, 
.ie7 .category span.current a, 
.ie7 #pagination span.current a, 
.ie7 #view span.current a, 
.ie7 #sort2 span.current a,
.ie7 .window2.compareList > .left .options div.current a,,
.ie7 .viewBlock span.current a,
.ie8 .viewBlock span.current a,
.ie9 .viewBlock span.current a {
    border: 1px solid #e73522;
    color: #005397;
}
.window.catalog > ul > li > ul a {color: #FFF;}
.window2.compareList article .close{
    width: 16px;
    height: 16px;
    top: 3px;
    right: 3px;
    background:url(../img/color6/close.png);
}
.items.basket .close{
    width: 16px;
    height: 16px;
    top: 10px;
    right: 5px;
    background:url(../img/color6/close.png);
}
#view span.view1 a{background: url(../img/color6/view.png) no-repeat 5px 7px;}
#view span.view2 a{background: url(../img/color6/view.png) no-repeat -21px 7px;}
#view span.view3 a{background: url(../img/color6/view.png) no-repeat -43px 7px;}
#view span.view1.current a{background: #d6e9f0 url(../img/color6/view.png) no-repeat 5px -14px;}
#view span.view2.current a{background: #d6e9f0 url(../img/color6/view.png) no-repeat -21px -14px;}
#view span.view3.current a{background: #d6e9f0 url(../img/color6/view.png) no-repeat -43px -14px;}
.btn.wait{
    background: #999999;
    background: -moz-linear-gradient(top,  #999999 1%, #5a5a5a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#999999), color-stop(100%,#5a5a5a));
    background: -webkit-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
    background: -o-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
    background: -ms-linear-gradient(top,  #999999 1%,#5a5a5a 100%);
    background: linear-gradient(to bottom,  #999999 1%,#5a5a5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#5a5a5a',GradientType=0 );

}
.btn.wait a{
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');

}
.btn.wait:hover{
    border: none;
    box-shadow: none;
    background: #e16a4c;
    background: -moz-linear-gradient(top,  #e16a4c 1%, #b92a1e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e16a4c), color-stop(100%,#b92a1e));
    background: -webkit-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
    background: -o-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
    background: -ms-linear-gradient(top,  #e16a4c 1%,#b92a1e 100%);
    background: linear-gradient(to bottom,  #e16a4c 1%,#b92a1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e16a4c', endColorstr='#b92a1e',GradientType=0 );
}
.btn.wait:active{
    border: none;
    box-shadow: none;
    background: #b92a1e;
    background: -moz-linear-gradient(top,  #b92a1e 0%, #e16a4c 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b92a1e), color-stop(99%,#e16a4c));
    background: -webkit-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
    background: -o-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
    background: -ms-linear-gradient(top,  #b92a1e 0%,#e16a4c 99%);
    background: linear-gradient(to bottom,  #b92a1e 0%,#e16a4c 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b92a1e', endColorstr='#e16a4c',GradientType=0 );
    box-shadow: inset 0px 3px 5px 0px #862e19;

}
.btn.wait a:active{
    border: none;
    background: url(../img/wait.png) no-repeat 23px 5px;
    box-shadow: none;
}
.btn.wait:hover a{
    border: none;
    box-shadow: none;
}
ul.simple {list-style-image: url(../img/color6/listStyle.png);}
div.filter {
    border: 1px solid #c1c9cf;
    background: #e0e8ed;
}
#tovar .box .big .discount{background: #0e90c3;}
#tovar .box .big .hit{background: #80a800;}
#tovar .box .big .new{background: #cf4d37;}
#tovar .box .big .discount b{border-left-color: #0e90c3;}
#tovar .box .big .hit b{border-left-color: #80a800;}
#reviews .mark b{background:url(../img/color6/mark.png) no-repeat 0px -39px;}
#reviews .mark b.f{background:url(../img/color6/mark.png) no-repeat 0px 0px;}
#reviews .info span.name,
#reviews .info span.name a{
    color: #629300;
}
.radio {background:url(../img/color6/radio.png) no-repeat -42px -3px;}
.radio.checked {background:url(../img/color6/radio.png) no-repeat 0px -3px;}
table.view3 td span.no{background: url(../img/color6/count.png) no-repeat 0px 4px;}
table.view3 td span.low{background: url(../img/color6/count.png) no-repeat 0px -54px;}
table.view3 td span.medium{background: url(../img/color6/count.png) no-repeat 0px -150px;}
table.view3 td span.high{background: url(../img/color6/count.png) no-repeat 0px -226px;}
.files span.file1 a{background: url(../img/color6/fileIco.png) no-repeat 0px center;}
.files span.file2 a{background: url(../img/color6/fileIco2.png) no-repeat 0px center;}
.menu span {background: url(../img/color6/rArrow.png) no-repeat right 4px;}
#about {background: url(../img/color6/about-bg.jpg) repeat 0px 0px;}
.ui-slider .ui-slider-range,
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    box-shadow: inset 0px 1px 0px 0px #e24538,
                inset 0px -1px 0px 0px #950d01;
    background: #db291a !important;
    background: -moz-linear-gradient(top,  #db291a 0%, #b11103 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db291a), color-stop(100%,#b11103)) !important;
    background: -webkit-linear-gradient(top,  #db291a 0%,#b11103 100%) !important;
    background: -o-linear-gradient(top,  #db291a 0%,#b11103 100%) !important;
    background: -ms-linear-gradient(top,  #db291a 0%,#b11103 100%) !important;
    background: linear-gradient(to bottom,  #db291a 0%,#b11103 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db291a', endColorstr='#b11103',GradientType=0 ) !important;
}
#sort2 .compareList, #tovar .compareList {}
#tovar .box .img:hover img, 
#tovar .box .img.current img {border: 2px solid #E14538;}
body .btn.catalog + ul > li:hover > a {
    background: #E73522;
    border-top: 1px solid #E73522;
}
body .window.catalog {    
    border-color: #E73522;
}
body .window.catalog.alt ul li > span:hover {
    color: #E73522;
}
body .window.catalog.alt ul li > div a:hover{
    color: #E73522;
}
header #logo span {
    color: #0c58a6;
}
#tovar .box .big .discount b{background:url(../img/color1/label2.png)}
#tovar .box .big .hit b{background:url(../img/color1/label1.png)}
#tovar .box .big .new b{background:url(../img/color1/label3.png)}
#tovar .box .img:hover,
#tovar .box .img.current{
    border: none;
}
.btn.buy a b{
    border-right: 1px solid #a02318;
    box-shadow: inset -1px 0px 0px 0px #e14538;
}
#enter {background: url(../img/color6/ico_enter.png) no-repeat 15px center;}
#reg,#reg_ext {background: url(../img/color6/ico_reg.png) no-repeat 15px center;}
header #basket .title .add, #add_in_basket {
    background: url(../img/color6/blue.png) no-repeat 0px 0px;
}