/* general */
body {
	font: 14px "Display";
	color: #666;
    overflow: scroll;
}
p {
	font: 14px/19px "Display";
	color: #666;
	margin: 20px 0;
}
.container {width: 930px; margin: 0 auto;}
.printPage .container {width: 930px; margin: 0;}
.right {float: right;}
.left {float: left;}
.btn, btn_a{
	position: relative;
}
.btn a, .btn button, .btn_a button, .btn input {
	font: 15px/38px "DisplayMedium";
	color: #fff;
	text-transform: uppercase;
	display: block;
	height: 38px;
	border-radius: 2px;
	padding: 0px 13px;
	text-decoration: none;
	border: none;
}
.btn.darrow a{
	padding: 0px 50px 0px 13px;
}
.btn.darrow a b{
	display: block;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0px;
	right: 0px;
	background:url(../img/dArrow.png) no-repeat center center;
}
.btn.buy a{
	padding: 0px 13px 0px 50px;
}
.btn.buy a b{
	display: block;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0px;
	left: 0px;
	background:url(../img/buy.png) no-repeat center center;
}
.btn.call a{
	padding: 0px 13px 0px 50px;
	color: #333333;
	height: 36px;
}
.btn.call a b{
	display: block;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.relative {
	position: relative;
	z-index: 100;
}
.input input, input.input {
	border: 1px solid #d3d9dd;
	border-radius: 2px;
	background: #fefefe;
	box-shadow: inset 0px 1px 5px 0px #dbdfe4;
	font: italic 14px "Display";
	color: #616161;
	padding: 0px 10px;
}
a {
	font-family: "Display";
	font-size: 14px;
	line-height: 18px;
	color: #486f86;
}
ul.simple {
	padding-left: 25px;
}
ul.simple li{
	line-height: 19px;
}




/* top */
#top {
	height: 42px;
	border-bottom: 1px solid #c6cfd2;
	position: relative;
	z-index: 501;

	background: rgb(253,254,254);
	background: -moz-linear-gradient(top,  rgba(253,254,254,1) 0%, rgba(234,239,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,254,254,1)), color-stop(100%,rgba(234,239,243,1)));
	background: -webkit-linear-gradient(top,  rgba(253,254,254,1) 0%,rgba(234,239,243,1) 100%);
	background: -o-linear-gradient(top,  rgba(253,254,254,1) 0%,rgba(234,239,243,1) 100%);
	background: -ms-linear-gradient(top,  rgba(253,254,254,1) 0%,rgba(234,239,243,1) 100%);
	background: linear-gradient(to bottom,  rgba(253,254,254,1) 0%,rgba(234,239,243,1) 100%);
}
.menu span {
	margin-right: 20px;
	padding-right: 12px;
	background:url(../img/color1/rArrow.png) no-repeat right 4px;
}
footer .menu span {
	background:url(../img/color1/rArrow.png) no-repeat right 3px;
}
.menu span a{
	font: 14px/42px "DisplayMedium";
	color: #333;
	text-decoration: none;
}
.menu span a:hover{
	text-decoration: underline;
}
#reg, #reg_ext{
	height:28px;
	margin-top: 6px;
	padding-left: 30px;
	border-left: 1px dotted #c0c3c5;
	background:url(../img/ico_reg.png) no-repeat 15px center;
}
#reg_ext{width:100px}
#enter{
	height:28px;
	margin-top: 6px;
	padding-left: 30px;
	padding-right: 15px;
	border-left: 1px dotted #c0c3c5;
	background:url(../img/ico_enter.png) no-repeat 15px center;
}
#reg a, #reg_ext a{
	margin-top: 8px;
	display: block;
	font: 12px "Display";
	color: #222222;
}
#enter a{
	margin-top: 8px;
	display: block;
	font: 12px "Display";
	color: #222222;
	text-decoration: none;
	border-bottom: 1px dotted #222;
	background: none;
	height: auto;
	padding: 0px;
	text-shadow: none;
	text-transform:none;
	background: none;
}
.ie9 #enter a{

	background: #fafbfc;
	background: -ms-linear-gradient(top,  #fafbfc 0%,#fafbfc 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#fafbfc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbfc', endColorstr='#fafbfc',GradientType=0 );}
#enter a:hover{border-bottom: none; box-shadow: none;}
.window {
	z-index: 120;
}
.window.enter, .window.call, .window2.compareList {
	position: absolute;
	top: 40px;
	right: 0px;
	width: 270px;
	box-shadow: 0px 2px 7px 0px #babcbe;
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
}
.window2.compareList{
	top: 100px;
	left: 50%;
	margin-left: -375px;
	width: 750px;
}
#comparator_inner > .left {
	padding: 20px 0px 20px 20px;
	width: 200px;
}
#comparator_inner > .left .options{
	height: 178px;
	width: 175px;
	margin-left:25px;
	margin-top: 30px;
}
.ie7 #comparator_inner > .left .options{
	padding-bottom: 20px;
}

#comparator_inner > .left .options div{
	display: block;
	float: left;
	margin: 0 5px 10px 0px;
	height: 30px;
}
#comparator_inner > .left .options div a{
	display: block;
	padding: 0px 10px;
	font: 14px/30px "Display";
	color: #333333;
	text-decoration: none;

	border: 1px solid #d3d8dc;
	border-radius: 15px;
	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
}
.ie9 #comparator_innert > .left .options div a{

	background: #fafbfc;
	background: -ms-linear-gradient(top,  #fafbfc 0%,#fafbfc 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#fafbfc 100%);
}
.window2.compareList .info{
	border-top: 1px solid #dde1e5;
	width: 100%;
}
.window2.compareList .info tr{
}
.window2.compareList .info td{
	margin: 0px;
	font: 14px/18px "Display";
	color: #4f4d4d;
	border-bottom: 1px solid #dde1e5;
	vertical-align: middle;
	padding: 10px 0px;
}
.window2.compareList .info td > div{
	height: 36px !important;
	overflow: hidden;
}
.window2.compareList .info td b{
	font: 16px/18px "DisplayBold";
}
.window2.compareList .right .info td b{
	font: 18px/18px "DisplayBold";
	color: #333333;
}
#comparator_inner > .right {
	padding: 20px 20px 20px 0px;
	width: 510px;
	position: relative;
}
.window2.compareList article {
	float: left;
	width: 177px;
}
.window2.compareList article .img {
	border: 1px solid #d0d6db;
	margin-right: 35px;
	position: relative;
}
.window2.compareList article .img img {
	display: block;
	max-width: 140px;
}
.window2.compareList article .name {
	margin: 3px 0px;
	height: 36px;
	overflow: hidden;
	display: block;
	margin-right: 35px;
}
.window2.compareList article:last-child .img,
.window2.compareList article:last-child .name {
	margin-right: 0px;
}
.window2.compareList article:last-child {
	width: 143px;
}
.window2.compareList .right .info{
	margin-top: 37px;
	border-collapse: separate;
}
.window.enter .title,
.window.call .title,
.window2.compareList .title {
	border-radius: 2px 2px 0 0;
	height: 38px;
	font: 15px/38px "DisplayMedium";
	color: #f7f9fa;
	text-transform: uppercase;
	padding-left: 12px;
	width: 258px;
}
.window2.compareList .title {
	width: 738px;
}
.window.enter form,
.window.call form {
	padding: 0px 15px 0px;
}
.window.enter label,
.window.call label {
	display: block;
	margin: 15px 0px;
	height: 27px;
	font: 14px/27px "Display";
	color: #333;
}
.ie7 .window.enter label.input input,
.ie7 .window.call label.input input {
	position: relative;
	top: -30px;
}
.window.enter label.check,
.window.call label.check {
	font-size: 12px;
	line-height: normal;
	color: #3a414a;
	margin: 0px;
	margin-left: 75px;
}
.window.enter #remind,
.window.call #remind {
	font: 12px "Display";
	color: #486f86;
	margin: 0px;
	margin-left: 75px;
	display: block;
	padding-bottom: 10px;
}
.window.enter .btn{
	margin: 0px;
	margin-left: 75px;
}
.window.enter .input input,
.window.call .input input {
	display: block;
	height: 25px;
	float: right;
	width: 160px;
	padding: 0;
	margin: 0;
}

.window.wait {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 270px;
	box-shadow: 0px 2px 7px 0px #babcbe;
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
}
.view3 .window.wait {top: 35px;}
.window.wait .title {
	border-radius: 2px 2px 0 0;
	height: 38px !important;
	font: 15px/38px "DisplayMedium" !important;
	color: #f7f9fa;
	text-transform: uppercase;
	padding-left: 12px;
	width: 258px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.window .btn.alt, .window .btn_a.alt {
	margin: 10px 0px 15px 75px;
}
article:hover .window.wait .title {
	color: #f7f9fa;
}
.window.wait form {
	padding: 0px 15px 0px;
}
.window.wait label {
	display: block;
	margin: 15px 0px;
	height: 27px;
	font: 14px/27px "Display";
	color: #333;
}
.ie7 .window.wait label.input input {
	position: relative;
	top: -30px;
}
.window.wait label.check {
	font-size: 12px;
	line-height: normal;
	color: #3a414a;
}
.window.wait #remind {
	font: 12px "Display";
	color: #486f86;
}
.window.wait .input input {
	display: block;
	height: 25px;
	float: right;
	width: 160px;
	padding: 0;
	margin: 0;
}
#path {
	margin: 30px 0px;
	font: 13px "Display";
	color: #333333;
}
#path.alt {
	margin: 10px 0px 10px;
}
#path a{font-size: 13px;}
#path span:after{
	content: " /";
}
#path span.current:after{content: " ";}
.category{
	padding: 15px 0px 15px 0px;
}
.category span{
	display: block;
	float: left;
	margin: 0 5px 10px 0px;
}
.ie9 .category span{

	background: #fafbfc;
	background: -ms-linear-gradient(top,  #fafbfc 0%,#fafbfc 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#fafbfc 100%);
}
.category span a{
	display: block;
	padding: 0px 10px;
	font: 14px/30px "Display";
	color: #333333;
	text-decoration: none;
	height: 30px;
	border: 1px solid #d3d8dc;
	border-radius: 15px;

	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
}





/* header */
header {
	padding-top: 25px;
	margin-bottom: 15px !important;
	position: relative;
	z-index: 500;
}
header #logo {
	width: 400px;
}
header #logo span {
	display: block;
	float: right;
	width: 195px;
	font: 18px "Display";
	color: #333;
	margin-top: 25px;
}
header .buttons {
	padding-top: 30px;
}
#order_cart_header a{
	border: 1px solid #d3d8dc;
	background: #f7f9fa;
	border-radius: 2px;
	color: #999;
	text-shadow: none;
}
#order_cart_header.active a{
	color: #fff !important;
}
#order_cart_header a:hover{
	background: none;
	box-shadow: none;
}
#order_cart_header a:active{
	background: none;
	box-shadow: none;
}
.close{
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	background:url(../img/close.png);
	width:14px;
	height:14px;
	cursor: pointer;
}
header .vcard {
	margin-left: 115px;
}
header .vcard p {
	margin: 8px 0px;
}
.tel {
	font: 22px "Display";
	color: #232323;
}
.tel span {color: #99a7ad;}
header .vcard .time {
	font: 14px/18px "Display";
	color: #333333;
	padding-left: 20px;
	background:url(../img/clock.png) no-repeat left center;
}
header .vcard .time span {color: #7a858a;}
header .vcard .email {
	padding-left: 20px;
	background:url(../img/email.png) no-repeat left center;
}
header #basket {
	width: 170px;
	margin-top: 9px;
	position: relative;
}
header #basket .title a {
	text-decoration: none;
	border-bottom: 1px dotted #232323;
	font: 18px "DisplayMedium";
	color: #232323;
	text-transform: uppercase;
}
header #basket .title a:hover {
	border: none;
}
header #basket .title .add, #add_in_basket {
	height: 27px;
	width: 104px;
	padding-left: 5px;
	font: 12px/27px Arial;
	color: #fff;
	position: absolute;
	top: 0px;
	right: -30px;
	text-align: center;
}
header #basket .title {
	margin-bottom: 15px;
}
header #basket .inf.left {
	width: 100px;
}
header #basket .inf {
	font: 14px "Display";
	color: #8a969c;
}
header #basket .inf span {
	display: block;
	font: 18px "DisplayBold";
	color: #333333;
	margin-top: 5px;
}
header #search,.search-page-form {
	display: block;
	width: 290px;
	margin-left: 15px;
	position: relative;
}

header #search input,.search-page-form input{
	width: 270px;
	height: 36px;
	line-height: 36px;
}
header #search button,.search-page-form input[type="submit"]{
	display: block;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 38px;
	height:35px;
	background: none;
	border: none;
}
.search-page-form input[type="submit"]{
    background:url(../img/color1/search.png) no-repeat center center;
}
header .call {
	margin-left:15px;
}
header .call a{
	padding: 0px 30px 0px 67px !important;
}
header .alt a {
	padding: 0px 25px;
	margin: 0px;
}





/* slides */
#slides {
	position: relative;
	margin-bottom: 25px;
}
#slides .slide {
	position: relative;
}
#slides .slide .box {
	position: absolute;
	bottom: 20px;
	right: 65px;
	padding: 15px 20px 60px;
	width: 280px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.75)), color-stop(100%,rgba(255,255,255,0.75)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#bfffffff',GradientType=0 );
	border-radius: 3px;
	box-shadow: 0px 2px 6px 0px #cbcac5;
}
#slides .slide .box .title {
	font: 23px "DisplayMedium";
	text-decoration: none;
}
#slides .slide .box .text {
	font: 17px "Display";
	color: #333;
	margin: 10px 0;
}
#slides .slide .box .price {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font: 30px "DisplayBold";
	color: #333;
}
#slides .slide .box .btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
#slides .slidesNext,
#slides .slidesPrevious {
	position: absolute;
	top: 176px;
	right: -22px;
	width: 32px;
	height: 0px;
	padding-top: 32px;
	overflow: hidden;
	border: 6px solid #f7f9fa;
	border-radius: 32px;
	z-index: 10;
}
.ie9 #slides .slidesNext,
.ie9 #slides .slidesPrevious {
	border-radius: 0px;
}
#slides .slidesPrevious {
	left: -22px;
}
#slides .slidesNext:after,
#slides .slidesPrevious:after {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background:url(../img/slideArrows.png) no-repeat center 9px;
	z-index: 15;
}
#slides .slidesPrevious:after {
	background:url(../img/slideArrows.png) no-repeat center -42px;
}
.ie7 #slides .slidesNext:after,
.ie7 #slides .slidesPrevious:after {display: none;}
#slides .slidesPagination{
	position: absolute;
	bottom: 15px;
	left: 15px;
	z-index: 10;
}
#slides .slidesPagination li{
	float: left;
	list-style: none;
	margin-right: 4px;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background: #b7c1c5;
	background: -moz-linear-gradient(top,  #b7c1c5 0%, #e4e6e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7c1c5), color-stop(100%,#e4e6e8));
	background: -webkit-linear-gradient(top,  #b7c1c5 0%,#e4e6e8 100%);
	background: -o-linear-gradient(top,  #b7c1c5 0%,#e4e6e8 100%);
	background: -ms-linear-gradient(top,  #b7c1c5 0%,#e4e6e8 100%);
	background: linear-gradient(to bottom,  #b7c1c5 0%,#e4e6e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7c1c5', endColorstr='#e4e6e8',GradientType=0 );
}
#slides .slidesPagination li a{
	display: block;
	overflow: hidden;
	padding-top: 8px;
	width: 8px;
	height: 0px;
	border-radius: 8px;
	margin-top: 2px;
	margin-left: 2px;
}





/* section */
.line {
	border-top: 1px solid #dde1e5;
	border-bottom: 1px solid #fff;
}
section {
	position: relative;
	z-index: 300;
}
aside.left {
	width: 130px;
	margin-right: 25px;
}
aside.right {
	width: 130px;
}
aside.filter {
	width: 170px;
}
aside.big {
	width: 160px;
}
#content {
	width: 620px;
	margin: 0 auto;
}
#content.big {
	width: 700px;
}
#content.big2 {
	width: 744px;
}
h1{
	font: 23px "DisplayMedium";
	color: #333;
}
h2{
	font: 21px "DisplayMedium";
	color: #333;
}
h1.ma,h2.ma{
	margin-top: 20px;
}
h2.news{padding-left: 30px;}
h2.brands{padding-left: 30px;}
h2.articles{padding-left: 30px;}
.items article{
	width: 132px;
	margin-right: 25px;
	margin-top: 20px;
	margin-bottom: 25px;
	float: left;
}
#content.big .items article{
	margin-right: 55px;
}
.items.view2 article{
	width: 100%;
	margin: 20px 0;
	float: none;
	position: relative;
}
.items.view2 a.more{font-size: 13px; margin-top: 12px;}
.items.view2 article .price span{
	font: 13px "Display";
	display: block;
	margin-bottom: 10px;
}
.items.view2 article .price .old{
	font: 14px "Display";
	display: block;
	color: #a56060;
	margin-bottom: 35px;
	text-decoration: line-through;
	margin-top: 10px;
}
.items.view2 article .body {
	width: 375px;
	margin: 0px 180px 0px 145px;
}
.items.view2 article .altBody {
	width: 130px;
}
#content.big .items article label{
	display: block;
	margin-bottom: 5px;
}
.items article.last{
	margin-right: 0px !important;
}
.items .img{
	display: table-cell;
	width: 130px;
	height: 140px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d0d6db;
	background: #fff;
}
.items .title{
	display: block;
	font: 14px/18px "Display";
	margin-top: 10px;
	margin-bottom: 10px;
	height: 54px;
	overflow: hidden;
}
.items.view2 .title{
	font: 20px/24px "Display";
	height: auto;
}
.items .price {
	font: 24px "DisplayBold";
	color: #333;
}
.items .price + .clear {
	padding-top: 10px;
}
.items .price.wait{
	display: block;
	margin: 1px 0px 0;
	font: 13px/14px "Display";
	color: #666666;
}
.pm {
	width: 25px;
	height: 34px;
	border-radius: 2px;
	border: 1px solid #d0d6db;
	background: #fdfefe;
	background: -moz-linear-gradient(top,  #fdfefe 0%, #eceef2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#eceef2));
	background: -webkit-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: -o-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: -ms-linear-gradient(top,  #fdfefe 0%,#eceef2 100%);
	background: linear-gradient(to bottom,  #fdfefe 0%,#eceef2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#eceef2',GradientType=0 );
}
.pm .p{
	display: block;
	height: 17px;
	border-bottom:  1px solid #d0d6db;
}
.pm .m{
	display: block;
	height: 15px;
	border-top:  1px solid #fff;
}
.count{
	margin-right: 8px;
	width: 35px;
	height: 34px;
	padding: 0px;
	border: 1px solid #d0d6db;
	box-shadow: inset 0px 1px 1px 0px #e8e6e7;
	text-align: center;
	font: 18px/34px Arial;
	color: #333;
}
.items .cart {
	display: block;
	width: 54px;
	height: 36px;
}
.items .have {
	width: 65px;
	font: 12px/18px Arial;
}
.btn.wait{
	border-radius: 2px;
	display: block;
}

.btn.wait a{
	background: none;
	padding: 0px 30px 0px 48px;
	text-shadow: -1px -1px 0px #6f6f6f;
	background: url(../img/wait.png) no-repeat 23px 5px;

}
ul.brands {
	list-style: none;
	margin-top: 25px;
}
ul.brands li{
	padding: 12px 0;
	border-bottom: 1px solid #dde1e5;
	border-top: 1px solid #fff;
}
ul.brands li:first-child{border-top: none; padding-top: 0px;}
ul.brands li:last-child{border-bottom: none;}
ul.brands li a{
	font: 17px "Display";
	color: #333;
}
div.news {
	margin-top: 25px;
}
div.news article{
	border-bottom: 1px solid #dde1e5;
	border-top: 1px solid #fff;
	padding: 20px 0;
}
div.news article:first-child{border-top: none; padding-top: 0px;}
div.news article:last-child{border-bottom: none;}
div.news article .date,
h1 .date, span.date{
	font: 13px "DisplayMedium";
	color: #fff;
	padding: 0px 5px;
}
h1 .date{
	padding: 3px 5px;
	margin-right: 10px;
	position: relative;
	top: -1px;
}
img.img.left{margin: 15px 15px 15px 0px;}
img.img.right{margin: 15px 0px 15px 15px;}
div.news article .title{
	display: block;
	/*font: 14px "Display";*/
	font: 20px/24px "Display";;
	margin: 8px 0px;
}
div.news article p{
	font: 14px/18px "Display";
	color: #666666;
	margin: 0px;
}
div.articles article{
	border-bottom: 1px solid #dde1e5;
	border-top: 1px solid #fff;
	padding: 20px 0;
}
div.articles article.first{border-top: none;}
div.articles article:last-child{border-bottom: none;}
.sort {
	margin-right: 160px;
}
.sort span{
	float: left;
}
.sort span a{
	height: 30px;
	padding: 0 10px;
	border: 1px solid #d3d8dc;
	display: block;

	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
	font: 14px/30px "Display";
	color: #333333;
	text-decoration: none;
}
.sort span.first a{
	border-radius: 15px 0px 0px 15px;
}
.sort span.last a{
	border-radius:0px 15px 15px 0px;
}
#pagination {
	padding: 10px 0;
}
#pagination span{
	display: block;
	float: left;
	margin-right: 7px;
}
#pagination span.none a{
	background: none;
	border: none;
}
#pagination span a{
	font: 13px/23px "Display";
	color: #4d4d4d;
	width: 23px;
	height: 23px;
	display: block;
	text-decoration: none;
	text-align: center;

	border: 1px solid #d3d8dc;
	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
	border-radius: 2px;
}
#sort2{
	margin-top: 10px;
	position: relative;
}
.com {
	position: relative;

	z-index: 900 !important;
}
#shadow {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 51%, rgba(0,0,0,0.7) 99%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(51%,rgba(0,0,0,0.7)), color-stop(99%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 51%,rgba(0,0,0,0.7) 99%,rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 51%,rgba(0,0,0,0.7) 99%,rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 51%,rgba(0,0,0,0.7) 99%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 51%,rgba(0,0,0,0.7) 99%,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 );
	z-index: 600;
}
#sort2 .how span{
	display: block;
	float: left;
	margin-right: 7px;
}
#sort2 .how span a{
	font: 13px/23px "Display";
	color: #4d4d4d;
	padding: 0px 15px 0px 5px;
	height: 23px;
	display: block;
	text-decoration: none;
	text-align: center;
	background:url(../img/dArrow2.png) no-repeat right center;
	position: relative;

	border: 1px solid #d3d8dc;
	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
	border-radius: 2px;
}
#sort2 .how span a:after{
	display: block;
	position: absolute;
	top: 0px;
	right: 5px;
	content: "";
	width: 100%;
	height: 100%;
	background:url(../img/dArrow2.png) no-repeat right center;
}
#sort2 .how span.rev a:after{
    background:url(../img/dArrow2rev.png) no-repeat right center;
}

/*
#sort2 .how span.desc a {background:url(../img/dArrow.png) no-repeat right center;}
#sort2 .how span.desc a:after {background:url(../img/dArrow.png) no-repeat right center;}
*/

#sort2 .compareList,
#tovar .compareList{
	display: block;
	margin-right: 7px;

	border: 1px solid #d3d8dc;
	background: #f7f9fa;
	border-radius: 2px;
}
#sort2 .compareList a,
#tovar .compareList a{
	font: 13px/23px "Display";
	color: #999999;
	padding: 0px 10px;
	height: 23px;
	display: block;
	text-decoration: none;
	text-align: center;
}
#sort2 .compareList.active a,
#tovar .compareList.active a{
	color: #fff;
}
#sort2 .text{
	font: 13px/25px "Display";
	color: #333333;
	margin-right: 8px;
	margin-left: 20px;
}
#sort2 .text:first-child{
	margin-left: 0px;
}
#pagination span.prev a{
	background:url(../img/pagination.png) no-repeat 8px 7px;
}
#pagination span.next a{
	background:url(../img/pagination.png) no-repeat -31px 7px;
}
#view {
	padding: 10px 0;
}
#view span{
	display: block;
	float: left;
}
#view span a{
	font: 13px/23px "Display";
	color: #4d4d4d;
	width: 23px;
	height: 23px;
	display: block;
	text-decoration: none;
	text-align: center;

	border: 1px solid #d3d8dc;
	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
}
#view span.view1{border-radius: 2px 0px 0px 2px;}
#view span.view3{border-radius: 0px 2px 2px 0px;}
.items.basket td{
	vertical-align: top !important;
	background: none !important;
	border: none !important;
}
.items.basket td.price{
	font-size: 30px !important;
	padding-right: 25px;
}
.items.basket .img {
	margin: 0px 10px 0px 0px;
}
.items.basket .tovar {
	width: 70%;
}
.items.basket .tovar .relative {
	width: 450px;
}
.items.basket .tovar .relative .btn a {
	margin-top: 0px;
	padding: 0px 13px;
}
.items.basket div.title2 {
	font: 18px/24px "Display";
	display: block;
	height: 96px;
	margin-top: -2px;
}
.itogo{
	margin: 15px 0px;
	height: 20px;
}
.itogo .text{
	font: 20px/20px "DisplayBold";
	color: #666;
	margin-right: 95px;
}
.itogo .price{
	font: 30px/20px "DisplayBold";
	color: #333;
	margin-right: 45px;
}

.buyBtn {
	margin: 15px 0px;
}
.buyBtn label {
	position: relative;
	top: 8px;
}
.buyBtn .btn.alt {
	margin-right: 10px;
}
.ordering {
	margin-top: 15px;
}
.ordering h2{
	margin-bottom: 10px;
}
.ordering > div.left{
	width: 50%;
}
.ordering > div.right{
	width: 45%;
}
.ordering > div.left > div{
	margin: 13px 0px;
}
.ordering > div.left label{
	margin-right: 15px;
}
.ordering > div.left .main{
	width: 100px;
	margin-right: 5px;
	display: block;
	float: left;
}
.ordering > div.left input[type=text]{
	width: 330px;
	font-style:normal;
}
.ordering > div.right .comm{
	font: 12px/14px Verdana;
	color: #333;
}
.ordering > div.right .comm p{
	font: 11px/14px Verdana;
	color: #333;
	margin: 18px 0px;
}
.ordering > div.right textarea{
	width: 395px;
	height: 138px;
}

.items.view3 {
	width: 100%;
	margin: 20px 0;
}

.items.view3 th{
	padding: 8px 10px;
	text-align: left;
	font: 14px/14px "displayMedium";
	color: #333333;
	border: 1px solid #b3c0ca;

	background: #e7edf1;
	background: -moz-linear-gradient(top,  #e7edf1 1%, #d7e1e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e7edf1), color-stop(100%,#d7e1e8));
	background: -webkit-linear-gradient(top,  #e7edf1 1%,#d7e1e8 100%);
	background: -o-linear-gradient(top,  #e7edf1 1%,#d7e1e8 100%);
	background: -ms-linear-gradient(top,  #e7edf1 1%,#d7e1e8 100%);
	background: linear-gradient(to bottom,  #e7edf1 1%,#d7e1e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7edf1', endColorstr='#d7e1e8',GradientType=0 );
}

.items.view3 td{
	padding: 8px 10px;
	text-align: left;
	font: 14px "displayMedium";
	color: #333333;
	border: 1px solid #b3c0ca;
	background: #fff;
	vertical-align: middle;
}

.items.view3.nal td{
	padding: 12px 10px;
	font: 14px "displayMedium";
	color: #666666 !important;
}

.items.view3 td.name{
	border-right: none;
}
.items.view3 td.price{
	border-left: none;
	white-space: nowrap;
	font: 18px "DisplayBold";
	vertical-align: middle;
}
.items.view3 td.price .old{
	text-decoration: line-through;
	font: 14px "Display";
	color: #a56060;
}
.items.view3 td.info{
	vertical-align: middle;
	white-space: nowrap;
}
.items.view3 td.info .buy{
	text-decoration: none;
	border-bottom: 1px dotted #486f86;
	color: #486f86;
}
.items.view3 td.info .wait.btn{
	background: none;
	border: none;
	box-shadow: none;
	height: auto;
	text-decoration: none;
	border-bottom: 1px dotted #cd4934;
	color: #486f86;
	padding: 0;
}
.items.view3 td.info .wait.btn a{
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	font: 14px "displayMedium";
	color: #cd4934;
	height:17px;
	text-shadow: none;
	text-transform: none;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#fdfefe',GradientType=0 );

}
.items.view3 td.info .relative:hover .wait.btn{
	border: none;
}
.items.view3 td.info .compare{
	text-decoration: none;
	border-bottom: 1px dotted #808080;
	color: #808080;
	margin-left: 10px;
}
.items.view3 td.info .buy:hover,
.items.view3 td.info .compare:hover{
	border: none;
}
.filter {
	border-radius: 2px;
}
div.filter h3{
	font: 13px/32px "DisplayBold";
	text-transform:uppercase;
	color: #333333;
	text-align: center;
	border-bottom: 1px solid #c2cdd5;
}
div.watch h3{
	font: 13px "DisplayBold";
	text-transform:uppercase;
	color: #333333;
	margin-left: 15px;
}
.filter .acc{
	border-bottom: 1px solid #c2cdd5;
	padding: 0px 8px 0px 12px;
}
.filter .acc > a{
	font: 14px/20px "DisplayBold";
	padding: 6px 0px 6px;
	color: #333333;
	text-decoration: none;
	display: block;
}
.filter .acc > a{
	background:url(../img/Arrows.png) no-repeat right -34px;
}
.filter .acc > a.current{
	background:url(../img/Arrows.png) no-repeat right 13px;
}
.filter .acc .mark{
	font: 11px "display";
	color: #333333;
	margin: 0 0 20px;
}
.filter .acc .mark.center{
	float: left;
	margin-left: 45px;
}
.filter .made label{
	display: block;
	margin: 10px 0px;
}
.filter .btn{
	margin: 15px;
	text-align: center;
}
.watch {
	padding-top: 15px;
	margin-top: 15px;
	border: 1px solid #c8cfd5;
	border-radius: 2px;
	background: #fff;
}
.watch article{
	padding: 15px;
	border-bottom: 1px solid #c8cfd5;
}
.watch article .buy{
	margin: 15px 0px 0px;
}
.watch article .buy a{
	padding: 0 0px 0 35px;
}
.watch article .img{
	display: table-cell;
	width: 130px;
	height: 140px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d0d6db;
	background: #fff;
}
.watch article .img img{
}
.print a {
	display: block;
	background:url(../img/print.png) no-repeat;
	width: 27px;
	height: 27px;
}
#tovar {
	padding: 22px 0px 10px;
}
#tovar .box {
	width: 375px;
	height: 290px;
	margin-bottom: 10px;
}
#tovar .box .img{
	display: block;
	padding: 1px;
	background: #fff;
	border-radius: 2px;
}
#tovar .box .img:hover,
#tovar .box .img.current{
	border: 2px solid #b8ce00;
	padding: 0px;
}
#tovar .box .left{
    position: relative;
}
#tovar .box .big{
	position: relative;
	display: table-cell;
	width: 290px;
	height: 290px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d0d6db;
	background: #fff;
}
#tovar .box .big:hover{
	border: 2px solid #b8ce00;
	padding: 0px;
}
#tovar .box .big .labels{
	position: absolute;
	top: 7px;
	left: 7px;
}
#tovar .box .big .labels>div{
	float: left;
	margin-right: 14px;
	height: 19px;
	padding: 0px 3px 0px 5px;
	font: 13px/18px "Display";
	color: #fff;
	text-transform: uppercase;
	border-radius: 2px 0px 0px 2px;
	position: relative;
}
#tovar .box .big .labels>div b{
	position: absolute;
	display: block;
	height: 19px;
	width: 8px;
	top: 0px;
	right: -8px;
}
#tovar .box .images .img:last-child img{margin-bottom: 0px;}
#tovar .box2 {
	width: 350px;
	margin-bottom: 10px;
}
#tovar .box2 p{
	margin: 0px;
}
#tovar .box2 .title {
	height: 103px;
}
#tovar .box2 .articul {
	font: 12px/18px "Display";
	color: #929494;
}
#tovar .box2 .compareBlock{
	height: 38px;
}
#tovar .box2 .compareBlock .nal{
	font: 13px/19px "Display";
	margin-right: 15px;
	position: relative;
	top: 5px;
}
#tovar .box2 .compareBlock .nal.yes{color: #629300;}
#tovar .box2 .compareBlock .nal.no{color: #cc6666;}
#tovar .box2 .compareBlock label{
	font: 13px/19px "Display";
	color: #333;
	position: relative;
	top: 5px;
}
#tovar .box2 .priceBlock{
	height: 55px;
	margin: 15px 0px;
}
#tovar .box2 .priceBlock .price{
	float: left;
	font: 14px/19px "Display";
	color: #333;
	margin-right: 25px;
}
#tovar .box2 .priceBlock .price.old{
	color: #999;
	margin-right: 0px;
}
#tovar .box2 .priceBlock .price span{
	display: block;
	font: 30px "DisplayBold";
}
#tovar .box2 .priceBlock .price.old span,
#tovar .box2 .priceBlock .price.rozn span{font-size: 18px; margin-top: 12px;}
#tovar .box2 .actionBlock{
	margin-top: 5px;
}
#tovar .box2 .actionBlock .countBlock{
	margin-right: 15px;
	margin-top: 1px;
	width: 72px;
}
#tovar .box2 .actionBlock .btn.buy{
	margin:0px 5px 0px 0px;
}
#tovar .box2 .actionBlock .btn.alt{
	margin:0px;
}
.viewBlock{
	margin: 5px 0px 2px;
}
.viewBlock span{
	display: block;
	float: left;
	margin-right: 0px;
}
.viewBlock span a{
	font: 13px/23px "Display";
	color: #333;
	padding: 0px 5px 0px;
	height: 23px;
	display: block;
	text-decoration: none;
	text-align: center;
	background:url(../img/dArrow2.png) no-repeat right center;
	position: relative;

	border: 1px solid #d3d8dc;
	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
	border-radius: 2px;
}
#content > a.more{
	font: 13px/23px "Display";
	color: #333;
	padding: 0px 15px 0px;
	height: 23px;
	display: block;
	text-decoration: none;
	text-align: center;
	background:url(../img/dArrow2.png) no-repeat right center;
	position: relative;

	border: 1px solid #d3d8dc;
	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
	border-radius: 15px;
}
.viewBlock span.first a{
	border-radius: 2px 0px 0px 2px;
}
.viewBlock span.last a{
	border-radius: 0px 2px 2px 0px;
}
.viewBlock span.current a{
	color: #333 !important;
}
table.feature {
	width: 100%;
	margin: 20px 0px 25px;
}
table.feature td,
table.feature th {
	border: 1px solid #d0d6db;
	text-align: left;
	font: 14px/18px "Display";
	color: #666666;
	padding: 10px;
}
table.feature th {
	font: 14px/18px "DisplayMedium";
}
table.feature tr.fill td,
table.feature tr.fill th{
	background:#fff;
}
#reviews {
}
#reviews .mark b{
	width: 12px;
	height: 12px;
	display: block;
	float: left;
	margin-right: 2px;
}
#reviews .mark{
	margin-top: 5px;
	margin-right: 5px;
}
#reviews .title{
	font: 18px "DisplayMedium";
	color: #333333;
}
#reviews p{
	margin: 10px 0px;
}
#reviews article{
	margin: 15px 0px 20px;
}
#reviews .info span{
	font: 13px/19px "Display";
	margin-right: 5px;
}
#reviews .info span.name,
#reviews .info span.name a{
	font: 13px/19px "DisplayBold";
	text-decoration: none;
}
#reviews form {
	background: #e0e8ed;
	border: 1px solid #c1c9cf;
	border-radius: 2px;
	padding: 20px 20px 15px;
	color: #333;
	margin-bottom: 25px;
}
#reviews form h3 {
	font: 14px "DisplayBold";
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#reviews form span{ color: #cc3333;}
#reviews form label,
#reviews form div.left,
#reviews form div.right{
	margin: 8px 0px;
}
#reviews form .input{
	width: 233px;
	margin-left: 15px;
	line-height: 23px;
	height: 23px;
	font-style: normal;
}
#reviews form textarea{
	border: 1px solid #d3d9dd;
	border-radius: 2px;
	background: #fefefe;
	box-shadow: inset 0px 1px 5px 0px #dbdfe4;
	font: 14px "Display";
	color: #616161;
	padding:10px;
	resize: none;
	width: 592px;
	height: 112px;
	position: relative;
	top: 5px;
}
#reviews form div.left label {
	margin-left: 12px;
}
#reviews form div.captcha img {
	display: block;
	border: 1px solid #c0c0c0;
	margin-left: 2px;
}
#reviews form input.captcha {
	width: 140px;
	position: relative;
	top: 5px;
}
#reviews form .btn {
	position: relative;
	top: 10px;
}
table.view3 td span.no,
table.view3 td span.low,
table.view3 td span.medium,
table.view3 td span.high {
	padding-left: 25px;
	height: 20px;
}
.radio {
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
}
.files{
	margin-top: 10px;
}
.files span a{
	display: block;
	padding: 7px 0px;
	padding-left: 28px;
}
.tovarAside div.made {
	margin: 35px 0px 15px;
	font: 18px "DisplayMedium";
	color: #333333;
}
.tovarAside img.made {
	padding: 5px;
	background: #fff;
	border: 1px solid #d0d6db;
}
.tovarAside div.courier {
	margin: 15px 0px 0;
	font: 18px/24px "DisplayMedium";
	color: #333333;
}
.tovarAside div.courier span {
	background:url(../img/courier.png);
	width: 32px;
	height: 24px;
	display: block;
	float: left;
	margin-right: 15px;
}


/* about */
#about {
	border-top: 1px solid #c5cbd0;
	border-bottom: 1px solid #c5cbd0;
	background: #e4eaef;
	margin-top: 40px;
}
#about .container{
	padding: 30px 0;
}
#about .text {
	width: 400px;
}
#about div.articles {
	width: 140px;
}
.bigIcons {
	width: 165px;
	margin-left: 145px;
	list-style: none;
}
.bigIcons li{
	border-bottom: 1px solid #dde1e5;
	border-top: 1px solid #fff;
	padding: 20px 0;
	position: relative;
}
.bigIcons li:first-child{border-top: none;}
.bigIcons li:last-child{border-bottom: none;}
.bigIcons li a{
	display: block;
	font: 18px "DisplayMedium";
	color: #333333;
	margin-bottom: 4px;
}
.bigIcons li a:hover{
	text-decoration: none;
}
.bigIcons li span{
	display: block;
	font: 14px "Display";
	color: #666;
}
.bigIcons li:after{
	content: "";
	display: block;
	position: absolute;
	width: 80px;
	height: 80px;
	top: 15px;
	left: -100px;
}
.bigIcons li.ico1{
	padding-top: 0px;
}
.bigIcons li.ico1:after{
	top: 0px;
}
.bigIcons li.ico1:after{background-position: 0px 0px;}
.bigIcons li.ico2:after{background-position: 0px -112px;}
.bigIcons li.ico3:after{background-position: 0px -224px;}





/* footer */
footer {
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 13px !important;
}

footer .tel{
	margin-top: 5px;
}
footer #copy {
	margin-top: 20px;
}
footer #copy *{
	font-size: 13px !important;
	line-height: 26px !important;
}
footer #astdesign {
	position: relative;
	margin-top: 20px;
	margin-right: 50px;
}
footer #astdesign *{
	font-size: 13px !important;
}
footer #astdesign .img {
	position: absolute;
	top: 20px;
	left: -40px;
}








/* Р В РЎвЂ™ Р РЋР РЉР РЋРІР‚С™Р В РЎвЂў Р В РЎвЂ”Р РЋР вЂљР В Р’В°Р В Р вЂ Р В РЎвЂР В Р’В»Р В Р’В° Р В РўвЂР В Р’В»Р РЋР РЏ Р РЋР С“Р В РЎвЂќР РЋР вЂљР В РЎвЂР В РЎвЂ”Р РЋРІР‚С™Р В Р’В°:  */
.slider {
	width: 145px;
	margin: 20px auto 15px;
}
.formCost input {
	width: 45px;
	padding: 0px;
	text-align: center;
	font-style: normal;
}

.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 6px;
	height: 18px;
	cursor: pointer;
	background:url(../img/range.png) no-repeat 1px -1px;

}
.ui-slider .ui-slider-handle:last-child {
	background:url(../img/range.png) no-repeat 1px -40px;

}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	overflow: hidden;

	background: url(../img/slider.png) no-repeat;background: -moz-linear-gradient(top,  rgba(117,160,0,0.7) 0%, rgba(117,160,0,0.7) 1%, rgba(117,160,0,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,160,0,0.7)), color-stop(1%,rgba(117,160,0,0.7)), color-stop(100%,rgba(117,160,0,0.7)));
	background: -webkit-linear-gradient(top,  rgba(117,160,0,0.7) 0%,rgba(117,160,0,0.7) 1%,rgba(117,160,0,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(117,160,0,0.7) 0%,rgba(117,160,0,0.7) 1%,rgba(117,160,0,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(117,160,0,0.7) 0%,rgba(117,160,0,0.7) 1%,rgba(117,160,0,0.7) 100%);
	background: linear-gradient(to bottom,  rgba(117,160,0,0.7) 0%,rgba(117,160,0,0.7) 1%,rgba(117,160,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b375a000', endColorstr='#b375a000',GradientType=0 );
}
.ui-slider-horizontal {
	 height: 3px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -5px;
	margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
	top: -5px;
	height: 13px;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-widget-content {
	border: 1px solid #D4D4D4;
	background: #fff;
}
.ui-widget-header {
	border: 1px solid #D4D4D4;
	background: #F00;
}
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 600;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 601;
	text-align: center;
	line-height: 0;
}
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-secNav { display: none;}

/*NEW*/
#tabs_wrapper .con_tab {display:none}
#tabs_wrapper .con_tab.active {display:block;}
.btn input {min-width:138px}
.error {outline: 1px solid red;}
div.title-search-result {z-index:100000!important}
.watch div.btn.active {margin: 15px 0px;}
.tableview.compare.active {font-weight: bold;}
#comparator_inner > p {text-align:center;margin: 100px 0px;}
#qorder {left: 50%;margin-left: -135px;top: 100px;width: 270px;}
.window.enter div.bx-auth-lbl,.bx-auth-serv-icons{text-align:left; margin-top: 0px;}
.bx-auth-serv-icons{margin-bottom: 5px;}

aside.right .title {font: 16px/20px "Display"!important;}
.img_ext {border: 1px solid #D0D6DB; margin:0 7px 7px 0}
div.news article.nodate .title {margin-top:0}

#comparator, .window, .window2, #qorder {display:none}
#content > h1 {padding-bottom:15px}
#content p {margin-top:0;}

.styled-form input[type="text"],.styled-form input[type="password"],.styled-form textarea{
    border: 1px solid #d3d9dd;
    border-radius: 2px;
    background: #fefefe;
    box-shadow: inset 0px 1px 5px 0px #dbdfe4;
    font: italic 14px "Display";
    color: #616161;
    padding: 5px 10px;
}
.styled-form input[type="submit"],.styled-form input[type="button"]{
    font: 15px/38px "DisplayMedium";
    color: #fff;
    text-transform: uppercase;
    display: block;
    height: 38px;
    border-radius: 2px;
    padding: 0px 13px;
    text-decoration: none;
    border: none;
    text-shadow: -1px -1px 1px #677d00;
    background: #bad000;
    background: -moz-linear-gradient(top,  #bad000 0%, #5d8f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bad000), color-stop(100%,#5d8f00));
    background: -webkit-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
    background: -o-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
    background: -ms-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
    background: linear-gradient(to bottom,  #bad000 0%,#5d8f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad000', endColorstr='#5d8f00',GradientType=0 );
}
.styled-form input[type="submit"]:active,
.styled-form input[type="button"]:active{
    box-shadow: inset 0px 2px 4px 0px #547a00;
    background: #5d8f00;
    background: -moz-linear-gradient(top,  #5d8f00 0%, #bad000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d8f00), color-stop(100%,#bad000));
    background: -webkit-linear-gradient(top,  #5d8f00 0%,#bad000 100%);
    background: -o-linear-gradient(top,  #5d8f00 0%,#bad000 100%);
    background: -ms-linear-gradient(top,  #5d8f00 0%,#bad000 100%);
    background: linear-gradient(to bottom,  #5d8f00 0%,#bad000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d8f00', endColorstr='#bad000',GradientType=0 );
}
ul.lsnn{margin: 5px 0;}
ul.lsnn li{margin-left: 20px;}
/*
hovers
*/
button:hover,input[type="button"]:hover,input[type="submit"]:hover{cursor: pointer;}
#popup_form_notify_success small, small.success {display:block;margin:7px}td.price {text-align:right!important}
.basketitem td.price {padding-right:25px}

.items.view3 td {line-height:25px}

.tableview.add2basket.active {color:green; border-bottom: 1px dotted green;}
/*Р В РЎС›Р РЋРЎвЂњР РЋР вЂљР РЋРІР‚РЋР В Р’ВµР В Р вЂ¦Р В РЎвЂќР В РЎвЂў Р В Р В Р вЂ Р В Р’В°Р В Р вЂ¦*/
.shadow {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000000;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 );
}
.windowBasket {
	display: none;
	position: absolute;
	box-shadow: 0px 2px 7px 0px #babcbe;
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
	top: 100px;
	left: 50%;
	margin-left: -460px;
	width: 880px;
	padding: 0px 20px 20px;
	z-index:1000001;
}
.windowBasket .title {
	border-radius: 2px 2px 0 0;
	height: 38px;
	font: 15px/38px "DisplayMedium";
	color: #f7f9fa;
	text-transform: uppercase;
	padding-left: 12px;
	width: 920px;
	margin-left: -20px;
}
.ie8 aside.filter .btn input {
	width: 138px;
	min-width: 0px !important;
}
.ie8 #comparator_inner .left table,
.ie9 #comparator_inner .left table {
	position: relative;
	top: -1px;
}
/*Z*/
.tovarAside div.service {
	margin: 15px 0px 20px 0;
	font: 14px/16px "DisplayMedium";
	color: #333333;
}
.tovarAside div.service span {
	background:url(../img/service.png);
	width: 32px;
	min-height: 29px;
	display: block;
	float: left;
	margin-right: 15px;
}
.p20 {display: block;margin-right: 20px !important;}
.inbrand article {margin-right: 70px;}
.inbrand a.title {height:auto;}

.news-related-products .items article{
    margin-right: 70px;
}
.news-related-products .items article label{
    display: none;
}
.watch.inNews{
    margin-bottom: 10px;
}
.watch.inNews .btn{
    margin: 15px;
    text-align: center;
}
.watch.inNews .btn a{
    padding: 0 8px;
}
