body {
    background: #f7f9fa;
}
.menu span {
    background: none;
}

#slides .slidesNext, #slides .slidesPrevious {
    text-indent: -9999px;
    _position: relative;
    top: 38px;
    width: 60px;
    height: 200px;
    display: block;
    z-index: 101;
    background: url(/img/color1/arrows.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
}
#slides .slidesPrevious {
    background-position: 0 -232px;
    left: 0;
    __top: -296px;
}

#slides .slidesPrevious:hover {
    background-position: 0 0px;
    border:none;
    outline: none;
    box-shadow: none;
}

#slides .slidesNext {
    background-position: -60px -232px;
    left: 870px;
}
#slides .slidesNext:hover {
    background-position: -60px 0px;
    outline: none;
    box-shadow: none;
}

#slides .slidesNext:after, #slides .slidesPrevious:after {
    text-indent: -9999px;
    position: relative;
    top: -270px;
    width: 60px;
    height: 200px;
    display: block;
    z-index: 101;
    background: url(/img/color1/arrows.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
}
body #slides .slide .box{
    bottom: 90px;
}
body .menu span{
    margin-right: 18px;
}
body .menu span a.selected{
    color: #E5210E;
}
body .window.catalog li.hasChilds > a + span{
    display: inline-block;
    height: 10px;
    width: 10px;
    /*background: url(/img/dArrow.png) top right no-repeat;*/
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    margin-left: 3px; 
}
body .window.catalog > ul > li.title{
    overflow: hidden;
}


table{
    width: 100%;
}

