.bx_filter .bx_filter_section {
    border: none !important;
    padding: 30px 6px 0 !important;
}

.bx_filter .bx_filter_parameters_box_title {
    font-size: 14px !important;
}

.smartfilter .bx_filter_parameters_box {
    width: 187px !important;
}

/* Доработки по виду каталога task_16190 */

.ast-section-list-item
.ast-section-list-titleblock {
    display: block !important;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateX(12px);
}

.ast-section-list-item
.ast-product-text {
    text-align: left;
}

.ast-section-list-item
.ast-series-img-block {
    margin-right: 16px;
}

.ast-section-list-item
.ast-section-list-imgblock {
    border: 0;
    background: none;
}

#content .ast-product-text ul {
    list-style-position: outside;
    margin: 20px 16px;
    list-style-type: unset;
}

/* task_16250 */

.window.catalog {
    background: #fff !important;
}

.category-item-menu .second-level, .third-level {
    background-color: rgb(181, 208, 216) !important;
}

.category-item-menu .second-level:hover, .third-level:hover {
    background-color: rgba(74, 100, 108, 0.6) !important;
}

body #order_cart_header a {
    padding: 0 25px !important;
}

.btn.darrow a .b {
    height: 38px !important;
}

body .btn.darrow a {
    padding: 0px 50px 0px 13px !important;
}

header #search input, .search-page-form input {
    height: 38px !important;
    width: 93% !important;
}

header #search button, .search-page-form input[type="submit"] {
    height: 38px !important;
}

.btn.catalog.darrow > a {
    width: 200px !important;
    height: 40px;
}

nav.menu {
    margin: 0 !important;
}

.menu span a {
    font-size: 14px !important;
}

#top100_widget {
    display: none !important;
}

#logo {
    width: auto !important;
}

.menu span {
    margin-right: 20px;
    padding-right: 12px;
    background: url(/css/../img/color1/rArrow.png) no-repeat right 4px;
}

body .btn.call a {
    padding: 0px 30px 0px 67px !important;
    height: 38px !important;
}

.btn.call a .b {
    height: 38px !important;
}

body header #search {
    width: 560px !important;
}

.buttons a {
    font-size: 16px !important;
}

.logo-container {
    width: 840px !important;
}

.tel a {
    font-size: 20px !important;
}

header #basket {
    border: 0 !important;
    background: none !important;
    margin-right: 0 !important;
    height: auto;
    margin-top: 40px;
}

header #basket .inf {
    font-size: 14px !important;
}

header #basket:active {
    box-shadow: none;
}

header .vcard {
    margin-top: 15px;
}

header .buttons {
    padding-top: 0px !important;
}

header #basket {
    width: 196px !important;
}

/* task_16250 END*/

.button-prices-more {
    background-color: #008bc1;
    padding: 8px 16px;
    border: 0;
    color: #fff;
    text-shadow: none;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    transition: 200ms ease-in-out;
    margin-top: 16px;
}

.button-prices-more:hover {
    opacity: 0.7;
}

ul.category-popup-item-menu li:hover ul {
    display: none !important;
}

/* task_16289 */

.element-detail .buttons .btn.catalog:hover .catalog_left {
    display: block;
}

.element-detail .catalog_left {
    display: none;
    position: absolute;
    left: 0;
    z-index: 100;
    width: 262px;
    background-color: #fff;
    top: -10px;
}

.element-detail .right_block {
    width: 100% !important;
}

.element-detail .right.filter {
    display: none;
}

.element-detail #content.big2 {
    width: 100% !important;
}

.element-detail #tovar .box2 {
    width: 860px !important;
    margin-left: 40px;
	padding:25px;
	background:#f2fafd;
}

.element-detail #tovar .box2 h1 {
	font-size:22px;
}

.element-detail #setEview {
    display: none;
}

.element-detail #tabs_wrapper .category {
    display: none !important;
}

.element-detail #con_tab1 {
    float: right;
	width:100%;
}

.element-detail #con_tab0 {
    margin-top: 20px;
}

.element-detail #tabs_wrapper .con_tab {
    display: block !important;
    max-width: calc(50%);
}

.element-detail #tabs_wrapper {
    /*margin-left: -16px;*/
    /*margin-right: -16px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.element-detail #reviews {
    width: 100%;
}

#con_tab0 {
    float: left;
}

.element-detail #reviews .btn {
    float: right;
}

.element-detail #tabs_wrapper h2.ma {
    display: block;
    width: 100%;
}

.element-detail #tabs_wrapper #con_tab1 h2.ma {
    display: block;
    width: 100%;
    margin-top: 0;
}

.element-detail .tratata {
    margin-top: 20px;
}

.element-detail #review_form label.right {
    float: left;
    margin-left: 16px;
}

.element-detail #reviews form textarea {
    width: 90%;
}

.element-detail .btn.alt.right {
    float: left;
}

.element-detail-review {
    width: 100%;
    display: block;
    padding: 0 8px;
}

.element-detail__descr, .element-detail__table {
    display: block !important;
    max-width: calc(50%);
    float: right;
}

.element-detail__main-info {
    width: 100%;
    padding: 0 16px;
}

.element-detait .ast-block-information {
    width: 100%;
    margin-top: 32px;
}

.element-detail #reviews {
    float: left;
}


.nobg {background:none;}
.nobg header.container {padding-top:0;}
.header-top {background:#fff; float:left; position:relative; z-index:1000; padding-bottom:15px;}
.header-top .col-01 {float:left; width:380px;}
.header-top .col-01 .logo span {display:block; float:right; font:22px "Display"; color:#555; margin-top:40px; margin-right:10px; width:265px; text-transform:uppercase;}
.header-top .col-01 #Layer_1 {width:100px;}
.header-top .col-02 {float:left; width:620px; margin-top:30px;}
.header-top .col-03 {float:right; width:280px; margin-top:20px;}

.header-top .col-02 .line1 span {vertical-align:top;}
.header-top .col-02 .line1 .tel1 {display:inline-block; position:relative; padding-left:30px;}
.header-top .col-02 .line1 .tel1 a {color:#0b6ea6; font-size:28px; line-height:32px; text-decoration:none;}
.header-top .col-02 .line1 .tel1:before {content:''; width:22px; height:31px; position:absolute; top:0; left:0; background:url('/img/ic/main-phone-ic.png') no-repeat 0 0;}

.header-top .col-02 .line1 .tel2 {display:inline-block; position:relative; padding-left:20px;  font-size:20px; line-height:32px; margin-left:25px; color:#333;}
.header-top .col-02 .line1 .tel2:before {content:''; width:14px; height:19px; position:absolute; top:5px; left:0; background:url('/img/ic/mobile-phone-ic.png') no-repeat 0 0;}

.header-top .col-02 .line1 .relative {display:inline-block;}
.header-top .col-02 .line1 .btn.call {display:inline-block;}
.header-top .col-02 .line1 .btn-callback {display:inline-block; height:auto !important; background:#fbe634 !important; color:#555; font-size:16px; text-transform:none; line-height:16px; padding:10px 30px !important; margin:-3px 0 0 35px; border-radius:25px; box-shadow:0 0 13px rgba(100,100,100,0.3); text-decoration:none; border:0;}
.header-top .col-02 .line1 .btn-callback:hover {background:#fcf558;}
.header-top .col-02 .line1 .window.call {right:0;}

.header-top .col-02 .line2 {margin-top:10px !important;}
.header-top .col-02 .line2 span {vertical-align:top;}
.header-top .col-02 .line2 .address {display:inline-block; width:200px; position:relative; padding-left:20px; font-size:18px;}
.header-top .col-02 .line2 .address:before {content:''; width:15px; height:19px; position:absolute; top:50%; left:0; transform:translate(0,-50%); background:url('/img/ic/map-ic.png') no-repeat 0 0;}

.header-top .col-02 .line2 .worktime {display:inline-block; width:100px; font-size:16px; margin-top:3px;}

.header-top .col-02 .line2 .email {display:inline-block; position:relative; padding-left:25px; margin-top:13px; margin-left:35px;}
.header-top .col-02 .line2 .email:before {content:''; width:20px; height:15px; position:absolute; top:4px; left:0; background:url('/img/ic/mail-ic.png') no-repeat 0 0;}
.header-top .col-02 .line2 .email a {color:#0b6ea6; font-size:18px;}

.header-top .col-02 .line2 .btn-soc {display:inline-block; width:35px; height:34px; background:url('/img/ic/insta-ic.png') no-repeat 0 0;  margin:5px 0 0 30px;}

.header-top .col-03 .auth-block {}
.header-top .col-03 .auth-block #reg,
.header-top .col-03 .auth-block #enter {border:0; background-position:15px 2px;}
.header-top .col-03 .auth-block #reg a,
.header-top .col-03 .auth-block #enter a {margin-top:0; font-size:16px; color:#555;}
.header-top .col-03 #basket {margin-top:0; height:auto; width:186px !important}
.header-top .col-03 #basket:before {content:''; width:54px; height:44px; position:absolute; top:50%; left:-44px; transform:translate(0,-50%); background:url('/img/ic/basket-ic.png') no-repeat 0 0;}
.header-top .col-03 #basket .title a {text-transform:none;}
.header-top .col-03 #basket .link-to-order a {color:#0b6ea6; font-size:16px;}

.header-top .menu-top {float:left; clear:both; width:100%; background:linear-gradient(to bottom, #3e8fbc 10%, #096ca4 100%); padding:4px 0;}
.header-top .menu-top nav.menu {width:100%; text-align:center;}
.header-top .menu-top span {margin:0; padding:0; background:none;}
.header-top .menu-top a {font:18px/38px "DisplayMedium" !important; color:#fff; text-transform:uppercase; text-decoration:none; padding:5px 15px; margin:0 !important;}
.header-top .menu-top a.selected,
.header-top .menu-top a:hover {color:#fff !important; border-bottom:5px solid #fff; text-decoration:none;}

.nobg header #search {width:980px !important}
.nobg header #search button {right:-20px;}
.nobg header #search input {width:100% !important;}


/* Печать */

@media print {
    .printPage .container {
        margin: 0 auto !important;
    }

    .logo-container {
        width: auto !important;
    }

    .element-detail #tovar .box2 {
        width: 510px !important;
    }

    p img {
        width: 160px;
        height: 160px;
        margin-top: 20px;
    }

    iframe {
        display: none;
    }
}

/* task_16289 END */

.catalog_element .items article.productBlock {
    width: 220px;
}

.catalog_element .items article.productBlock .alt.btn.cat.right {
    margin-right: 9px;
}

.catalog_element .items article.productBlock .alt.btn.cat.right a {
    height: auto;

}

.catalog_element .items article.productBlock .clear {
    padding-top: 20px;
}

.catalog_element .items .price {
    font-size: 21px;
    padding-bottom: 5px;
}

a.how-button {
    display: block;
    padding: 0px 10px;
    font: 14px/30px "Display";
    color: #333333;
    text-decoration: none;
    height: 30px;
    border: 1px solid #d3d8dc;
    border-radius: 15px;
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfc), color-stop(100%, #e9ecf0));
    background: -webkit-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -o-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%, #e9ecf0 100%);
    background: linear-gradient(to bottom, #fafbfc 0%, #e9ecf0 100%);
    float: left;
}

.category.clear {
    padding-top: 0;
}

#ast_sect_popup {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    display: none;
    -webkit-filter: blur(0);
    filter: blur(0);
    font-size: 16px;
    line-height: 1.2;
}

#ast_sect_popup * {
    box-sizing: border-box;
    transition: 0.5s;
}

#ast_sect_popup_bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /*background: rgba(0,0,0,0);*/
    background: rgba(0, 0, 0, 0.4);
}

.ast_sect_popup_close {
    background: url(img/close.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 60px;
    right: 10px;
    cursor: pointer;
}

#ast_sect_popup_window {
    padding: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 3px;
    box-shadow: 0 0 50px #fff;
    text-align: center;
    font-size: 18px;
    width: 600px;
    height: 444px;
    overflow: auto;

    top: 50%;

    position: absolute;
    /*top: 150%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    max-width: 90%;
    background-size: cover;
}

#ast_sect_popup_window .MRP_HEADER {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #434343;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#ast_sect_popup_window .P_BODY {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#ast_sect_popup_window .P_BODY .MRP_SUBJECT {
    font-size: 150%;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#ast_sect_popup_window .PROPS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#ast_sect_popup_window .PROPS > div {
    padding: 5px;
    flex: 0 0 33.33%;
}
#ast_sect_popup_window .mrp_input {
    position: relative;
}

#ast_sect_popup_window input {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 100%;
}

#ast_sect_popup_window button, #knet_mrp_popup .button {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    position: relative;
    text-decoration: none;
}

form .agreement {position:relative; overflow:hidden; margin:10px 0;}
form .agreement input[type="checkbox"] {position:absolute; top:-3px; cursor:pointer; width:auto !important;}
form .agreement label {text-align:left; padding-left:30px; height:auto !important; margin:0 !important; line-height:16px !important; }
form .agreement label a {padding:0 !important;}
#formRequest .agreement label {color:#fff;}


.similar-products {float:left; width:100%;}
.similar-products .hdr {font:21px/30px "DisplayMedium"; color:#333; padding-bottom:10px;}
.similar-products .item {float:left; width:177px; height:260px; border:1px solid #ccc; padding:15px; margin:0 15px 15px 0;}
.similar-products .item .img {height:180px; position:relative;}
.similar-products .item img {max-width:100%; max-height:100%; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
.owl-cards-list .owl-nav {position:absolute; top:-40px; right:0; width:80px;}
.owl-cards-list .owl-nav .owl-prev,
.owl-cards-list .owl-nav .owl-next {position:absolute; width:30px; height:30px; border:1px solid #ccc; color:#ccc;}
.owl-cards-list .owl-nav .owl-prev {right:45px;}
.owl-cards-list .owl-nav .owl-next {right:0px;}
.owl-cards-list .owl-nav .owl-prev::before,
.owl-cards-list .owl-nav .owl-next::before {position:absolute; display:block; width:30px; height:30px; left:-1px; font:20px/26px FontAwesome; text-align:center; border:1px solid tranparent;}
.owl-cards-list .owl-nav .owl-prev::before {content:'\f104';}
.owl-cards-list .owl-nav .owl-next::before {content:'\f105';}
