.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}
.productBlock .viewP a {padding: 0 33px}
.productBlock .viewP3 {padding: 0 42px}
.viewPWait {margin-bottom:3px!important}