.name_costom
{
	    font-size: 18px;
    text-align: center;
}

.subt li{
    display:inline-flex;
    margin-right: 25px !important;
}

.item-sub-3{
    width:16%;
        width: 16%;
    text-align: center;
    display: inline-block;
}