/*
#interview-form {

}
*/
#interview input[type="radio"] {
  float: right;
}
#interview label {
    float: right;
    font-size: 16px;
    padding-right: 25px;
    padding-left: 10px;
    margin-top: -8px;
}
#interview div[class^="field"] {
  float: left;
}
#interview .form-head {
    color: #14b6e7;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 0;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
#interview .buttonform {
  text-align: left;
  float: none !important;
  margin-top: 31px;
}
#interview {
  margin: 10px auto;
  border: 2px solid #14b6e7;
  border-radius: 10px;
}
#interview textarea {
  border: 1px solid #14b6e7;
  min-height: 2rem;
  width: 100%;

}
#interview input[type="submit"]{
  background-color: #14b6e7;
  opacity: 1;
  font-size: 16px;
  padding: 10 20px;
}
#interview input[type="submit"]:hover {
  opacity: 0.8;
}
#interview #table-cr {
  width: 100%;
}
#interview #table-cr table {
  border: 0;
  width: 100%
}
#interview #table-cr table td {
  border: 0;
  width: 50%;
  padding: 0 20px;
}
#interview .nowrap {
  white-space: nowrap;
}
#interview .bottom-1 {
  margin-bottom: 20px;
}